{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.users.title{{/i18n}}</h1>
</div>

<div class="container-xxl">
    <div class="mxt-btn-container pb-3">
        {{#i18n}}admin.users.count{{/i18n}} : <b>{{users.size}}</b>
        <div class="flex-fill"></div>
        <a  class="mxt-btn-light" href="/admin/users/create">{{#i18n}}common.actions.create{{/i18n}}</a>
    </div>
    <div class="row">
        <form action="/admin/users/search" method="post"
              class="col-12 col-lg-6 mb-3 d-flex align-content-center">
            <input type="text" name="criteria" class="form-control me-3"/>
            <button type="submit" class="btn btn-primary mxt-btn-light">Filter</button>
        </form>
    </div>
    <table class="table-striped table table-bordered">
      <thead>
        <tr>
            <th>{{#i18n}}admin.users.table.lastname{{/i18n}}</th>
            <th>{{#i18n}}admin.users.table.firstname{{/i18n}}</th>
            <th>{{#i18n}}admin.users.table.login{{/i18n}}</th>
            <th></th>
            <th>{{#i18n}}admin.users.table.email{{/i18n}}</th>
            <th style="width: 8em">{{#i18n}}common.actions{{/i18n}}</th>
        </tr>
      </thead>
      <tbody>
        {{#users}}
        <tr>
            <td>{{lastname}}</td>
            <td>{{firstname}}</td>
            <td>{{login}}</td>
            <td>{{role}}</td>
            <td>{{#email}}<img src="/images/svg/mxt-icon--mail.svg" class="mxt-icon--social" alt="Mail">{{/email}}</td>
            <td class="mxt-btn-container">
                <a href="/admin/users/edit/{{login}}" class="mxt-btn-light">
                    <img src="/images/svg/mxt-search-dark.svg" class="mxt-icon--cat__talks"
                         title="{{#i18n}}common.actions.update{{/i18n}}"/>
                </a>
            </td>
        </tr>
        {{/users}}
      </tbody>
    </table>
</div>

{{> footer}}
