{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.event.images.title{{/i18n}}</h1>
</div>

<div class="container-xxl">
    <form action="/admin/events/images" method="post" class="row">
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.images.form.id{{/i18n}}</label>
            {{#creationMode}}
                <input class="form-control" type="text" name="event" required/>
            {{/creationMode}}
            {{^creationMode}}
                <input class="form-control" type="text" value="{{event.event}}" disabled="true"/>
                <input type="hidden" name="event" value="{{event.event}}"/>
            {{/creationMode}}
        </div>
        <div class="col-12 mb-3 text-center">
            <input type="submit" class="btn btn-outline-primary expand" value="{{#i18n}}common.actions.save{{/i18n}}"/>
        </div>

        {{^creationMode}}

            <h3>{{#i18n}}admin.event.images.sections.text{{/i18n}}&nbsp;</h3>

            <div class="callout">
                <p>{{#i18n}}admin.event.images.sections.count{{/i18n}} : <b>{{event.sections.size}}</b> |
                    <a href="/admin/events/images/{{event.event}}/sections/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{#i18n}}admin.event.images.sections.table.name{{/i18n}}</th>
                        <th>{{#i18n}}admin.event.images.sections.table.i18n{{/i18n}}</th>
                        <th>{{#i18n}}common.actions{{/i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#event.sections}}
                        <tr>
                            <td>{{sectionId}}</td>
                            <td>{{i18n}}</td>
                            <td>
                                <a href="/admin/events/images/{{event.event}}/sections/edit/{{sectionId}}">Update</a>
                            </td>
                        </tr>
                    {{/event.sections}}
                    </tbody>
                </table>
            </div>
        {{/creationMode}}
    </form>
</div>

{{> footer}}
