{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.ticket.title{{/i18n}}</h1>
    <p class="text-center mxt-text--page-title">{{#i18n}}admin.ticket.text{{/i18n}}</p>

    <div class="mxt-btn-container">
        <form action="/admin/ticket/import/staff" method="post"
              onsubmit="return confirm('Are you sure to import staff members ?');">
            <button class="mxt-btn-primary me-3">Import staff</button>
        </form>
        <form action="/admin/ticket/import/volunteers" method="post"
              onsubmit="return confirm('Are you sure to import volunteer members ?');">
            <button class="mxt-btn-primary me-3">Import volunteers</button>
        </form>
<!--        <form action="/admin/ticket/import/speakers" method="post"-->
<!--              onsubmit="return confirm('Are you sure to import speakers ?');">-->
<!--            <button class="mxt-btn-primary me-3">Import speakers</button>-->
<!--        </form>-->
<!--        <form action="/admin/ticket/import/sponsors" method="post"-->
<!--              onsubmit="return confirm('Are you sure to import sponsors ?');">-->
<!--            <button class="mxt-btn-primary me-3">Import sponsors</button>-->
<!--        </form>-->
    </div>
    <div class="row text-center pt-2 pb-2">
        <div class="col-4"></div>
        <form action="/admin/ticket/search" method="post" class="col-4 text-center" name="search">
        <select class="form-control" name="type" onchange="document.forms.namedItem('search').submit()">
            <option value="null">{{#i18n}}admin.ticket.type{{/i18n}}</option>
            {{#types}}
                <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
            {{/types}}
        </select>
        </form>
    </div>
</div>

<div class="container-xxl">
    <div class="mxt-btn-container pb-3">
        {{#i18n}}admin.ticket.count{{/i18n}} : <b>{{tickets.size}}</b>
        <div class="flex-fill"></div>
        <a  class="mxt-btn-light" href="/admin/ticket/create">{{#i18n}}common.actions.create{{/i18n}}</a>
        <a  class="mxt-btn-light ms-3" href="/admin/ticket/print">Print</a>
    </div>
    <table class="table-striped table table-bordered">
        <thead>
        <tr>
            <th>{{#i18n}}admin.ticket.number{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.pronoun{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.firstname{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.lastname{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.type{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.en{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.email{{/i18n}}</th>
            <th style="width: 8em">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#tickets}}
            <tr>
                <th>{{number}}</th>
                <td>{{#pronoun}}{{pronoun}}{{/pronoun}}</td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{type}}</td>
                <td>{{#englishSpeaker}}{{englishSpeaker}}{{/englishSpeaker}}</td>
                <td><a href="mailto:{{email}}">{{email}}</a></td>
                <td class="mxt-btn-container">
                    <a href="/admin/ticket/edit/{{number}}" class="mxt-btn-light">
                        <img src="/images/svg/mxt-search-dark.svg" class="mxt-icon--cat__talks"
                             title="{{#i18n}}common.actions.update{{/i18n}}"/>
                    </a>
                </td>
            </tr>
        {{/tickets}}
        </tbody>
    </table>
</div>

{{> footer}}
