{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}admin.event.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    <form action="/admin/events" method="post" class="row">
        <h3>{{#i18n}}admin.event.text{{/i18n}}&nbsp;</h3>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.form.id{{/i18n}}</label>
            {{#creationMode}}
                <input class="form-control" type="text" name="eventId" value="{{event.id}}" required/>
            {{/creationMode}}
            {{^creationMode}}
                <input class="form-control" type="text" value="{{event.id}}" disabled="true"/>
                <input type="hidden" name="eventId" value="{{event.id}}"/>
            {{/creationMode}}
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.form.start{{/i18n}}</label>
            <input class="form-control" type="text" name="start" value="{{event.start}}" required/>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.form.end{{/i18n}}</label>
            <input class="form-control" type="text" name="end" value="{{event.end}}" required/>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.form.photo{{/i18n}}</label>
            <input class="form-control" type="text" name="photoUrls" {{#links}}value="{{links}}"{{/links}}/>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.form.video{{/i18n}}</label>
            <input class="form-control" type="text" name="videoUrl" {{#videolink}}value="{{videolink}}"{{/videolink}}/>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.form.planning{{/i18n}}</label>
            <input class="form-control" type="text" name="schedulingFileUrl" {{#event.schedulingFileUrl}}value="{{event.schedulingFileUrl}}"{{/event.schedulingFileUrl}}/>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">
                {{#i18n}}admin.event.form.current{{/i18n}}&nbsp;
                <input type="checkbox" name="current" value="true" {{#event.current}}checked{{/event.current}}/>
            </label>
        </div>
        <div class="col-12 mb-3 text-center">
            <input type="submit" class="btn btn-outline-primary expand" value="{{#i18n}}common.actions.save{{/i18n}}"/>
        </div>

        {{^creationMode}}

            <h3>{{#i18n}}admin.event.organizations.text{{/i18n}}&nbsp;</h3>

            <div class="callout">
                <p>{{#i18n}}admin.event.organizations.count{{/i18n}} : <b>{{event.organizations.size}}</b> |
                    <a href="/admin/events/{{event.id}}/organizations/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{#i18n}}admin.event.organizations.table.login{{/i18n}}</th>
                        <th>{{#i18n}}common.actions{{/i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#event.organizations}}
                        <tr>
                            <td>{{organizationLogin}}</td>
                            <td>
                                <a href="/admin/events/{{event.id}}/organizations/edit/{{organizationLogin}}">{{#i18n}}common.actions.update{{/i18n}}</a>
                            </td>
                        </tr>
                    {{/event.organizations}}
                    </tbody>
                </table>
            </div>

            <h3 class="mt-3">{{#i18n}}admin.event.sponsors.text{{/i18n}}&nbsp;</h3>

            <div class="callout">
                <p>{{#i18n}}admin.events.sponsors.count{{/i18n}} : <b>{{event.sponsors.size}}</b> | <a href="/admin/events/{{event.id}}/sponsors/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{#i18n}}admin.event.sponsors.table.level{{/i18n}}</th>
                        <th>{{#i18n}}admin.event.sponsors.table.sponsorId{{/i18n}}</th>
                        <th>{{#i18n}}admin.event.sponsors.table.subdate{{/i18n}}</th>
                        <th>{{#i18n}}common.actions{{/i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#event.sponsors}}
                        <tr>
                            <td>{{level}}</td>
                            <td>{{sponsorId}}</td>
                            <td>{{subscriptionDate}}</td>
                            <td>
                                <a href="/admin/events/{{event.id}}/sponsors/edit/{{sponsorId}}/{{level}}">{{#i18n}}common.actions.update{{/i18n}}</a>
                            </td>
                        </tr>
                    {{/event.sponsors}}
                    </tbody>
                </table>
            </div>

            <h3>{{#i18n}}admin.event.organizers.text{{/i18n}}&nbsp;</h3>

            <div class="callout">
                <p>{{#i18n}}admin.event.organizers.count{{/i18n}} : <b>{{event.organizers.size}}</b> |
                    <a href="/admin/events/{{event.id}}/organizers/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{#i18n}}admin.event.organizers.table.login{{/i18n}}</th>
                        <th>{{#i18n}}common.actions{{/i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#event.organizers}}
                        <tr>
                            <td>{{organizerLogin}}</td>
                            <td>
                                <a href="/admin/events/{{event.id}}/organizers/edit/{{organizerLogin}}">{{#i18n}}common.actions.update{{/i18n}}</a>
                            </td>
                        </tr>
                    {{/event.organizers}}
                    </tbody>
                </table>
            </div>

            <h3>{{#i18n}}admin.event.volunteers.text{{/i18n}}&nbsp;</h3>

            <div class="callout">
                <p>{{#i18n}}admin.event.volunteers.count{{/i18n}} : <b>{{event.volunteers.size}}</b> |
                    <a href="/admin/events/{{event.id}}/volunteers/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{#i18n}}admin.event.volunteers.table.login{{/i18n}}</th>
                        <th>{{#i18n}}common.actions{{/i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#event.volunteers}}
                        <tr>
                            <td>{{volunteerLogin}}</td>
                            <td>
                                <a href="/admin/events/{{event.id}}/volunteers/edit/{{volunteerLogin}}">{{#i18n}}common.actions.update{{/i18n}}</a>
                            </td>
                        </tr>
                    {{/event.volunteers}}
                    </tbody>
                </table>
            </div>
        {{/creationMode}}
    </form>
</div>

{{> footer}}
