{{> header}}

<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.title{{/i18n}}</h1>

    <div class="grid">
        {{#admin}}
            <article class="g-col-lg-4 g-col-md-6 g-col-12">
                <div class="card p-3" style="height:100%">
                    <h2 class="card-title"><a href="{{localePrefix}}/admin/feedbacks/2025"
                                              class="mxt-title--article">{{#i18n}}admin.feedback.title{{/i18n}}</a></h2>
                    <p class="card-text">{{#i18n}}admin.feedback.description{{/i18n}}</p>
                    <p class="input-group mxt-btn-container">
                        <a href="{{localePrefix}}/admin/feedbacks/2025"
                           class="mxt-btn-light mr-2">{{#i18n}}admin.link{{/i18n}}</a>
                    </p>
                </div>
            </article>
            <article class="g-col-lg-4 g-col-md-6 g-col-12">
                <div class="card p-3" style="height:100%">
                    <h2 class="card-title"><a href="{{localePrefix}}/admin/events"
                           class="mxt-title--article">{{#i18n}}admin.events.title{{/i18n}}</a></h2>
                    <p class="card-text">{{#i18n}}admin.events.text{{/i18n}}</p>
                    <p class="input-group mxt-btn-container">
                        <a href="{{localePrefix}}/admin/events"
                           class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                    </p>
                </div>
            </article>
            <article class="g-col-lg-4 g-col-md-6 g-col-12">
                <div class="card p-3" style="height:100%">
                    <h2 class="card-title"><a href="{{localePrefix}}/admin/events/images"
                                              class="mxt-title--article">{{#i18n}}admin.events.images.title{{/i18n}}</a></h2>
                    <p class="card-text">{{#i18n}}admin.events.images.text{{/i18n}}</p>
                    <p class="input-group mxt-btn-container">
                        <a href="{{localePrefix}}/admin/events/images"
                           class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                    </p>
                </div>
            </article>
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/admin/users"
                       class="mxt-title--article">{{#i18n}}admin.users.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.users.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                <a href="{{localePrefix}}/admin/users"
                   class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                </p>
            </div>
        </article>
            <article class="g-col-lg-4 g-col-md-6 g-col-12">
                <div class="card p-3" style="height:100%">
                    <h2 class="card-title"><a href="{{localePrefix}}/admin/users-newsletter"
                                              class="mxt-title--article">{{#i18n}}admin.users.newsletter.title{{/i18n}}</a></h2>
                    <p class="card-text">{{#i18n}}admin.users.newsletter.text{{/i18n}}</p>
                    <p class="input-group mxt-btn-container">
                        <a href="{{localePrefix}}/admin/users-newsletter"
                           class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                    </p>
                </div>
            </article>
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/admin/talks"
                       class="mxt-title--article">{{#i18n}}admin.talks.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.talks.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                    <a href="{{localePrefix}}/admin/talks"
                   class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                </p>
            </div>
        </article>
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/admin/blog"
                       class="mxt-title--article">{{#i18n}}admin.blog.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.blog.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                <a href="{{localePrefix}}/admin/blog"
                   class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                </p>
            </div>
        </article>
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/admin/lottery"
                                          class="mxt-title--article">{{#i18n}}admin.ticketing.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.ticketing.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                    <a href="{{localePrefix}}/admin/lottery"
                       class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                </p>
            </div>
        </article>
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/admin/ticket"
                                          class="mxt-title--article">{{#i18n}}admin.ticket.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.ticket.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                    <a href="{{localePrefix}}/admin/ticket"
                       class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                </p>
            </div>
        </article>
<!--        <article class="g-col-lg-4 g-col-md-6 g-col-12">-->
<!--            <div class="card p-3" style="height:100%">-->
<!--                <h2 class="card-title"><a href="{{localePrefix}}/admin/mailings"-->
<!--                       class="mxt-title--article">{{#i18n}}mailing.title{{/i18n}}</a></h2>-->
<!--                <p class="card-text">{{#i18n}}mailing.text{{/i18n}}</p>-->
<!--                <p class="input-group">-->
<!--                <a href="{{localePrefix}}/admin/mailings"-->
<!--                   class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </article>-->
            <article class="g-col-lg-4 g-col-md-6 g-col-12">
                <div class="card p-3" style="height:100%">
                    <h2 class="card-title"><a href="{{localePrefix}}/admin/mailing-lists"
                                              class="mxt-title--article">{{#i18n}}mailinglist.title{{/i18n}}</a></h2>
                    <p class="card-text">{{#i18n}}mailinglist.text{{/i18n}}</p>
                    <p class="input-group mxt-btn-container">
                        <a href="{{localePrefix}}/admin/mailing-lists"
                           class="mxt-btn-light">{{#i18n}}admin.link{{/i18n}}</a>
                    </p>
                </div>
            </article>
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/admin/mixette-organization"
                       class="mxt-title--article">{{#i18n}}admin.donations.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.donations.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                <a href="{{localePrefix}}/admin/mixette-organization"
                   class="mxt-btn-light">{{#i18n}}admin.donations.link.orga{{/i18n}}</a>&nbsp;
                <a href="{{localePrefix}}/admin/mixette-donor"
                   class="mxt-btn-light">{{#i18n}}admin.donations.link.donor{{/i18n}}</a>
                </p>
            </div>
        </article>
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/admin/cache"
                       class="mxt-title--article">{{#i18n}}admin.cache.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.cache.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                    <a href="{{localePrefix}}/admin/cache"
                   class="mxt-btn-light mr-2">{{#i18n}}admin.link{{/i18n}}</a>
                </p>
            </div>
        </article>
            <article class="g-col-lg-4 g-col-md-6 g-col-12">
                <div class="card p-3" style="height:100%">
                    <h2 class="card-title"><a href="{{localePrefix}}/admin/features"
                                              class="mxt-title--article">{{#i18n}}admin.feature{{/i18n}}</a></h2>
                    <p class="card-text">{{#i18n}}admin.feature.desc{{/i18n}}</p>
                    <p class="input-group mxt-btn-container">
                        <a href="{{localePrefix}}/admin/features"
                           class="mxt-btn-light mr-2">{{#i18n}}admin.link{{/i18n}}</a>
                    </p>
                </div>
            </article>
            <article class="g-col-lg-4 g-col-md-6 g-col-12">
                <div class="card p-3" style="height:100%">
                    <h2 class="card-title"><a href="{{localePrefix}}/admin/faq"
                                              class="mxt-title--article">{{#i18n}}admin.faq.title{{/i18n}}</a></h2>
                    <p class="card-text">{{#i18n}}admin.faq.description{{/i18n}}</p>
                    <p class="input-group mxt-btn-container">
                        <a href="{{localePrefix}}/admin/faq"
                           class="mxt-btn-light mr-2">{{#i18n}}admin.link{{/i18n}}</a>
                    </p>
                </div>
            </article>
        {{/admin}}
        {{#volunteer}}
        <article class="g-col-lg-4 g-col-md-6 g-col-12">
            <div class="card p-3" style="height:100%">
                <h2 class="card-title"><a href="{{localePrefix}}/volunteer/mixette-organization"
                                          class="mxt-title--article">{{#i18n}}admin.donations.title{{/i18n}}</a></h2>
                <p class="card-text">{{#i18n}}admin.donations.text{{/i18n}}</p>
                <p class="input-group mxt-btn-container">
                    <a href="{{localePrefix}}/volunteer/mixette-organization"
                       class="mxt-btn-light">{{#i18n}}admin.donations.link.orga{{/i18n}}</a>&nbsp;
                    <a href="{{localePrefix}}/volunteer/mixette-donor"
                       class="mxt-btn-light">{{#i18n}}admin.donations.link.donor{{/i18n}}</a>
                </p>
            </div>
        </article>
        {{/volunteer}}
    </div>
</div>

{{> footer}}
