{{> header}}
{{> header-common }}

<div class="mxt-wrapper--header-page-title">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.ticket.title{{/i18n}}</h1>
    <p class="text-center mxt-text--page-title">{{#i18n}}admin.ticket.text{{/i18n}}</p>
</div>

<div class="container">
    <div class="row">
        <form action="/admin/ticket/import/staff" method="post" class="col text-center"
              onsubmit="return confirm('Are you sure to import staff members ?');">
            <input type="submit" class="btn btn-primary mxt-btn-primary" value="Import staff"/>
        </form>
        <form action="/admin/ticket/import/volunteers" method="post" class="col text-center"
              onsubmit="return confirm('Are you sure to import volunteer members ?');">
            <input type="submit" class="btn btn-primary mxt-btn-primary" value="Import volunteers"/>
        </form>
        <form action="/admin/ticket/import/speakers" method="post" class="col text-center"
              onsubmit="return confirm('Are you sure to import speakers ?');">
            <input type="submit" class="btn btn-primary mxt-btn-primary" value="Import speakers"/>
        </form>
        <form action="/admin/ticket/import/sponsors" method="post" class="col text-center"
              onsubmit="return confirm('Are you sure to import sponsors ?');">
            <input type="submit" class="btn btn-primary mxt-btn-primary" value="Import sponsors"/>
        </form>
    </div>
    <div class="row text-center pt-2 pb-2">
        <div class="col-4"></div>
        <form action="/admin/ticket/search" method="post" class="col-4 text-center" name="search">
        <select class="form-control" name="type" onchange="document.forms.namedItem('search').submit()">
            <option value="null">{{#i18n}}admin.ticket.type{{/i18n}}</option>
            {{#types}}
                <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
            {{/types}}
        </select>
        </form>
    </div>
</div>

<div class="container mxt-wrapper--page-content">
    <p>{{#i18n}}admin.ticket.count{{/i18n}} : <b>{{tickets.size}}</b>
        | <a href="/admin/ticket/create">{{#i18n}}common.actions.create{{/i18n}}</a>

        <span style="float:right"><a href="/admin/ticket/print">Print</a></span>
    </p>
    <table class="table-striped table table-bordered">
        <thead>
        <tr>
            <th>{{#i18n}}admin.ticket.number{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.firstname{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.lastname{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.type{{/i18n}}</th>
            <th>{{#i18n}}admin.ticket.email{{/i18n}}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#tickets}}
            <tr>
                <th>{{number}}</th>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{type}}</td>
                <td><a href="mailto:{{email}}">{{email}}</a></td>
                <td>
                    <a href="/admin/ticket/edit/{{number}}">{{#i18n}}common.actions.update{{/i18n}}</a> <br/>
                </td>
            </tr>
        {{/tickets}}
        </tbody>
    </table>
</div>

{{> footer}}
