{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.event.images.sections.images.title{{/i18n}}</h1>
</div>

<div class="container-xxl">
    {{^creationMode}}<form action="/admin/events/images/{{eventId}}/sections/{{sectionId}}/images/delete" method="post" onsubmit="return confirm('{{#i18n}}admin.event.organizations.delete.confirm{{/i18n}}');">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <input type="hidden" name="sectionId" value="{{sectionId}}"/>
        <input type="hidden" name="name" value="{{image.name}}"/>
        <button type="submit" class="mxt-btn-primary">{{#i18n}}common.actions.delete{{/i18n}}</button>
    </form>
    {{/creationMode}}
    <form
            {{#creationMode}}action="/admin/events/images/{{eventId}}/sections/{{sectionId}}/images/create"{{/creationMode}}
            {{^creationMode}}action="/admin/events/images/{{eventId}}/sections/{{sectionId}}/images"{{/creationMode}}
            method="post" class="row mt-3">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <input type="hidden" name="sectionId" value="{{sectionId}}"/>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.images.sections.images.table.name{{/i18n}}</label>
            {{#creationMode}}
                <input class="form-control" type="text" name="name" required />
            {{/creationMode}}
            {{^creationMode}}
                <input class="form-control" type="text" value="{{image.name}}" disabled="true" />
                <input type="hidden" name="name" value="{{image.name}}"/>

                <img class="mxt-img--speakers mt-2"
                     src="https://raw.githubusercontent.com/mixitconf/mixitconf-images/main/{{eventId}}/{{sectionId}}/{{image.name}}">

            {{/creationMode}}
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.images.sections.images.table.template{{/i18n}}</label>
            <select class="form-control" name="template" required>
                {{#templates}}
                    <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/templates}}
            </select>
            <small>{{#i18n}}admin.event.images.sections.images.table.template.text{{/i18n}}</small>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.images.sections.images.table.talk{{/i18n}}</label>
            <select class="form-control" name="talkId" required>
                <option value="null" {{#notalk}}selected{{/notalk}}></option>
                {{#talks}}
                    <option value="{{first}}"{{#third}} selected{{/third}}>{{second}}</option>
                {{/talks}}
            </select>
            <small>{{#i18n}}admin.event.images.sections.images.table.talk.text{{/i18n}}</small>
        </div>
        <div class="col-12 mb-3 mxt-btn-container">
            <button type="submit" class="mxt-btn-primary">{{#i18n}}common.actions.save{{/i18n}}</button>
        </div>
    </form>
</div>

{{> footer}}
