{{> header}}


<div class="container-xxl">
    <h1 class="pt-3">{{#i18n}}admin.donations.orga.title{{/i18n}}</h1>
    <p class="text-center mxt-text--page-title pb-3">
        {{#user.photoUrl}}<img src="{{user.photoUrl}}" class="mxt-img-avatar__orga">{{/user.photoUrl}}
    </p>
</div>

<div class="container-xxl">
    <h2>{{userDonation.name}}</h2>

    <ul>
        <li>{{#i18n}}admin.donations.orga.number{{/i18n}} : <strong>{{userDonation.number}}</strong></li>
        <li>{{#i18n}}admin.donations.quantity{{/i18n}} : <strong>{{userDonation.quantity}} Mixettes</strong></li>
        <li>{{#i18n}}admin.donations.amount{{/i18n}} : <strong>{{userDonation.amount}}</strong></li>
    </ul>

    <p>{{#i18n}}admin.donations.donor.count{{/i18n}} : <b>{{donations.size}}</b> | <a href="/{{#admin}}admin{{/admin}}{{#volunteer}}volunteer{{/volunteer}}/mixette-donation/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>
    <table class="table-striped table table-bordered">
      <thead>
        <tr>
            <th>{{#i18n}}admin.donations.ticket{{/i18n}}</th>
            <th>{{#i18n}}admin.donations.login{{/i18n}}</th>
            <th>{{#i18n}}admin.donations.quantity{{/i18n}}</th>
            <th>{{#i18n}}common.actions{{/i18n}}</th>
        </tr>
      </thead>
      <tbody>
        {{#donations}}
            <tr>
                <td>{{#ticketNumber}}{{ticketNumber}}{{/ticketNumber}}</td>
                <td>{{#userLogin}}{{userLogin}}{{/userLogin}}</td>
                <td>{{quantity}}</td>
                <td>
                    <a href="/{{#admin}}admin{{/admin}}{{#volunteer}}volunteer{{/volunteer}}/mixette-donation/edit/{{id}}">{{#i18n}}common.actions.update{{/i18n}}</a>
                </td>
            </tr>
        {{/donations}}
      </tbody>
    </table>
</div>

{{> footer}}
