{{> header}}
{{> header-common }}

<div class="mxt-wrapper--header-page-title">
    <h1 class="pt-3 pb-3">
        {{#i18n}}admin.talks.title{{/i18n}}
        <button class="btn btn-secondary dropdown-toggle mxt-dropdown-header" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{year}}
        </button>
        <ul class="dropdown-menu mxt-dropdown-header" aria-labelledby="dropdownMenuButton1">
            <li><a href="{{localePrefix}}/admin/talks/2023" class="dropdown-item">2023</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2022" class="dropdown-item">2022</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2021" class="dropdown-item">2021</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2019" class="dropdown-item">2019</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2018" class="dropdown-item">2018</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2017" class="dropdown-item">2017</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2016" class="dropdown-item">2016</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2015" class="dropdown-item">2015</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2014" class="dropdown-item">2014</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2013" class="dropdown-item">2013</a></li>
            <li><a href="{{localePrefix}}/admin/talks/2012" class="dropdown-item">2012</a></li>
        </ul>
    </h1>
</div>
<div class="container mxt-wrapper--page-content">
    <p>{{#i18n}}admin.talks.count{{/i18n}} : <b>{{talks.size}}</b> | <a href="/admin/talks/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th>{{#i18n}}admin.talks.table.format{{/i18n}}</th>
            <th>{{#i18n}}admin.talks.table.title{{/i18n}}</th>
            <th>{{#i18n}}admin.talks.table.speakers{{/i18n}}</th>
            <th>{{#i18n}}common.actions{{/i18n}}</th>
        </tr>
      </thead>
      <tbody>
        {{#talks}}
        <tr>
            <td>{{format}}</td>
            <td>{{title}}</td>
            <td>{{#speakers}}{{firstname}} {{lastname}} {{/speakers}}</td>
            <td>
                <a href="/admin/talks/edit/{{id}}">{{#i18n}}common.actions.update{{/i18n}}</a> <br />
                <a href="/{{event}}/{{slug}}" target="_blank">{{#i18n}}common.actions.view{{/i18n}}</a>
            </td>
        </tr>
        {{/talks}}
      </tbody>
    </table>
</div>

{{> footer}}
