{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.event.title{{/i18n}}</h1>
</div>

<div class="container-xxl">
    {{^creationMode}}<form action="/admin/events/{{eventId}}/organizations/delete" method="post" onsubmit="return confirm('{{#i18n}}admin.event.organizations.delete.confirm{{/i18n}}');">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <input type="hidden" name="organizationLogin" value="{{eventOrganization.organizationLogin}}"/>
        <input type="submit" class="btn btn-primary mxt-btn-primary" value="{{#i18n}}common.actions.delete{{/i18n}}"/>
    </form>{{/creationMode}}
    <form
            {{#creationMode}}action="/admin/events/{{eventId}}/organizations/create"{{/creationMode}}
            {{^creationMode}}action="/admin/events/{{eventId}}/organizations"{{/creationMode}}
            method="post" class="row mt-3">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.organizations.form.login{{/i18n}}
                <a href="/admin/users">{{#i18n}}admin.event.organizations.form.login.text{{/i18n}}</a> </label>
            {{#creationMode}}
                <input class="form-control" type="text" name="organizationLogin" required />
            {{/creationMode}}
            {{^creationMode}}
                <input class="form-control" type="text" value="{{eventOrganization.organizationLogin}}" disabled="true" />
                <input type="hidden" name="organizationLogin" value="{{eventOrganization.organizationLogin}}"/>
            {{/creationMode}}
        </div>
        <div class="col-12 mb-3 text-center">
            <input type="submit" class="btn btn-outline-primary expand" value="{{#i18n}}common.actions.save{{/i18n}}"/>
        </div>
    </form>
</div>

{{> footer}}
