{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.ticket.title{{/i18n}}</h1>
    <p class="text-center mxt-text--page-title">{{#i18n}}admin.ticket.text{{/i18n}}</p>
</div>

<div class="container-xxl">
    {{^creationMode}}
        <form action="/admin/ticket/delete" method="post" class="text-center"
              onsubmit="return confirm('{{#i18n}}admin.ticket.delete.confirm{{/i18n}}');">
            <input type="hidden" name="number" value="{{ticket.number}}"/>
            <input type="submit" class="btn btn-primary mxt-btn-primary" value="{{#i18n}}common.actions.delete{{/i18n}}"/>
    </form>{{/creationMode}}
    <form action="/admin/ticket" method="post">
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.ticket.number{{/i18n}}</label>
            <input class="form-control" type="text" readonly value="{{ticket.number}}"/>
            <input class="form-control" type="hidden" name="number" value="{{ticket.number}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.pronoun{{/i18n}}</label>
            <select class="form-control" name="pronoun">
                <option value=""></option>
                {{#pronouns}}
                    <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/pronouns}}
            </select>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.firstname{{/i18n}}</label>
            <input class="form-control" type="text" name="firstname"
                   value="{{#ticket.firstname}}{{ticket.firstname}}{{/ticket.firstname}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.lastname{{/i18n}}</label>
            <input class="form-control" type="text" name="lastname" value="{{ticket.lastname}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.ticket.type{{/i18n}}</label>
            <select class="form-control" name="type" required>
                {{#types}}
                    <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/types}}
            </select>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.externalId{{/i18n}}</label>
            <input class="form-control" type="text" name="externalId"
                   value="{{#ticket.externalId}}{{ticket.externalId}}{{/ticket.externalId}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.email{{/i18n}}</label>
            <input class="form-control" required
                   type="text" name="email" value="{{#ticket.encryptedEmail}}{{ticket.encryptedEmail}}{{/ticket.encryptedEmail}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.rank{{/i18n}}</label>
            <input class="form-control" readonly type="text" value="{{#ticket.lotteryRank}}{{ticket.lotteryRank}}{{/ticket.lotteryRank}}"/>
            <input class="form-control" type="hidden" name="lotteryRank" value="{{#ticket.lotteryRank}}{{ticket.lotteryRank}}{{/ticket.lotteryRank}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.en{{/i18n}}</label>
            <input class="form-check-input" type="checkbox" role="switch" id="englishSpeaker" name="englishSpeaker"
                   {{#englishSpeaker}}checked{{/englishSpeaker}}>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.ticket.createdat{{/i18n}}</label>
            <input class="form-control" readonly type="text" value="{{ticket.createdAt}}"/>
            <input class="form-control" type="hidden" name="createdAt" value="{{ticket.createdAt}}"/>
        </div>
        <div class="mb-3 mxt-btn-container">
            <button type="submit" class="mxt-btn-primary">{{#i18n}}common.actions.save{{/i18n}}</button>
        </div>
    </form>
</div>

{{> footer}}
