{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.ticketing.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content ">
    <div style="display: flex;justify-content: center">
        <form action="/admin/lottery/random/delete" method="post"
              onsubmit="return confirm('Are you sure to erase all ranks ?');">
            <button class="mxt-btn-primary">Erase rank</button>
        </form>
        <form action="/admin/lottery/random" method="post" class="ms-3"
              onsubmit="return confirm('Are you sure to eras random draw by a new one ?');">
            <button class="mxt-btn-primary">Random draw</button>
        </form>
    </div>

    <p>{{#i18n}}admin.ticketing.count{{/i18n}} : <b>{{tickets.size}}</b></p>
    <table class="table-striped table table-bordered" style="max-width: 100%">
        <thead>
        <tr>
            <th>{{#i18n}}admin.ticketing.table.lastname{{/i18n}}</th>
            <th>{{#i18n}}admin.ticketing.table.firstname{{/i18n}}</th>
            <th>{{#i18n}}admin.ticketing.table.email{{/i18n}}</th>
            <th>{{#i18n}}admin.ticketing.table.rank{{/i18n}}</th>
            <th>Interests</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#tickets}}
            <tr>
                <td>{{lastname}}</td>
                <td>{{firstname}}</td>
                <td><a href="mailto:{{email}}">{{email}}</a></td>
                <td>{{#rank}}{{rank}}{{/rank}}</td>
                <td>{{#interests}}{{.}}, {{/interests}}</td>
                <td>
                    <form action="/admin/lottery/delete" method="post"
                          onsubmit="return confirm('{{#i18n}}admin.ticketing.delete.confirm{{/i18n}}');">
                        <input type="hidden" name="email" value="{{email}}"/>
                        <button class="mxt-btn-primary">{{#i18n}}common.actions.delete{{/i18n}}</button>
                    </form>
                </td>
            </tr>
        {{/tickets}}
        </tbody>
    </table>
</div>

{{> footer}}
