{{> header}}

<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.faq.title{{/i18n}}</h1>
    <p>{{#i18n}}admin.faq.description{{/i18n}}</p>

    {{#section.id}}
        <div class="text-center mb-5">
        <form action="/admin/faq/sections/{{section.id}}/delete" method="post"
                           onsubmit="return confirm('{{#i18n}}admin.faq.delete.section.confirm{{/i18n}}');">
            <input type="hidden" name="sectionId" value="{{section.id}}"/>
            <button class="btn btn-primary mxt-btn-primary">{{#i18n}}common.actions.delete{{/i18n}}</button>
        </form>
        </div>
    {{/section.id}}
    <form action="/admin/faq/sections" method="post">
        <input type="hidden" name="sectionId" value="{{#section.id}}{{section.id}}{{/section.id}}"/>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.description.fr{{/i18n}}</label>
            <input class="form-control" name="titleFr" required
                   value="{{#section.title.descriptionFr}}{{section.title.descriptionFr}}{{/section.title.descriptionFr}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.description.en{{/i18n}}</label>
            <input class="form-control" name="titleEn" required
                   value="{{#section.title.descriptionEn}}{{section.title.descriptionEn}}{{/section.title.descriptionEn}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.faq.table.order{{/i18n}}</label>
            <input type="number" class="form-control" name="order" required
                   value="{{#section.order}}{{section.order}}{{/section.order}}"/>
        </div>
        <div class="mb-3 mxt-btn-container">
            <button type="submit" class="mxt-btn-primary">{{#i18n}}common.actions.save{{/i18n}}</button>
        </div>
    </form>
    {{#section}}
        <div class="mxt-btn-container pb-3">
            {{#i18n}}admin.faq.count{{/i18n}} : <b>{{section.questions.size}}</b>
            <div class="flex-fill"></div>
            <a  class="mxt-btn-light" href="/admin/faq/sections/{{section.id}}/questions/create">{{#i18n}}common.actions.create{{/i18n}}</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>{{#i18n}}admin.faq.table.title{{/i18n}}</th>
                <th>{{#i18n}}admin.faq.table.order{{/i18n}}</th>
                <th style="width: 8em">{{#i18n}}common.actions{{/i18n}}</th>
            </tr>
            </thead>
            <tbody>
            {{#section.questions}}
            <tr>
                <td>
                    <strong>fr</strong> : {{title.descriptionFr}}<br>
                    <strong>en</strong> : {{title.descriptionEn}}
                </td>
                <td>{{order}}</td>
                <td>
                    <div class="mxt-btn-container">
                        <a href="/admin/faq/sections/{{section.id}}/questions/{{id}}" class="mxt-btn-light">
                            <img src="/images/svg/mxt-search-dark.svg" class="mxt-icon--cat__talks"
                                 title="{{#i18n}}common.actions.update{{/i18n}}"/></a>

                    </div>
                </td>
            </tr>
            {{/section.questions}}
            </tbody>
        </table>
    {{/section}}
</div>

{{> footer}}
