{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.talk.title{{/i18n}}</h1>
</div>

<div class="container-xxl">
    {{#talk.id}}<form class="mxt-btn-container mb-4"
                      style="justify-content: flex-start"
                      action="/admin/talks/delete" method="post" onsubmit="return confirm('{{#i18n}}admin.talk.delete.confirm{{/i18n}}');">
        <input type="hidden" name="id" value="{{talk.id}}"/>
        <button class="btn btn-primary mxt-btn-primary">{{#i18n}}common.actions.delete{{/i18n}}</button>
        <a href=" /{{talk.event}}/{{talk.slug}}"
           class="btn btn-primary mxt-btn-light ms-3">{{#i18n}}common.actions.view{{/i18n}}</a>
    </form>{{/talk.id}}
    <form action="/admin/talks" method="post">
        {{#talk.id}}<input type="hidden" name="id" value="{{talk.id}}"/>{{/talk.id}}
        <input type="hidden" name="event" value="{{talk.event}}"/>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.title{{/i18n}}</label>
            <input class="form-control" type="text" name="title" value="{{talk.title}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.topic{{/i18n}}</label>
            <select class="form-control" name="topic" required>
                {{#topics}}
                    <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/topics}}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.summary{{/i18n}}</label>
            <textarea class="form-control" name="summary" rows="5" required>{{talk.summary}}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.description{{/i18n}}</label>
            <textarea class="form-control" name="description" rows="10">{{#talk.description}}{{talk.description}}{{/talk.description}}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.language{{/i18n}}</label>
            <select class="form-control" name="language" required>
                {{#languages}}
                <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/languages}}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.speakers{{/i18n}}</label>
            <input class="form-control" type="text" name="speakers" value="{{speakers}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.video{{/i18n}}</label>
            <input class="form-control" type="text" name="video" value="{{#talk.video}}{{talk.video}}{{/talk.video}}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.video2{{/i18n}}</label>
            <input class="form-control" type="text" name="video2" value="{{#talk.video2}}{{talk.video2}}{{/talk.video2}}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.room{{/i18n}}</label>
            <select class="form-control" name="room" required>
                {{#rooms}}
                <option value="{{first}}"{{#third}} selected{{/third}}>{{#i18n}}{{second}}{{/i18n}}</option>
                {{/rooms}}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.format{{/i18n}}</label>
            <select class="form-control" name="format" required>
                {{#formats}}
                <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/formats}}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.level{{/i18n}}</label>
            <select class="form-control" name="level" required>
                <option></option>
                {{#levels}}
                    <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/levels}}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.addedAt{{/i18n}} </label>
            <input class="form-control" type="text" name="addedAt" value="{{talk.addedAt}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.start{{/i18n}}</label>
            <input class="form-control" type="text" name="start" value="{{#talk.start}}{{talk.start}}{{/talk.start}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.end{{/i18n}}</label>
            <input class="form-control" type="text" name="end" value="{{#talk.end}}{{talk.end}}{{/talk.end}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.talk.form.photo{{/i18n}}</label>
            <input class="form-control" type="text" name="photoUrls" value="{{#photos}}{{photos}}{{/photos}}"/>
        </div>
        <div class="mb-3 mxt-btn-container">
            <button type="submit" class="mxt-btn-primary">{{#i18n}}common.actions.save{{/i18n}}</button>
        </div>
    </form>
</div>
{{> footer}}
