{{> header}}
{{> header-common }}

<div class="mxt-wrapper--header-page-title">
    <h1 class="pt-3 pb-3">{{#i18n}}admin.donations.donor.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    <h2>{{userDonation.name}}</h2>

    <ul>
        <li>{{#i18n}}admin.donations.orga.number{{/i18n}} : <strong>{{userDonation.number}}</strong></li>
        <li>{{#i18n}}admin.donations.quantity{{/i18n}} : <strong>{{userDonation.quantity}} Mixettes</strong></li>
        <li>{{#i18n}}admin.donations.amount{{/i18n}} : <strong>{{userDonation.amount}}</strong></li>
    </ul>

    <p>{{#i18n}}admin.donations.donor.count{{/i18n}} : <b>{{donations.size}}</b> | <a href="/{{#admin}}admin{{/admin}}{{#volunteer}}volunteer{{/volunteer}}/mixette-donation/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>
    <table class="table-striped table table-bordered">
      <thead>
        <tr>
            <th>{{#i18n}}admin.donations.login{{/i18n}}</th>
            <th>{{#i18n}}admin.donations.quantity{{/i18n}}</th>
            <th>{{#i18n}}common.actions{{/i18n}}</th>
        </tr>
      </thead>
      <tbody>
        {{#donations}}
        <tr>
            <td>{{login}}</td>
            <td>{{quantity}}</td>
            <td>
                <a href="/{{#admin}}admin{{/admin}}{{#volunteer}}volunteer{{/volunteer}}/mixette-donation/edit/{{#id}}{{id}}{{/id}}">{{#i18n}}common.actions.update{{/i18n}}</a>
            </td>
        </tr>
        {{/donations}}
      </tbody>
    </table>
</div>

{{> footer}}
