build/
.idea/
*.iml
*.ipr
*.iws
*.log
.gradle/
classes/
out/
node/
node_modules/
src/main/resources/static/css/
src/main/resources/static/images/

# MacOS
.DS_Store
/src/main/resources/data/users_uncrypted.json
