// ICONS 
.mxt-icon--logo {
	width: 5em;
	margin-left: 1em;
}

.mxt-icon--cat{
	min-width: 100%;
}

.mxt-icon--cat__talks {
	min-width: auto;
	max-width: 5em;
	@include breakpoint(small only) {
		margin-top: 1em;
	}
}

.mxt-icon--heart {
	width: 1em;
	margin-left: 0.5em; 
}

.mxt-icon--heart--footer {
	width: 1.5em;
	position: relative;
	top: 0.3em;
	path {
		fill: $primary-color;
	}
}

.mxt-icon--wrapper {
	@include breakpoint (medium) {
		text-align: right;
	}
}

.mxt-icon--edition {
	width: 5em;
	text-align: right;
	padding-bottom: 0.3em;
}

.mxt-icon--social {
	height: 2em;
	width: 2em;
	margin: 1em 0.5em;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}

.mxt-icon--network {
	position: relative;
	padding-top: 5em;
	display: block;
	margin: 0 auto;
}

.mxt-icon--transport {
	width: 1.5em;
	position: relative;
}