// IMG 
.mxt-img--speakers {
	margin-bottom: 1em;
}

.mxt-img--sponsors {
	height: 4em;
	width: auto;
	margin-bottom: 1em;
}

.mxt-img--sponsors-gold {
	@extend .mxt-img--sponsors;
	height: 6em;
}

.mxt-img--sponsors-silver {
	@extend .mxt-img--sponsors;
	height: 3em;
}

.mxt-img--grayscale {
	filter: grayscale(100%);
	&:hover {
		filter: grayscale(70%);
	}
}

.mxt-img--sponsors-full {
	width: auto;
	height: 6em;
	margin-bottom: 1em;
}

.mxt-img--speakers {
	filter: grayscale(60%);
	&:hover {
		filter: grayscale(30%);
	}
}