// SPEAKERS
.mxt-img--container {
  position: relative;
  &:hover .mxt-img--overlay {
    opacity: 0.8;
    cursor: pointer;
  }
}

.mxt-img--speakers {
	margin-bottom: 0.3em;
	width: 100%;
  height: auto;
	display: block;
	filter: grayscale(70%);
	&:hover {
		filter: grayscale(30%);
	}
}

.mxt-img-avatar__speaker {
  border-radius: 100%;
  border: 7px solid $forth-color;
  margin-bottom: 1em;
  background: $forth-color none repeat scroll 0 0;
}


.mxt-img--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $third-color;
}

// SPONSORS HOME
.mxt-img--sponsors-home {
  @extend .mxt-img--grayscale;
  margin: 0.5em auto;
  max-height: 5em;
}

// SPONSORS PAGE
.mxt-img--sponsors {
    max-height: 5em;
    max-width: 10em;
    @include breakpoint(small only) {
        margin-bottom: 1em;
    }
}

// TEAM PAGE
.mxt-img--team {
  max-width: 8em;
  width: 100%;
  @include breakpoint(small only) {
    margin-bottom: 1em;
  }
}

// GENERAL
.mxt-img--grayscale {
	filter: grayscale(100%);
	&:hover {
		filter: grayscale(70%);
    }
}