// SPEAKERS

.mxt-img--speakers {
	margin-bottom: 1em;
	width: 100%;
	display: block;
	filter: grayscale(60%);
	&:hover {
		filter: grayscale(30%);
	}
}

// SPONSORS HOME
.mxt-img--sponsors-home {
    @extend .mxt-img--grayscale;
	max-height: 10em;
	max-width: 10em;
    @include breakpoint(small only) {
        margin-bottom: 1em;
    }
}

.mxt-img--sponsors-home-other {
    @extend .mxt-img--grayscale;
	max-width: 6em;
	max-height: 5em;
    @include breakpoint(small only) {
        margin-bottom: 1em;
    }
}

// SPONSORS PAGE
.mxt-img--sponsors {
    max-height: 5em;
    max-width: 10em;
    @include breakpoint(small only) {
        margin-bottom: 1em;
    }
}

// TEAM PAGE
.mxt-img--team {
  max-height: 5em;
  max-width: 10em;
  @include breakpoint(small only) {
    margin-bottom: 1em;
  }
}

// GENERAL
.mxt-img--grayscale {
	filter: grayscale(100%);
	&:hover {
		filter: grayscale(70%);
    }
}