//MENU
.mxt-menu--nav {
	text-transform: uppercase;
	font-size: rem-calc(12);
	font-weight: $global-weight-bold;
	@include breakpoint(small only) {
		@include menu-direction(vertical);
  		text-align: center;
  	}
}

.mxt-menu__item--nav {
	color: $anchor-color-alt;
	&:hover {
		color: $anchor-color-alt-hover;
	}
}

.mxt-menu__item--close-nav {
	padding-top: 7rem;
	padding-right: 0.5rem;
	padding-left: 0;
	display: inline;
}

//Language switch
.mxt-menu__item--lang {
	color: $medium-gray;
	&:hover {
		color: $light-gray;
	}
}
.mxt-menu__item--bullet {	
	color: $light-gray;
}

// TALKS
.mxt-menu--talks.menu li a {
	color: $forth-color; 
	font-size: 3rem;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	&:hover {
		color: scale-color($forth-color, $lightness: -14%);
	}
}

.menu.simple > li.mxt-menu--talks-title {
	margin-right: 0.5rem;
}

.mxt-menu--editions {
	@include breakpoint (small only) {
		@include menu-direction(vertical);
	}
}

//Archives dropdown
.mxt-menu__dropdown-wrap {
	@include breakpoint (small only) {
		min-width: 100%;
	}
}

.mxt-menu__dropdown-item {
	text-transform: none;
	color: $anchor-color-alt;
	&:hover {
		color: $anchor-color-alt-hover;
	}	
}

