//MENU
.mxt-menu--nav {
	text-transform: uppercase;
	font-size: rem-calc(12);
	font-weight: $global-weight-bold;
	@include breakpoint(small only) {
		@include menu-direction(vertical);
  		text-align: center;
  	}
}

.mxt-menu__item--nav {
	color: $anchor-color-alt;
	&:hover {
		color: $anchor-color-alt-hover;
	}
}

//Language switch
.mxt-menu__item--lang {
	color: $medium-gray;
	&:hover {
		color: $light-gray;
	}
}
.mxt-menu__item--bullet {	
	color: $light-gray;
}

// TALKS
.mxt-menu--talks .has-dropdown > a::after {
	border-color: rgba(51, 51, 51, 0.4) transparent transparent;
}

.mxt-menu--sessions {
	@include breakpoint (small only) {
		@include menu-direction(vertical);
	}
}
//Archives dropdown
.mxt-menu__dropdown-wrap {
	@include breakpoint (small only) {
		min-width: 100%;
	}
}

.mxt-menu__dropdown-item {
	text-transform: none;
	color: $anchor-color-alt;
	&:hover {
		color: $anchor-color-alt-hover;
	}	
}