// TEXT HELPERS
.mxt-text--cyan {
	color: $third-color;
}
.mxt-text--orange {
	color: $primary-color;
}

.mxt-text--bigger {
	font-size: rem-calc(48);
}	

.mxt-text--talksummary {
	text-align: justify;
}

.mxt-text--talktime {
	@include breakpoint (medium up) {
		text-align: right;
	}
}

.mxt-text--talkspeaker {
	@include breakpoint (medium up) {
		text-align: center;
	}	
}

.mxt-text-speaker-name {
	font-size: rem-calc(22);
}
.mxt-text-speaker-company {
	color: $third-color;
}

.mxt-anchor--uppercase {
	text-transform: uppercase;
	font-weight: bold;
}

.mxt-text--page-title {
	color: $white;
}
// TITLES
.mxt-title--alt {
	color: $third-color;
	text-transform: uppercase;
}

.mxt-title--smaller { 
	font-size: rem-calc(18);
	padding-bottom: $header-margin-bottom;
}

a.mxt-title--article {
    text-transform: uppercase;
    font-size: rem-calc(22);
    color: $secondary-color;
    &:hover {
    	color: $primary-color;
    }
}

.mxt-title--talk {
	font-size: rem-calc(30);
	line-height: 1.4;
	margin-bottom: 1em;
}

// HEADER
.mxt-header--date {
	color: $third-color;
	font-weight: bold;
	text-transform: uppercase;
}

.mxt-subheader--space {
	margin: 1em auto 0.5em;
}

.mxt-subheader--categories {
	line-height: 1.5;
	margin: 0.5em auto;
	@include breakpoint(medium) {
		line-height: 1;
	}
}

// SPEAKERS 
.mxt-text--speakers {
	font-size: rem-calc(14);
}

// CATEGORIES
.mxt-text--cat { 
	text-transform: uppercase; 
	color: $white; 
	padding: 0.2em 0.5em 0.1em 0.1em;
	border-radius: 0.2em; 
	font-size: rem-calc(12);
	display: inline-block;
	margin-bottom: 0.5em;
}

.mxt-text--talktitle {
	font-size: rem-calc(16);
}

.mxt-text--cat-tech { background-color: #e1629e; }
.mxt-text--cat-aliens { background-color: #5ab79c; }
.mxt-text--cat-design { background-color: #dbb9b8; }
.mxt-text--cat-hacktivism { background-color: #aecbd6; }
.mxt-text--cat-learn { background-color: #92929a; }
.mxt-text--cat-makers { background-color: #ff8d4e; }
.mxt-text--cat-team { background-color: #817353; }

.mxt-text--cat-en { background-color: #ff8d4e; margin: 0 0 0 0.7em; padding: 0.3em 0.3em 0.1em 0.3em; position: relative; top: -2px; font-weight: bold; }
.mxt-text--cat-format { color: $medium-gray; font-weight: normal; }
.mxt-text--cat-room { color: $third-color; font-weight: normal; text-transform: uppercase; }

.mxt-text--found {
	background-color: #ff8d4e;
}

.mxt-expand {
	width: 100%
}