// WRAPPERS
.mxt-wrapper--white {
	background-color: $white;
	padding-top: 3em;
	margin: 2em auto;
}

.mxt-wrapper--header {
	background: url('/images/svg/mxt-icon--fourviere.svg') no-repeat left top;
	& .no-svg {
		background: url('/images/png/mxt-icon--fourviere.png') no-repeat left top;
	}
	@include breakpoint(medium) {
		background-size: contain;
		background-position: 20% top;
		padding-top: 5em;
  	}
	background-size: 20%;
	background-position: 5% bottom;
	background-color: $secondary-color;
	border-bottom: 5px solid $forth-color;	
	color: $white;
	text-align: center;
	margin-bottom: 2em;
	padding-top: 2em;
}

.mxt-wrapper--talks {
	background: url('/images/svg/mxt-icon--mic.svg') no-repeat left top;
	& .no-svg {
		background: url('/images/png/mxt-icon--mic.png') no-repeat left top;
	}
	@include breakpoint(medium) {
		background-size: contain;
		background-position: 30% top;
  	}
	background-size: 27%;
	background-position: 8% 50%;
	background-color: $secondary-color;
	padding-top: 4em;
	padding-bottom: 8em;
	color: $white;
}

.mxt-wrapper--talk-details {
	@include breakpoint(medium up) {
		text-align: right;
	}
}
.mxt-wrapper--page-title {
	color: $forth-color;
	background: $secondary-color;
	padding-top: 4em;
	padding-bottom: 8em;
}


.mxt-wrapper--page-content {
	position: relative;
	top: -5em;
}

.mxt-wrapper--blog-post {
	img {
		display: block;
		margin: 0 auto;
	}
}
// STICKY FOOTER
.mxt-wrapper--page {
  flex: 1;
}

.mxt-wrapper--footer {
	background-color: $secondary-color;
	padding: 0.5em;
	margin-top: 2em;
}

//

.mxt-wrapper--space {
    height: 2em;
}

// SPONSORS
.mxt-wrapper--callout .row:not(:last-child):after {
	content:"";
	border-bottom: 1px solid $light-gray;
	width: 3em;
	margin: 2em auto; 
	position: relative;
}

.mxt-wrapper--intrinsic {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; // 16:9
}

.mxt-wrapper--intrinsic iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mxt-wrapper--row {
	display: block;
}

.mxt-wrapper--error-callout {
	background-color: mix($input-background-invalid, $white, 10%);
	border-color: $input-background-invalid;
}

.mxt-wrapper--accordion-title-exploded:before {
	content: '';
}