// WRAPPERS
.mxt-wrapper--white {
	background-color: $white;
	padding-top: 3em;
	margin: 2em auto;
}

.mxt-wrapper--header {
	background: url('/images/svg/mxt-icon--fourviere.svg') no-repeat left top;
	& .no-svg {
		background: url('/images/png/mxt-icon--fourviere.png') no-repeat left top;
	}
	@include breakpoint(medium) {
		background-size: contain;
		background-position: 20% top;
		padding-top: 5em;
  	}
	background-size: 20%;
	background-position: 5% bottom;
	background-color: $secondary-color;
	border-bottom: 5px solid $forth-color;	
	color: $white;
	text-align: center;
	margin-bottom: 2em;
	padding-top: 2em;
}


// STICKY FOOTER
.mxt-wrapper--page {
  flex: 1;
}

.mxt-wrapper--footer {
	background-color: $secondary-color;
	padding: 0.5em;
	margin-top: 2em;
}

//

.mxt-wrapper--space {
    height: 2em;
}

// SPONSORS
.mxt-wrapper--callout .row:not(:last-child):after {
	content:"";
	border-bottom: 1px solid $light-gray;
	width: 3em;
	margin: 2em auto; 
	position: relative;
}