@import "../../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything;

body {
  background: #F0F0F3;
}

.mixit-menu-lang {
  height:18px!important;
  width:20px!important;
  padding:0!important;
}

.mixit-content {
  padding-top: 20px;

}

.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
.sponsor {
  margin: 4px;
  max-height: 100px;
  max-width: 140px;
}
