// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

$font: 'Varela', Arial, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-title: 'Changa One', 'Varela round', Arial, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$secondary-color: #2C233D;
$third-color: #aecbd6;
$fourth-color: #757575;
$primary-color: #FF8D4E;
$fifth-color: #E0E0E0;
$black: #212121 !default;

// 2. Include any default variable overrides here
$theme-colors: (
        "primary": $primary-color,
        "secondary": $secondary-color,
        "success": #3adb76,
        "info": #0dcaf0,
        "warning": #ffae00,
        "danger": #cc4b37,
        "light": #aecbd6,
        "dark": #212529
) !default;

$component-active-bg: $secondary-color !default;

$font-family-base: 'Lato', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

$accordion-border-radius: 0;

$btn-border-radius: 0;

$nav-link-height: 1em;
$nav-link-color: #fefefe;

$navbar-light-color: #fefefe;
$navbar-light-toggler-border-color: $secondary-color;
$navbar-toggler-focus-width: 0;
$navbar-padding-y: 1em;
$navbar-padding-x: 0;
$navbar-brand-height: 1em;

$link-color: $primary-color;
$link-decoration: none;
$link-hover-decoration: none;
$enable-cssgrid: true;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.is-invalid {
  color: #cc4b37;
}

.mxt-nav-tabs {
  border-bottom: none;
  margin-bottom: 1em;

  .nav-item {
    .btn.active {
      background-color: $primary-color !important;
      border-color: $fifth-color;
    }

    .btn {
      border-radius: 8px;
    }
  }
}

.mxt-icon--profile {
  max-width: 2em;
}

.mxt-icon--logo {
  width: 4em;
  margin-left: 1em;
}

.mxt-icon--top-bar {
  width: 2em;
  max-height: 2em;
  height: 2em;
  padding: 5px;
}

.mxt-icon--social {
  height: 2em;
  width: 2em;
  margin: 0 0.5em;
  padding: 5px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.mxt-icon--heart {
  @include media-breakpoint-up(md) {
    width: 1.2em;
  }
  width: 1em;
}

.mxt-icon--heart--footer {
  position: relative;
  top: 0.3em;
  width: 2em;

  path {
    fill: $primary-color;
  }
}

.mxt-icon--cat__talks {
  min-width: auto;
  max-width: 1.7em !important;
  height: auto;
  filter: none !important;
}

.mxt-icon--edition {
  width: 5em;
  text-align: right;
  right: 1em;
  position: fixed;
  padding-bottom: .3em;
  top: 72px;
}

.mxt-img--event-home {
  max-width: 100%;
  margin-top: 0.5em;
}

.mxt-img--sponsors-home {
  margin: 0.5em auto;
  max-height: 5em;
  max-width: 90%;
}


.mxt-img--container {
  position: relative;

  &:hover .mxt-img--overlay {
    opacity: 0.8;
    cursor: pointer;
  }
}

.mxt-img--speakers {
  width: 100%;
  height: auto;
  display: block;
}

.mxt-img-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mxt-img-avatar__speaker_new {
  border-radius: 100%;
  border: 7px solid $secondary-color;
  margin-bottom: 1em;
  background: $secondary-color none repeat scroll 0 0;
  width: 100px;
  height: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  text-overflow: ellipsis;
}

.mxt-img-avatar__speaker {
  border-radius: 100%;
  border: 7px solid #dbb9b8;
  margin-bottom: 1em;
  background: #dbb9b8 none repeat scroll 0 0;
  width: 100px;
  height: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  text-overflow: ellipsis;
}

.mxt-img-avatar__orga {
  margin-bottom: 1em;
  width: 120px;
  height: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}

.mxt-img__logo {
  width: 100%;
  max-width: 100%;
  @include media-breakpoint-up(md) {
    width: 40%;
    max-width: 40%;
  }
}

.mxt-btn-primary {
  color: white;
}

.mxt-dropdown-header {
  color: #dbb9b8 !important;
  font-size: 2.5rem !important;

  > li a {
    color: #dbb9b8;
    font-size: 1.5rem;
    line-height: 1.1;
  }
}

.mxt-subheader--space {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  background-color: #dbb9b8;
}

.mxt-wrapper-list-inline {
  padding-left: 0;

  > li {
    display: inline;
    margin-right: 2em;
  }
}

.mxt-wrapper--body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #faf8f8;
  font-family: $font-family-base;
}

.mxt-wrapper--header {
  background: url(/images/svg/mxt-skyline.svg) no-repeat bottom;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: center;
  background-position-y: bottom;
  @include media-breakpoint-up(sm) {
    background-size: 130%;
  }
  @include media-breakpoint-up(md) {
    background-size: 100%;
  }
  background-size: 150%;
  background-position: 5% bottom !important;
  background-color: #2c233d;
  border-bottom: 5px solid #dbb9b8;
  color: #fefefe;
  text-align: center;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 30vh;
}

.mxt-wrapper--header-page {
  background-color: #2c233d !important;
  color: #fefefe;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  text-align: center;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.mxt-wrapper--header-page-title {
  background-color: #2c233d !important;
  position: relative;
  top: 56px;
  margin-bottom: 2em;
  @include media-breakpoint-up(sm) {
    top: -1em;
    margin-bottom: 0;
  }
  color: white;
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 5px solid #dbb9b8;
  @include media-breakpoint-up(sm) {
    background-size: 130%;
  }
  @include media-breakpoint-up(md) {
    background-size: 100%;
  }
  background-size: 150%;
  background-position: 5% bottom !important;

  > h1 {
    font-weight: bolder;

    > button {
      font-size: 2.5rem;
      font-weight: bolder;
      color: #dbb9b8;
      border: 0;
      background-color: #2c233d;
    }
  }
}

.hide-on-mobile {
  display: none;
  @include media-breakpoint-up(sm) {
    display: inherit;
  }
}

.mxt-wrapper--footer {
  background-color: #2C233D;
  padding: 0.5em;
  margin-top: 2em;
}

.mxt-wrapper--talks {
  & .no-svg {
    background: $secondary-color url('/images/png/mxt-icon--mic.png') no-repeat left top;
  }

  @include media-breakpoint-up(md) {
    background-size: 27%;
    background: $secondary-color url('/images/svg/mxt-icon--mic.svg') no-repeat left 30% bottom 0;
  }
  background: $secondary-color url('/images/svg/mxt-icon--mic.svg') no-repeat left 0 bottom 0;
  padding-top: 8em;
  padding-bottom: 4em;
  color: #dbb9b8;
}

.mxt-wrapper--page-title {
  padding-top: 8em;
  padding-bottom: 8em;
  color: #dbb9b8;
  background-color: $secondary-color;
  flex: 1;
}

.mxt-wrapper--page {
  flex: 1;
  background-color: #faf8f8;
}

.mxt-wrapper--page-content {
  position: relative;
  background-color: white;
  padding: 0.5em;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0.5em;
  @include media-breakpoint-up(md) {
    padding: 2em;
  }
  margin-bottom: 0;
}

.mxt-wrapper--home-content {
  position: relative;
  background-color: white;
  padding: 2em;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @include media-breakpoint-up(md) {
    margin-bottom: -1em;
  }
  margin-bottom: 0;
  top: -1em;
}

.mxt-wrapper--callout {
  position: relative;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #2c233d;
  @include media-breakpoint-up(md) {
    padding: 2rem;
  }
}

.mxt-wrapper--intrinsic {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // 16:9
}

.mxt-wrapper--intrinsic iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mxt-accordion-talk {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.mxt-text--cyan {
  color: $third-color;
}

.mxt-text--orange {
  color: $primary-color;
}

.mxt-text--small {
  color: $third-color;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.mxt-accordion-talk-line {
  display: flex;
  align-items: baseline;
}

.mxt-text--page-title {
  color: #ffffff;
}

.mxt-text--cat {
  text-transform: uppercase;
  color: $white;
  padding: 0.3em 0.5em !important;
  border-radius: 14px;
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: 0.9rem;
}

.mxt-text--talk-h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.mxt-text--talktitle {
  font-size: 1.2rem;
}

.mxt-text--cat-tech {
  background-color: #e1629e;
}

.mxt-text--cat-other {
  background-color: #5C6BC0;
}

.mxt-text--cat-aliens {
  background-color: #5ab79c;
}

.mxt-text--cat-onair {
  background-color: $primary-color;
}

.mxt-text--cat-design {
  background-color: #dbb9b8;
}

.mxt-text--cat-hacktivism {
  background-color: #aecbd6;
}

.mxt-text--cat-ethics {
  background-color: #aecbd6;
}

.mxt-text--cat-learn {
  background-color: #92929a;
}

.mxt-text--cat-lifestyle {
  background-color: #92929a;
}

.mxt-text--cat-makers {
  background-color: $primary-color;
}

.mxt-text--cat-team {
  background-color: #817353;
}

.mxt-text--cat-en {
  background-color: $primary-color;
  margin: 0 0 0 0.7em;
  padding: 0.3em 0.3em 0.1em 0.3em;
  position: relative;
  top: -2px;
  font-weight: bold;
}

.mxt-text--cat-format {
  color: $third-color;
  font-weight: normal;
}

.mxt-text--cat-room {
  color: $third-color;
  font-weight: bold;
  font-family: $font-title;
  text-transform: uppercase;
}

.mxt-text--cat-speaker {
  background-color: #e6e6e6;
  font-weight: normal;
  text-transform: uppercase;
  color: $secondary-color;
  border: 2px solid #e6e6e6;

  &:hover {
    border: 2px solid $secondary-color;
  }
}

.mxt-text--found {
  background-color: $primary-color;
}

.mxt-title--article {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}

.mxt-tracks {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.mxt-blog {
  img {
    max-width: 100%;
    max-height: 60vh;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
  }
}

.mxt-hook-h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

.mxt-hook-h2 {
  color: #aecbd6;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.mxt-home-round-header {
  justify-content: center;

  div {
    text-align: center !important;
    color: $fourth-color;
  }

  a {
    > div {
      text-transform: uppercase;
      color: $secondary-color;
      font-weight: bolder;
    }
  }

  button {
    background-color: $secondary-color;
    padding: 1.5em;
    border-radius: 90px;

    > img {
      width: 50px;
    }

    &:hover {
      background-color: $primary-color;
    }
  }
}

.mxt-agenda--container {
  position: relative;
  overflow: auto;
  width: auto;
}

.mxt-agenda--area {
  flex-wrap: nowrap
}

.mxt-agenda--head {
  height: 3em;
  font-weight: bold;
}

.mxt-agenda--time-size {
  min-width: 60px;
  max-width: 80px;
}

.mxt-agenda--time {
  height: 25px !important;
  min-width: 60px;
  max-width: 80px;
  padding-bottom: 1em;
}

.mxt-agenda--room {
  max-width: 100%;
  min-width: 120px;
  max-height: 100%;
}

.mxt-agenda--bordered {
  border-top: 1px solid #dddddd;
}

$agenda-color-hover: #C6C8BD;
$agenda-color:  #E1E1D9;

.mxt-agenda--talk-container:hover {
  border: 2px solid $secondary-color;
  background-color: $agenda-color-hover;
  overflow: visible;
  height: auto;
  max-height: 300%;
  border-radius: 4px;
  z-index: 1000;

  div {
    color: $black !important;
  }

  .mxt-agenda--talk, .mxt-agenda--talk-link, mxt-agenda--talk-link:hover, button, button:hover {
    height: 100%;
    z-index: 1000;
    background-color: $agenda-color-hover;
  }
}

.mxt-agenda--talk-container-disable {
  background-color: #eee !important;
  div {
    color: #92929a !important;
  }
}

.mxt-agenda--talk-container {
  background-color: $agenda-color;
  border: 2px solid $secondary-color;
  border-radius: 4px;
  width: 95%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  z-index: -10;
  div {
    color: $black;
  }
  .mxt-text--cat-format {
    font-size: smaller;
  }

  .mxt-agenda--talk {
    display: block;
    height: 100%;
    overflow: hidden;

    .mxt-icon--cat {
      max-width: 1em !important;
    }

    .mxt-text--cat {
      font-size: x-small;
    }
  }
}

.mxt-agenda--talk-link {
  background-color: transparent !important;
  border: none !important;
  height: 100%;
  width: 100%
}

.mxt-agenda--talk-title {
  font-weight: bold;
  text-transform: uppercase;
  color: $secondary-color;
}

.mxt-talks--container {
  border: 0.5px solid $third-color;
  color: $black;
  border-radius: 24px;

  &:hover {
    background-color: $fifth-color;
  }

  .mxt-talks--container-link {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  .mxt-wrapper-list-inline, .mxt-text--talktitle {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  a {
    color: $secondary-color;
  }

  .mxt-text--cat-speaker {
    background-color: $fifth-color;
    padding: 0.3em;
    color: $fourth-color;
    font-size: small;
  }

  .mxt-text--cat-room {
    color: $secondary-color;
    font-size: small;
  }
}


// New styles
.mxt-body {
  font-family: $font !important;
  overflow: hidden;
  min-height: 100vh;
}

.mxt-layout--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  @media (min-width: 992px) {
    grid-template-rows: 70px 1fr;
  }
}

.mxt-layout-header, .mxt-layout-footer {
  background-color: $secondary-color !important;
  color: $fifth-color;
}

.mxt-layout-footer {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5em;
  justify-content: center;
  .mxt-icon--logo {
    height: 1em;
    padding-left: 1em;
  }
}

.mxt-layout-header-effect {
  max-width: 100vw;

  > div {
    display: inline;
    height: 0;
    width: 0;
    border-top: 50px solid $secondary-color;
    border-right: 150vw solid transparent;
  }

  .mxt-layout-header-effect-grey {
    border-top: 50px solid $fifth-color;
  }

  .mxt-layout-header-effect-grey-inversed {
    border-right: 150vw solid transparent;
    border-bottom: 50px solid $fifth-color;
    border-top: none;
  }
}

.mxt-layout-main {
  overflow-y: auto;
  overflow-x: hidden;
}

.mxt-layout-main-accent-section {
  background-color: $fifth-color;
  padding-bottom: 1em;
}

.mxt-layout-main-outline {
  font-size: 170%;
}

.mxt-layout-header {
  background-color: $secondary-color;
  padding-top: 50px;
}

h1, h2, h3 {
  font-family: $font-title !important;
}

.mxt-text-speaker-company {
  font-family: $font-title !important;
  font-size: 1.2em;
}

h1 {
  padding-top: 1em;
  padding-bottom: 0.2em;
  display: flex;
  align-items: center;
}

h2 {
  padding-top: 0.6em;
}

h3 {
  padding-top: 0.4em;
}

.mxt-icon--logo {
  width: 6em;
  margin: 0;
}

.mxt-icon--navbar {
  width: 1.5em;
  max-height: 1.5em;
  height: 1.5em;
}

@mixin linkWithImage($path) {
  &:hover {
    > img {
      content: url($path);
    }
  }
}

.mxt-navbar--talks {
  justify-content: center;

  .nav-item {
    background-color: $third-color;
    border-radius: 24px;
    margin: 0.5em;
  }

  button, a, .mxt-navbar--nav-link {
    border: 2px solid $third-color !important;
    padding: 1em !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 24px;
    color: #2c233d;

    &:hover {
      color: $secondary-color !important;
      border: 2px solid $secondary-color !important;
    }
  }
}

.mxt-icon--navbar-login {
  @include linkWithImage("/images/svg/security/mxt-lock--open-hover.svg");
}

.mxt-icon--navbar-disconnect {
  @include linkWithImage("/images/svg/security/mxt-lock--close-hover.svg");
}

.mxt-icon--navbar-profile {
  @include linkWithImage("/images/svg/mxt-profile-hover.svg");
}

.mxt-icon--navbar-search {
  @include linkWithImage("/images/svg/mxt-search-hover.svg");
}

.mxt-icon--navbar-admin {
  @include linkWithImage("/images/svg/mxt-icon--admin-hover.svg");
}

.mxt-icon--navbar-faq {
  @include linkWithImage("/images/svg/mxt-icon--faq-hover.svg");
}

.mxt-icon--navbar-code {
  @include linkWithImage("/images/svg/mxt-icon-code-hover.svg");
}

.mxt-icon--navbar-sponsors {
  @include linkWithImage("/images/svg/mxt-icon-sponsor-hover.svg");
}

.mxt-icon--navbar-video {
  @include linkWithImage("/images/svg/mxt-icon-video-hover.svg");
}

.mxt-icon--navbar-video-dark {
  @include linkWithImage("/images/svg/mxt-icon-video-dark.svg");
}

.mxt-icon--navbar-file-dark {
  @include linkWithImage("/images/svg/mxt-icon-file-pdf-dark.svg");
}

.mxt-icon--navbar-favorite-dark {
  @include linkWithImage("/images/svg/favorites/mxt-favorite-dark.svg");
}

.mxt-icon--navbar-cfp {
  @include linkWithImage("/images/svg/mxt-icon-cfp-hover.svg");
}

.mxt-icon--navbar-lottery {
  @include linkWithImage("/images/svg/mxt-icon-lottery-hover.svg");
}

.mxt-icon--navbar-staff {
  @include linkWithImage("/images/svg/mxt-icon--staff-hover.svg");
}

.mxt-navbar {
  box-shadow: none;
  background-color: $secondary-color;
  padding: 0;
  margin: 0;
  top: 0;
  @media (min-width: 990px) and (max-width: 1200px) {
    top: 0.5em !important;
  }
}

.mxt-navbar-nav-language {
  display: flex;
  align-items: center;
}

.mxt-navbar-nav, .mxt-navbar-nav-main {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.mxt-navbar-nav-language {
  flex-direction: row;
  justify-content: end;
}

@media (min-width: 992px) {
  .mxt-navbar-nav-main {
    > .nav-item {
      margin-left: 2em;
    }
  }
}

.mxt-navbar-brand {
  display: flex;
  color: $third-color;
  font-family: $font;
  font-weight: bolder;
  align-items: center;

  > div {
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;

    > span:first-child {
      color: white;
      font-size: smaller;
    }

    > span:last-child {
      font-size: small;
      color: $third-color;

      &hover {
        color: $third-color !important;
      }
    }
  }
}

.mxt-navbar-toggler {
  > img {
    width: 1.5em;
  }

  &:not(.collapsed) {
    > img {
      content: url("/images/svg/mxt-icon--close.svg");
      width: 1.2em;
    }
  }
}

.mxt-navbar--nav-link {
  text-transform: uppercase !important;
  border: 2px solid $secondary-color !important;
  display: flex;
  align-items: center;
  height: 2.5em;
  font-size: inherit;
  font-weight: 700;

  &:hover {
    color: $third-color !important;
  }

  @media (min-width: 992px) {
    &:hover {
      border: 2px solid $third-color !important;
      border-radius: 24px;
    }
  }
}

.mxt-navbar--language {
  color: $primary-color !important;
}

.navbar-collapse {
  background-color: $secondary-color !important;
  padding: 1em;
}

.mxt-header--accesibility-container {
  display: flex;
  align-items: center;

  > div {
    font-size: smaller;
  }
}

.mxt-accesibility-container {
  display: flex;
  align-items: center;
}

.mxt-header--stats {
  display: flex;
  font-family: $font-title;
  padding: 2em;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  > h3 {
    color: $primary-color !important;
  }
}

.mxt-video--player-container, .mxt-image--player-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1em;
  row-gap: 1em;
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  > div {
    border: 2px solid $fifth-color;
    border-radius: 24px;
    padding: 1em;
  }
}

.mxt-image--player-container {
  @media (min-width: 992px) {
    grid-template-columns: 1fr;
  }

  > div {
    border: none;
  }
}

.mxt-video--player-title {
  display: grid;
  height: 3em;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  //align-content: center;
  width: calc(100% - 1px);
}

.mxt-image--player-title {

}

.mxt-video--player-header {
  display: flex;
}

.mxt-video--player-speaker {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > div {
    background-color: $third-color;
    border-radius: 12px;
    padding: 0.2em 0.5em;
    margin-left: 1em;
    margin-bottom: 4px;
  }
}

.mxt-video--player-image {
  img {
    max-height: 16em;
    object-fit: cover;
  }
}

.mxt-video--player-title, .mxt-image--player-title {
  width: 100%;
  text-overflow: ellipsis;
  font-family: $font-title;
  font-size: 140%;
}

.mxt-talk-selector {
  display: flex;
  width: 100%;
  font-family: $font-title;
  max-width: 95vw;
  white-space: nowrap;
  text-overflow: unset;
  overflow: scroll;
  overflow-y: hidden;
  border-radius: 24px;
  overflow-x: auto;
  scrollbar-color: $secondary-color #cccccc;
  background-color: $fifth-color;

  .mxt-nav-link {
    color: $secondary-color !important;
    border: 2px solid $fifth-color !important;
    border-radius: 24px;
    font-size: initial;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: .7rem 1rem;
    justify-content: center;

    &:hover {
      color: $fifth-color !important;
      border: 2px solid $secondary-color !important;
      border-radius: 24px;
      background-color: $secondary-color;
    }
  }

  .selected {
    border: 2px solid $secondary-color !important;
    border-radius: 24px;
    background-color: $secondary-color !important;
    color: white !important;

    &:hover {
      color: white !important;
    }
  }
}

.mxt-year-selector {
  display: flex;
  width: 100%;
  font-family: $font-title;
  max-width: 95vw;
  white-space: nowrap;
  text-overflow: unset;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-color: $secondary-color #cccccc;
  height: 3em !important;

  .mxt-nav-link {
    color: $fifth-color !important;
    border: 2px solid white !important;
    border-radius: 24px;
    font-size: initial;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: .7rem 1rem;
    justify-content: center;

    &:hover {
      color: $secondary-color !important;
      border: 2px solid $secondary-color !important;
      border-radius: 24px;
    }
  }

  .selected {
    border: 2px solid $secondary-color !important;
    border-radius: 24px;
    background-color: $secondary-color !important;
    color: white !important;

    &:hover {
      color: white !important;
    }
  }

}

.mxt-year-selector::-webkit-scrollbar {
  height: 6px;
  background-color: #cccccc;
}

.mxt-year-selector::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

.mxt-about--people {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  a {
    color: $secondary-color;
  }

  .firstname {
    font-family: $font-title;
    font-size: larger;
  }

  .lastname {
    text-transform: uppercase;
  }
}

$sponsor-max-width: 20em;
.mxt-sponsor--grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1em;
  row-gap: 1em;
  @media (min-width: 992px) {
    grid-template-columns: $sponsor-max-width 1fr;
  }

  > div {
    display: flex;
    //justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .image {
    padding-top: 1em;
  }

  .mxt-img--sponsors {
    max-height: 10em;
    max-width: $sponsor-max-width - 4em;
    margin-bottom: 1em;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

}

.mxt-sponsor--slots {
  display: flex;
}

.mxt-sponsor--pack {
  display: block;
}

.mxt-sponsor--stats {
  overflow-x: auto !important;
  scrollbar-color: $secondary-color #cccccc;
}

.mxt-sponsor--stats::-webkit-scrollbar {
  height: 6px;
  background-color: #cccccc;
}

.mxt-sponsor--stats::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

.mxt-sponsor--free-slot {
  background-color: $fourth-color;
  border-radius: 24px;
  padding: 0.2em 0.5em;
  margin-left: 1em;
  width: 1.5em;
  height: 1.5em;
}

.mxt-sponsor--booked-slot {
  background-color: $secondary-color;
  color: white;
  border-radius: 24px;
  padding: 0.2em 0.5em;
  margin-left: 1em;
  width: 1.5em;
  height: 1.5em;
}

.mxt-section {
  margin-top: 3em;
}

.mxt-section-small {
  margin-top: 1em;
}

.mxt-anchor-container {
  display: flex;
  justify-content: flex-end;
}

.mxt-interests {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  > li {
    margin: 0.5em;
    font-weight: bold;
    background-color: $primary-color;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 24px;

    &::before {
      content: "#";
      color: white;
      padding-right: 0.2em;
    }
  }
}

.mxt-media--link.mxt-media--link {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.mxt-feedback--note {
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    margin-right: 0.2em;
    font-weight: bolder;
    font-size: larger;
    top: 4px;
    position: relative;
    color: white;
    background-color: $secondary-color;
    border-radius: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.mxt-feedback--container {
  border: 2px solid $fifth-color;
  padding: 1em;
  border-radius: 12px;
  background-color: $white;

  img {
    height: 2em;
  }
}

.mxt-feedback-tolike-btn {
  &:hover {
    > img {
      content: url('/images/svg/mxt-icon--like-dark.svg');
    }
  }
}

.mxt-feedback-comment--container {
  border: 2px solid $fifth-color;
  border-left-width: 12px;
  padding: 1em;
  border-radius: 12px;
  background-color: $white;
}

.mxt-feedback-selected {
  border: 2px solid #e1629e;
  background-color: #e1629e;
}

@mixin mixitBtn($primary, $secondary) {
  border: 2px solid $secondary !important;
  background-color: $secondary;
  border-radius: 24px;
  color: $primary;
  padding: 1em !important;
  align-items: center;
  display: flex;
  font-size: inherit;
  font-weight: 700;
  height: 2.5em;
  margin-bottom: 4px;

  &:hover {
    border: 2px solid $primary !important;
  }

  img {
    padding-right: 4px;
    filter: invert(1);
  }
}

.mxt-btn-white {
  @include mixitBtn($secondary-color, $white);
}

.mxt-btn-light {
  @include mixitBtn($secondary-color, $fifth-color);
}

.mxt-btn-feed {
  @include mixitBtn(white, #e1629e);
}

.mxt-btn-third {
  @include mixitBtn($secondary-color, $third-color);
}

.mxt-btn-secondary {
  @include mixitBtn($primary-color, $secondary-color);
}

.mxt-btn-primary {
  @include mixitBtn($secondary-color, $primary-color);
}

.mxt-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


