<div class="mxt-wrapper--page">
    <nav class="navbar navbar-expand-lg navbar-light mxt-navbar fixed-top">
        <div class="container-fluid">
            <a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="navbar-brand mxt-anchor--svg" rel="nofollow">
                <img src="/images/svg/mxt-icon--logo.svg" class="mxt-icon--logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
        </div>
    </nav>
