</div>
<footer class="mxt-wrapper--footer">
    <div class="d-none d-lg-inline">
        <div class="row">
            <div class="col">
                <a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="mxt-anchor--svg" rel="nofollow"><img
                        src="/images/svg/mxt-icon--logo.svg" class="mxt-icon--logo"></a>
            </div>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/mixit.js"></script>
</body>
</html>
