</div>
<footer class="mxt-wrapper--footer">
    <div class="d-none d-lg-inline">
        <div class="row">
            <div class="col">
                <a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="mxt-anchor--svg" rel="nofollow"><img
                        src="/images/svg/mxt-icon--logo.svg" class="mxt-icon--logo"></a>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex">
                <div><a href="{{localePrefix}}/codeofconduct" class="nav-link mxt-nav-link">{{#i18n}}footer.menu.code{{/i18n}}</a></div>
                <div><a href="{{localePrefix}}/faq" class="nav-link mxt-nav-link">{{#i18n}}footer.menu.faq{{/i18n}}</a></div>
                <div><a href="{{localePrefix}}/about" class="nav-link mxt-nav-link">{{#i18n}}header.menu.about{{/i18n}}</a></div>
            </div>
            <div class="col text-center">
                <img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart--footer">
            </div>
            <div class="col d-flex text-right" style="text-align: right">
                <div><a href="https://twitter.com/mixitconf" target="_blank" class="mxt-menu__item--nav">
                    <img src="/images/svg/mxt-icon--social2.svg" class="mxt-icon--social" alt="Twitter"></a></div>
                <div><a href="https://github.com/mixitconf/mixit" target="_blank" class="mxt-menu__item--nav">
                    <img src="/images/svg/mxt-icon--social3.svg" class="mxt-icon--social" alt="GitHub"></a></div>
                <div><a href="https://www.linkedin.com/company/mixitconf/" target="_blank" class="mxt-menu__item--nav">
                    <img src="/images/svg/mxt-icon--social4.svg" class="mxt-icon--social" alt="Linkedin"></a></div>
                <div><a href="mailto:contact@mixitconf.org" class="mxt-menu__item--nav" target="_top">
                    <img src="/images/svg/mxt-icon--contact.svg" class="mxt-icon--social" alt="Email"></a></div>
            </div>
        </div>
    </div>
    <div class="d-sm-inline d-lg-none">
        <div class="row">
            <div class="col text-center">
                <a href="{{localePrefix}}/codeofconduct" class="nav-link mxt-nav-link">{{#i18n}}footer.menu.code{{/i18n}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center"><a href="https://twitter.com/mixitconf" target="_blank" class="mxt-menu__item--nav">
                <img src="/images/svg/mxt-icon--social2.svg" class="mxt-icon--social" alt="Twitter"></a></div>
            <div class="col text-center"><a href="https://github.com/mixitconf/mixit" target="_blank" class="mxt-menu__item--nav">
                <img src="/images/svg/mxt-icon--social3.svg" class="mxt-icon--social" alt="GitHub"></a></div>
            <div class="col text-center"><a href="https://www.linkedin.com/company/mixitconf/" target="_blank" class="mxt-menu__item--nav">
                <img src="/images/svg/mxt-icon--social4.svg" class="mxt-icon--social" alt="Linkedin"></a></div>
            <div class="col text-center"><a href="mailto:contact@mixitconf.org" class="mxt-menu__item--nav" target="_top">
                <img src="/images/svg/mxt-icon--contact.svg" class="mxt-icon--social" alt="Email"></a></div>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/mixit.js"></script>
</body>
</html>