    </div>
    <script>
        addEventListener("load", () => {
            let elts;

            elts = document.getElementsByClassName('selected');
            if (elts.length > 0) {
                elts.item(0).scrollIntoView(true);
            }

            elts = document.getElementsByClassName('anchor');
            const hash = document.location.hash;
            if (hash) {
                document.getElementById(hash.substring(1, hash.length))?.scrollIntoView(true);
            } else if (elts.length > 0) {
                elts.item(0).scrollIntoView(true);
            }


        });
    </script>
    <div class="container-xxl text-center pt-5 pb-3">
        <small>Hosted and supported by <br><img src="/images/sponsors/logo-clevercloud.svg" style="max-height: 2em"></small>
    </div>
    <div class="mxt-layout-footer">
        <div class="d-none d-lg-inline">
            <a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="mxt-anchor--svg" rel="nofollow">
                <img
                        src="/images/svg/mxt-icon--logo.svg"
                        alt="Go to home"
                        class="mxt-icon--logo"></a>

        </div>
        <div class="nav-item d-none d-lg-inline">
            <a href="{{localePrefix}}/about"
               class="nav-link mxt-nav-link mxt-navbar--nav-link mxt-icon--navbar-staff ps-1 pe-1">
                <img src="/images/svg/mxt-icon--staff.svg"
                     class="mxt-icon--navbar me-2"
                     alt="{{#i18n}}header.menu.about{{/i18n}}">
                {{#i18n}}header.menu.about{{/i18n}}</a>
        </div>
        <div class="flex-fill text-center d-none d-lg-inline">
            <img src="/images/svg/mxt-icon--heart.svg" class="d-none d-lg-inline mxt-icon--heart--footer">
        </div>
        <div><a href="https://piaille.fr/@mixitconf" target="_blank" class="mxt-navbar--nav-link">
            <img src="/images/svg/mxt-icon--social-masto.svg" class="mxt-icon--social" alt="Mastodon"></a></div>
        <div><a href="https://github.com/mixitconf/mixit" target="_blank" class="mxt-navbar--nav-link">
            <img src="/images/svg/mxt-icon--social3.svg" class="mxt-icon--social" alt="GitHub"></a></div>
        <div><a href="https://www.linkedin.com/company/mixitconf/" target="_blank" class="mxt-navbar--nav-link">
            <img src="/images/svg/mxt-icon--social4.svg" class="mxt-icon--social" alt="Linkedin"></a></div>
        <div><a href="https://bsky.app/profile/mixitconf.bsky.social" target="_blank" class="mxt-navbar--nav-link">
            <img src="/images/svg/mxt-icon--social-bsky.svg" class="mxt-icon--social" alt="Blue Sky"></a></div>
        <div><a href="https://twitch.tv/mixitconf/" target="_blank" class="mxt-navbar--nav-link">
            <img src="/images/svg/mxt-icon--social-twitch.svg" class="mxt-icon--social" alt="Twitch"></a></div>
        <div><a href="https://www.instagram.com/mixitconf/" target="_blank" class="mxt-navbar--nav-link">
            <img src="/images/svg/mxt-icon--social-instagram.svg" class="mxt-icon--social" alt="Instagram"></a></div>
        <div><a href="https://www.youtube.com/@mixitconf" target="_blank" class="mxt-navbar--nav-link">
            <img src="/images/svg/mxt-icon--social-youtube.svg" class="mxt-icon--social" alt="Youtube"></a></div>
    </div>
    </div>
</div>
</body>
{{> footer-http}}
