<div class="mxt-wrapper--header">
    <div class="row">
        <div class="col-12 text-right d-none d-md-inline">
            <img src="/images/svg/mxt-icon--edition.svg" class="mxt-icon--edition">
        </div>
        <div class="col-12 text-cente pt-5">
            <div class="mxt-hook-h1">
                {{#i18n}}home.wrapper.text{{/i18n}}
                <img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart"
                     alt="{{#i18n}}home.wrapper.title{{/i18n}}">
            </div>
            <h2 class="pt-2 mxt-hook-h2">
                {{#i18n}}home.wrapper.dates{{/i18n}}
            </h2>
        </div>
    </div>
</div>
