<div class="mxt-wrapper--header-page hide-on-mobile">
    <div class="row">
        <div class="col-12 text-right d-none d-md-inline">
            <img src="/images/svg/mxt-icon--edition.svg" class="mxt-icon--edition">
        </div>
        <div class="col-12 text-cente pt-5">
            <div class="mxt-hook-h1">
                {{#i18n}}home.wrapper.text{{/i18n}}
                <img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart"
                     alt="{{#i18n}}home.wrapper.title{{/i18n}}">
            </div>
            <h2 class="pt-2 mxt-hook-h2">
                {{#i18n}}home.wrapper.dates{{/i18n}}
            </h2>
            <p class="pb-0">
                <a href="/accessibility">
                    <img src="/images/svg/accessibility/mxt-icon--child-care.svg" class="mxt-icon--social"
                         container="body"
                         data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="{{#i18n}}home.accessibility.childcare{{/i18n}}"
                         alt="{{#i18n}}home.accessibility.childcare{{/i18n}}">
                </a>
                <a href="/accessibility">
                    <img src="/images/svg/accessibility/mxt-icon--hearing-impaired.svg"
                         data-bs-toggle="tooltip" data-bs-placement="bottom"
                         class="mxt-icon--social" title="{{#i18n}}home.accessibility.hearing.impaired{{/i18n}}"
                         alt="{{#i18n}}home.accessibility.hearing.impaired{{/i18n}}">
                </a>
                <a href="/accessibility">
                    <img src="/images/svg/accessibility/mxt-icon--motor-disability.svg" class="mxt-icon--social"
                         data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="{{#i18n}}home.accessibility.motor.disability{{/i18n}}"
                         alt="{{#i18n}}home.accessibility.motor.disability{{/i18n}}">
                </a>
                <a href="/accessibility">
                    <img src="/images/svg/accessibility/mxt-icon--pregnant.svg" class="mxt-icon--social"
                         data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="{{#i18n}}home.accessibility.pregnant{{/i18n}}"
                         alt="{{#i18n}}home.accessibility.pregnant{{/i18n}}">
                </a>
            </p>
        </div>
    </div>
</div>
