{{> header-http}}
<body class="mxt-body">
<div class="mxt-layout--container">
    <div class="mxt-layout-header">
        {{> menu}}
    </div>
    <div class="mxt-layout-main">
        <div class="anchor"></div>
        <div class="col-12 text-right d-none d-md-inline" style="position: absolute">
            <img src="/images/svg/mxt-icon--edition-13.svg" class="mxt-icon--edition me-2">
        </div>
        <div class="row mxt-layout-header">
            <div class="container-xxl text-center">
                <div>
                    <h1 class="p-2 d-block">
                        {{#i18n}}home.wrapper.text{{/i18n}}
                        <img src="/images/svg/mxt-icon--heart.svg"
                             class="mxt-icon--heart"
                             alt="Mixit heart">
                    </h1>
                </div>
            </div>
        </div>
        <div class="row mxt-layout-header-effect"><div></div></div>
        <div style="min-height: 60vh">
