<nav class="navbar navbar-expand-xl navbar-light mxt-navbar fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand mxt-navbar-brand">
            <a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="mxt-anchor--svg" rel="nofollow">
                <img src="/images/svg/mxt-icon--logo.svg" alt="MiXiT logo" class="mxt-icon--logo"></a>
            <div class="d-none d-sm-flex">
                <span>{{#i18n}}header.menu.dates{{/i18n}}</span>
                <span>{{#i18n}}header.menu.place{{/i18n}}</span>
            </div>
        </div>
        <div class="navbar-nav mxt-navbar-nav-language d-lg-none flex-fill">
            <div class="nav-item mxt-navbar--language me-2">
                {{#en}}EN{{/en}}
                {{#fr}}
                    <a href="{{switchLangUrl}}" class="nav-link mxt-navbar--nav-link mxt-navbar--nav-link">EN</a>{{/fr}}
            </div>
            <div class="nav-item mxt-navbar--language">
                {{#en}}<a class="nav-link mxt-navbar--nav-link" href="{{switchLangUrl}}">FR</a>{{/en}}
                {{#fr}}FR{{/fr}}
            </div>
        </div>
        <button class="navbar-toggler mxt-navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <img src="/images/svg/mxt-icon--hamburger.svg" alt="MiXiT menu" class="">
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
            <div class="navbar-nav mxt-navbar-nav-main">
                {{#admin}}
                    <div class="nav-item">
                        <a href="{{localePrefix}}/admin" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-admin">
                            <img src="/images/svg/mxt-icon--admin.svg"
                                 class="mxt-icon--navbar me-2"
                                 alt="{{#i18n}}header.menu.admin{{/i18n}}">
                            {{#i18n}}header.menu.admin{{/i18n}}</a>
                    </div>{{/admin}}
                {{#volunteer}}
                    <div class="nav-item">
                        <a href="{{localePrefix}}/volunteer" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-admin">
                            <img src="/images/svg/mxt-icon--admin.svg"
                                 class="mxt-icon--navbar me-2"
                                 alt="{{#i18n}}header.menu.admin{{/i18n}}">
                            {{#i18n}}header.menu.admin{{/i18n}}</a>
                    </div>{{/volunteer}}
                {{#hasFeatureLottery}}
                    <div class="nav-item">
                        <a href="{{localePrefix}}/lottery" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-lottery">
                            <img src="/images/svg/mxt-icon-lottery.svg"
                                 class="mxt-icon--navbar me-2"
                                 alt="{{#i18n}}header.menu.lottery{{/i18n}}">
                            {{#i18n}}header.menu.lottery{{/i18n}}</a>
                    </div>
                {{/hasFeatureLottery}}
                {{#hasFeatureCfp}}
                    <div class="nav-item">
                        <a href="{{localePrefix}}/cfp" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-cfp">
                            <img src="/images/svg/mxt-icon-cfp.svg"
                                 class="mxt-icon--navbar me-2"
                                 alt="{{#i18n}}header.menu.cfp{{/i18n}}">
                            {{#i18n}}header.menu.cfp{{/i18n}}</a>
                    </div>
                {{/hasFeatureCfp}}
                <div class="nav-item">
                    <a href="{{localePrefix}}/codeofconduct" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-code">
                        <img src="/images/svg/mxt-icon-code.svg"
                             class="mxt-icon--navbar me-2"
                             alt="{{#i18n}}header.menu.coc{{/i18n}}">
                            {{#i18n}}header.menu.coc{{/i18n}}</a>
                </div>
                <div class="nav-item">
                    <a href="{{localePrefix}}/sponsors" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-sponsors">
                        <img src="/images/svg/mxt-icon-sponsor.svg"
                             class="mxt-icon--navbar me-2"
                             alt="{{#i18n}}header.menu.sponsors{{/i18n}}">
                        {{#i18n}}header.menu.sponsors{{/i18n}}</a>
                </div>
                <div class="nav-item">
                    <a href="{{localePrefix}}/2023/medias" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-video ">
                        <img src="/images/svg/mxt-icon-video.svg"
                             class="mxt-icon--navbar me-2"
                             alt="{{#i18n}}header.menu.replay{{/i18n}}">
                        {{#i18n}}header.menu.replay{{/i18n}}</a>
                </div>
                <div class="nav-item">
                    <a href="{{localePrefix}}/faq" class="nav-link mxt-navbar--nav-link mxt-icon--navbar-faq ">
                        <img src="/images/svg/mxt-icon--faq.svg"
                             class="mxt-icon--navbar me-2"
                             alt="{{#i18n}}header.menu.faq{{/i18n}}">
                        {{#i18n}}header.menu.faq{{/i18n}}</a>
                </div>
            </div>
            <div class="flex-fill d-none d-lg-inline"></div>
            <div class="navbar-nav mxt-navbar-nav">
                <div class="nav-item">
                    <a href="{{localePrefix}}/search" class="nav-link mxt-icon--navbar-search mxt-navbar--nav-link">
                        <img src="/images/svg/mxt-search.svg"
                             alt="{{#i18n}}header.menu.search{{/i18n}}"
                             title="{{#i18n}}header.menu.search{{/i18n}}"
                             class="mxt-icon--navbar">
                        <span class="ms-1 d-inline d-lg-none">{{#i18n}}header.menu.search{{/i18n}}</span>
                    </a>
                </div>
                {{#connected}}
                    <div class="nav-item">
                        <a href="{{localePrefix}}/me" class="nav-link mxt-icon--navbar-profile mxt-navbar--nav-link">
                            <img src="/images/svg/mxt-profile.svg"
                                 alt="{{#i18n}}header.menu.profile{{/i18n}}"
                                 title="{{#i18n}}header.menu.profile{{/i18n}}"
                                 class="mxt-icon--navbar">
                            <span class="ms-1 d-inline d-lg-none">{{#i18n}}header.menu.profile{{/i18n}}</span>
                        </a>
                    </div>
                {{/connected}}
                <div class="nav-item">
                    {{#connected}}
                        <a href="{{localePrefix}}/disconnect"
                           class="nav-link mxt-icon--navbar-disconnect mxt-navbar--nav-link">
                            <img src="/images/svg/security/mxt-lock--close.svg"
                                 title="{{#i18n}}header.menu.logout{{/i18n}}"
                                 alt="{{#i18n}}header.menu.logout{{/i18n}}"
                                 class="mxt-icon--navbar">
                            <span class="ms-1 d-inline d-lg-none">{{#i18n}}header.menu.logout{{/i18n}}</span>
                        </a>
                    {{/connected}}
                    {{^connected}}
                        <a href="{{localePrefix}}/login" class="nav-link mxt-icon--navbar-login mxt-navbar--nav-link">
                            <img src="/images/svg/security/mxt-lock--open.svg"
                                 title="{{#i18n}}header.menu.login{{/i18n}}"
                                 alt="{{#i18n}}header.menu.login{{/i18n}}"
                                 class="mxt-icon--navbar">
                            <span class="ms-1 d-inline d-lg-none">{{#i18n}}header.menu.login{{/i18n}}</span>
                        </a>
                    {{/connected}}
                </div>
                <div class="nav-item mxt-navbar--language d-none d-lg-inline">
                    {{#en}}EN{{/en}}
                    {{#fr}}<a href="{{switchLangUrl}}"
                              class="nav-link mxt-navbar--nav-link mxt-navbar--nav-link">EN</a>{{/fr}}
                </div>
                <div class="nav-item mxt-navbar--language d-none d-lg-inline">
                    {{#en}}<a class="nav-link mxt-navbar--nav-link" href="{{switchLangUrl}}">FR</a>{{/en}}
                    {{#fr}}FR{{/fr}}
                </div>
            </div>
        </div>
    </div>
</nav>
