<a href="/{{year}}/sponsors#{{#urlEncode}}{{login}}{{/urlEncode}}">
    {{#isAbsoluteLogo}}
        <img src="{{photoUrl}}"  alt="{{company}}" class="mxt-img--sponsors-home">
    {{/isAbsoluteLogo}}
    {{^isAbsoluteLogo}}
        <img src="../{{photoUrl}}"  alt="{{company}}" class="mxt-img--sponsors-home">
    {{/isAbsoluteLogo}}
</a>
