<div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
        {{#sponsors}}
            <div class="text-center row justify-content-md-center align-items-center">
                {{#sponsors-main}}
                    <div class="col-4 text-center col-md-3 col-lg-2">
                        {{> sponsor-detail }}
                    </div>
                {{/sponsors-main}}
            </div>
            <div class="text-center row justify-content-md-center align-items-center">
                {{#sponsors-others}}
                    <div class="col-4 text-center col-md-3 col-lg-2">
                        {{> sponsor-detail }}
                    </div>
                {{/sponsors-others}}
            </div>
        {{/sponsors}}
    </div>
</div>
