<div class="mxt-year-selector">
    {{#year-selector}}
        <div class="flex-fill text-center">
            {{#talk}}
                <a href="{{localePrefix}}/{{value}}/{{path}}"
                   class="mxt-nav-link mxt-navbar--nav-link {{#selected}}selected{{/selected}}"
                >{{value}}</a>
            {{/talk}}
            {{^talk}}
                <a href="{{localePrefix}}/{{path}}/{{value}}"
                   class="mxt-nav-link mxt-navbar--nav-link {{#selected}}selected{{/selected}}"
                >{{value}}</a>
            {{/talk}}
        </div>
    {{/year-selector}}
</div>
