{{> header}}
<div class="container" style="min-height: 60vh">
    <h1 class="text-center">{{#i18n}}error.404.title{{/i18n}}</h1>
    <p class="text-center">{{#i18n}}error.404.description{{/i18n}}</p>
    <div class="text-center">
        <a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="btn btn-primary mxt-btn-primary" style="width: 10em">{{#i18n}}error.404.action{{/i18n}}</a>
    </div>
</div>
{{> footer}}
