{{> header}}

<div class="mxt-wrapper--header-sky">
    <div class="row">
        <div class="columns small-12">
            <h1 class="hide">{{#i18n}}home.wrapper.title{{/i18n}}</h1>
            <span class="mxt-text--bigger">{{#i18n}}home.wrapper.text{{/i18n}}<img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart"></span>
            <h2>
                <small>{{#i18n}}home.wrapper.dates{{/i18n}}</small>
            </h2>
            <br>
            <div class="text-right"><img src="/images/svg/mxt-icon--edition.svg" class="mxt-icon--edition"></div>
        </div>
    </div>
</div>
<div class="row align-spaced ">
    <div class="column column-block">
        <h1 class="row align-center">{{#i18n}}error.404.title{{/i18n}}</h1>
        <p class="row align-center">{{#i18n}}error.404.description{{/i18n}}</p>
        <div class="row align-center"><a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="button">{{#i18n}}error.404.action{{/i18n}}</a></div>
    </div>
</div>

{{> footer}}