{{> header}}
<div class="container-xxl">
    <h1 class="text-center">{{#i18n}}error.500.title{{/i18n}}</h1>
    <p class="text-center">{{#i18n}}error.500.description{{/i18n}}</p>
    <p class="text-center"><code>{{#message}}{{message}}{{/message}}</code></p>
    <div class="text-center">
        <a href="{{localePrefix}}/{{#fr}}fr/{{/fr}}" class="btn btn-primary mxt-btn-primary" style="width: 10em">{{#i18n}}error.500.action{{/i18n}}</a>
    </div>
</div>
{{> footer}}
