{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">{{#i18n}}about.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">
            <div class="callout">

                <p class="text-center lead">{{#i18n}}about.story1{{/i18n}}</p>
                <p class="text-center">{{#i18n}}about.story2{{/i18n}}</p>
                <p class="text-center">{{#i18n}}about.story3{{/i18n}}</p>

                <h2 class="subheader text-center mxt-subheader--space">{{#i18n}}about.location.title{{/i18n}}</h2><br />

                <div>
                    <a target="_blank" href="http://www.cpe.fr/">CPE Lyon</a> : Rue Victor Grignard 69100 Villeurbanne
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710" width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76" target="_blank">{{#i18n}}about.location.map.link{{/i18n}}</a><br/>
                    {{#i18n}}about.location.map.label{{/i18n}}
                </div>

                <br/>

                <div>
                    <h3>{{#i18n}}about.location.bike.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.location.bike.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.location.public.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.location.public.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.location.train.title{{/i18n}}</h3>
                    {{#i18n}}about.location.train.detail{{/i18n}}
                </div>

                <div>
                    <h3>{{#i18n}}about.location.plane.title{{/i18n}}</h3>
                    {{#i18n}}about.location.plane.detail{{/i18n}}
                </div>

                <div>
                    <h3>{{#i18n}}about.location.car.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.location.car.detail{{/i18n}}</p>
                </div>

                <h2 class="subheader text-center mxt-subheader--space">FAQ</h2><br />

                <div>
                    <h3>{{#i18n}}about.faq.buy.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.buy.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.schedule.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.schedule.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.video.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.video.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.party.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.party.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.food.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.food.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.social.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.social.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.bill.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.bill.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.training.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.training.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.opca.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.opca.detail{{/i18n}}</p>
                </div>

                <div>
                    <h3>{{#i18n}}about.faq.cpf.title{{/i18n}}</h3>
                    <p>{{#i18n}}about.faq.cpf.detail{{/i18n}}</p>
                </div>

                <h2 class="subheader text-center mxt-subheader--space">{{#i18n}}about.teamtitle{{/i18n}}</h2><br />

                <div class="mxt-wrapper--callout">
                {{#staff}}
                    <div class="row align-middle">
                        <div class="small-12 medium-4 columns text-center">
                            <img src="https://www.gravatar.com/avatar/{{logoUrl}}?size=400" class="mxt-img--team"/>
                        </div>
                        <div class="small-12 medium-8 columns">
                            <h3>{{firstname}} {{lastname}}</h3>
                            {{description}}
                            <ul class="menu simple">
                            {{#links}}
                                <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                            {{/links}}
                            </ul>
                        </div>
                    </div>
                {{/staff}}
                </div>
            </div>
        </div>
    </div>

{{> footer}}
