{{> header}}
<div class="container-xxl">
    <h1>{{#i18n}}about.title{{/i18n}}</h1>
    {{> year-selector}}
</div>
{{#isCurrent}}
    <div class="container-xxl mxt-section">
        <p class="text-center lead">{{#i18n}}about.story1{{/i18n}}</p>
        <p>{{#i18n}}about.story2{{/i18n}}</p>
        <p>{{#i18n}}about.story3{{/i18n}}</p>
    </div>
{{/isCurrent}}
<div class="container-xxl mxt-section">
    <h2>{{#i18n}}about.teamtitle{{/i18n}}</h2>
    <div class="mxt-about--people">
        {{#staff}}
            {{> about-detail}}
        {{/staff}}
    </div>
</div>
{{#hasVolunteers}}
    <div class="container-xxl mxt-section">
        <h2>{{#i18n}}about.volunteers{{/i18n}}</h2>
        <div class="mxt-about--people">
            {{#volunteers}}
                {{> about-detail}}
            {{/volunteers}}
        </div>
    </div>
{{/hasVolunteers}}
{{> footer-sponsor}}
