{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">
        {{#i18n}}about.title{{/i18n}}
        <button class="btn btn-secondary dropdown-toggle mxt-dropdown-header" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{year}}
        </button>
        <ul class="dropdown-menu mxt-dropdown-header" aria-labelledby="dropdownMenuButton1">
            <li><a href="{{localePrefix}}/about/2023" class="dropdown-item">2023</a></li>
            <li><a href="{{localePrefix}}/about/2022" class="dropdown-item">2022</a></li>
            <li><a href="{{localePrefix}}/about/2021" class="dropdown-item">2021</a></li>
            <li><a href="{{localePrefix}}/about/2019" class="dropdown-item">2019</a></li>
            <li><a href="{{localePrefix}}/about/2018" class="dropdown-item">2018</a></li>
            <li><a href="{{localePrefix}}/about/2017" class="dropdown-item">2017</a></li>
            <li><a href="{{localePrefix}}/about/2016" class="dropdown-item">2016</a></li>
            <li><a href="{{localePrefix}}/about/2015" class="dropdown-item">2015</a></li>
            <li><a href="{{localePrefix}}/about/2014" class="dropdown-item">2014</a></li>
            <li><a href="{{localePrefix}}/about/2013" class="dropdown-item">2013</a></li>
            <li><a href="{{localePrefix}}/about/2012" class="dropdown-item">2012</a></li>
        </ul>
    </h1>
</div>

<div class="container mxt-wrapper--page-content">
    {{#isCurrent}}
    <p class="text-center lead">{{#i18n}}about.story1{{/i18n}}</p>
    <p>{{#i18n}}about.story2{{/i18n}}</p>
    <p>{{#i18n}}about.story3{{/i18n}}</p>
    {{/isCurrent}}

    <h2 class="subheader mt-5 text-center">{{#i18n}}about.teamtitle{{/i18n}}</h2><br />
    {{#staff}}
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <div class="mxt-img-avatar__wrapper">
                    {{#emailHash}}<img src="https://www.gravatar.com/avatar/{{emailHash}}?size=400" class="mxt-img-avatar__speaker" aria-label="{{firstname}} {{lastname}} photo"/>{{/emailHash}}
                    {{^emailHash}}{{#photoUrl}}<img src="{{photoUrl}}" class="mxt-img-avatar__speaker" aria-label="{{firstname}} {{lastname}} photo"/>{{/photoUrl}}{{/emailHash}}
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h3>{{firstname}} {{lastname}}</h3>
                {{description}}
                <ul class="mxt-wrapper-list-inline">
                    {{#links}}
                        <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                    {{/links}}
                </ul>
            </div>
        </div>
    {{/staff}}
    {{#hasVolunteers}}
        <h2 class="subheader mt-5 text-center">{{#i18n}}about.volunteers{{/i18n}}</h2><br/>
        {{#volunteers}}
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <div class="mxt-img-avatar__wrapper">
                        {{#emailHash}}<img src="https://www.gravatar.com/avatar/{{emailHash}}?size=400"
                                           class="mxt-img-avatar__speaker"
                                           aria-label="{{firstname}} {{lastname}} photo"/>{{/emailHash}}
                        {{^emailHash}}{{#photoUrl}}<img src="{{photoUrl}}" class="mxt-img-avatar__speaker"
                                                        aria-label="{{firstname}} {{lastname}} photo"/>{{/photoUrl}}{{/emailHash}}
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h3>{{firstname}} {{lastname}}</h3>
                    {{description}}
                    <ul class="mxt-wrapper-list-inline">
                        {{#links}}
                            <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                        {{/links}}
                    </ul>
                </div>
            </div>
        {{/volunteers}}
    {{/hasVolunteers}}
</div>

{{> sponsor-footer }}

{{> footer}}
