{{> header}}

<div class="mxt-wrapper--page-title text-center">
    <h1 class="text-center">{{#i18n}}accessibility.title{{/i18n}}</h1>
    <p class="text-center">
        <img src="/images/svg/accessibility/mxt-icon--child-care.svg" class="mxt-icon--social" title="{{#i18n}}home.accessibility.childcare{{/i18n}}" alt="{{#i18n}}home.accessibility.childcare{{/i18n}}">
        <img src="/images/svg/accessibility/mxt-icon--hearing-impaired.svg" class="mxt-icon--social" title="{{#i18n}}home.accessibility.hearing.impaired{{/i18n}}" alt="{{#i18n}}home.accessibility.hearing.impaired{{/i18n}}">
        <img src="/images/svg/accessibility/mxt-icon--motor-disability.svg" class="mxt-icon--social" title="{{#i18n}}home.accessibility.motor.disability{{/i18n}}" alt="{{#i18n}}home.accessibility.motor.disability{{/i18n}}">
        <img src="/images/svg/accessibility/mxt-icon--pregnant.svg" class="mxt-icon--social" title="{{#i18n}}home.accessibility.pregnant{{/i18n}}" alt="{{#i18n}}home.accessibility.pregnant{{/i18n}}">
    </p>
</div>

<div class="container mxt-wrapper--page-content">
    <div>
        <h2><small>{{#i18n}}accessibility.part1.title{{/i18n}}</small></h2>
        <p class="lead">{{#i18n}}accessibility.part1.lead{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part1.p1{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part1.p2{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part1.p3{{/i18n}}</p>
    </div>
    <div>
        <picture alt="Une conférence accessible">
            <source srcset="images/jpg/mxt-accessibility-640.webp 800w, images/jpg/mxt-accessibility-1200.webp" type="image/webp"/>
            <source srcset="images/jpg/mxt-accessibility-640.jpg 800w, images/jpg/mxt-accessibility-1200.jpg"/>
            <img src="images/png/mxt-accessibility-640.jpg" alt="Une conférence accessible">
        </picture>
    </div>

    <hr/>

    <div>
        <h2><small>{{#i18n}}accessibility.part2.title{{/i18n}}</small></h2>
        <p class="lead">{{#i18n}}accessibility.part2.lead{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part2.p1{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part2.p2{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part2.p3{{/i18n}}</p>
    </div>

    <hr/>

    <div>
        <h2><small>{{#i18n}}accessibility.part3.title{{/i18n}}</small></h2>
        <p class="lead">{{#i18n}}accessibility.part3.lead{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part3.p1{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part3.p2{{/i18n}}</p>
        <p>{{#i18n}}accessibility.part3.p3{{/i18n}}</p>
    </div>
</div>

{{> footer}}
