{{> header}}

<div class="container-xxl">
    <h1>{{#i18n}}accessibility.title{{/i18n}}</h1>

    <h2><small>{{#i18n}}accessibility.part1.title{{/i18n}}</small></h2>
    <p class="lead">{{#i18n}}accessibility.part1.lead{{/i18n}}</p>
    <div class="row">
        <div class="mxt-accesibility-container">
            <img src="/images/svg/accessibility/mxt-icon--child-care-dark.svg"
                 class="mxt-icon--social"
                 alt="{{#i18n}}accessibility.childcare{{/i18n}}">
            <div>{{#i18n}}accessibility.text.mummy{{/i18n}}</div>
        </div>
        <div class="mxt-accesibility-container">
            <img src="/images/svg/accessibility/mxt-icon--hearing-impaired-dark.svg"
                 class="mxt-icon--social"
                 alt="{{#i18n}}accessibility.hearing.impaired{{/i18n}}">
            <div>{{#i18n}}accessibility.hearing.impaired{{/i18n}}</div>
        </div>
        <div class="mxt-accesibility-container">
            <img src="/images/svg/accessibility/mxt-icon--motor-disability-dark.svg"
                 class="mxt-icon--social"
                 alt="{{#i18n}}accessibility.motor.disability{{/i18n}}">
            <div>{{#i18n}}accessibility.motor.disability{{/i18n}}</div>
        </div>
        <div class="mxt-accesibility-container">
            <img src="/images/svg/accessibility/mxt-icon--pregnant-dark.svg"
                 class="mxt-icon--social"
                 alt="{{#i18n}}accessibility.pregnant{{/i18n}}">
            <div>{{#i18n}}accessibility.pregnant{{/i18n}}</div>
        </div>
    </div>

    <p>{{#i18n}}accessibility.part1.p1{{/i18n}}</p>
    <img src="/images/jpg/mxt-accessibility-1200.jpg" style="max-width: 100%" alt="Une conférence accessible">

    <p class="pt-2">{{#i18n}}accessibility.part1.p2{{/i18n}}</p>
    <p>{{#i18n}}accessibility.part1.p3{{/i18n}}</p>

    <div class="row">
        <div class="col-6">
            <img src="/images/jpg/mxt-accessibility1.jpg" style="max-width: 100%" alt="Une conférence accessible">
        </div>
        <div class="col-6">
            <img src="/images/jpg/mxt-accessibility2.jpg" style="max-width: 100%" alt="Une conférence accessible">
        </div>
    </div>

<!--    <h2><small>{{#i18n}}accessibility.part2.title{{/i18n}}</small></h2>-->
<!--    <p class="lead">{{#i18n}}accessibility.part2.lead{{/i18n}}</p>-->
<!--    <p>{{#i18n}}accessibility.part2.p1{{/i18n}}</p>-->
<!--    <p>{{#i18n}}accessibility.part2.p2{{/i18n}}</p>-->
<!--    <p>{{#i18n}}accessibility.part2.p3{{/i18n}}</p>-->

<!--    <h2><small>{{#i18n}}accessibility.part3.title{{/i18n}}</small></h2>-->
<!--    <p class="lead">{{#i18n}}accessibility.part3.lead{{/i18n}}</p>-->
<!--    <p>{{#i18n}}accessibility.part3.p1{{/i18n}}</p>-->
<!--    <p>{{#i18n}}accessibility.part3.p2{{/i18n}}</p>-->
<!--    <p>{{#i18n}}accessibility.part3.p3{{/i18n}}</p>-->
</div>

{{> footer-sponsor}}
