{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}admin.user.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    {{#user.login}}
        <form action="/admin/users/delete" method="post" class="text-center"
              onsubmit="return confirm('{{#i18n}}admin.user.delete.confirm{{/i18n}}');">
        <input type="hidden" name="login" value="{{user.login}}"/>
        <input type="submit" class="btn btn-primary mxt-btn-primary" value="{{#i18n}}common.actions.delete{{/i18n}}"/>
    </form>{{/user.login}}
    <form action="/admin/users" method="post">
        <div class="mb-3">
            <label class="form-label">{{#i18n}}admin.user.form.login{{/i18n}}</label>
            <input class="form-control" type="text" name="login" value="{{user.login}}" required/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.firstname{{/i18n}}</label>
            <input class="form-control" type="text" name="firstname" value="{{user.firstname}}" required/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.lastname{{/i18n}}</label>
            <input class="form-control" type="text" name="lastname" value="{{user.lastname}}" required/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.email{{/i18n}}</label>
            <input class="form-control" type="text" name="email" value="{{#usermail}}{{usermail}}{{/usermail}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.emailHash{{/i18n}}</label>
            <input class="form-control" type="text" name="emailHash" value="{{#user.emailHash}}{{user.emailHash}}{{/user.emailHash}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.photoUrl{{/i18n}}</label>
            <input class="form-control" type="text" name="photoUrl" value="{{#user.photoUrl}}{{user.photoUrl}}{{/user.photoUrl}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.company{{/i18n}}</label>
            <input class="form-control" type="text" name="company" value="{{#user.company}}{{user.company}}{{/user.company}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.description.fr{{/i18n}}</label>
            <textarea class="form-control" name="description-fr" rows="10">{{#description-fr}}{{description-fr}}{{/description-fr}}</textarea>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.description.en{{/i18n}}</label>
            <textarea class="form-control" name="description-en" rows="10">{{#description-en}}{{description-en}}{{/description-en}}</textarea>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.role{{/i18n}}</label>
            <select class="form-control" name="role" required>
                {{#roles}}
                    <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                {{/roles}}
            </select>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.links{{/i18n}}</label>
            <input class="form-control" type="text" name="links" value="{{links}}"/>
        </div>
        <div class="mb-3">
            <label class="label">{{#i18n}}admin.user.form.legacyId{{/i18n}}</label>
            <input class="form-control" type="text" name="legacyId" value="{{#user.legacyId}}{{user.legacyId}}{{/user.legacyId}}"/>
        </div>
        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-outline-primary expand" value="{{#i18n}}common.save{{/i18n}}"/>
        </div>
    </form>
</div>

{{> footer}}
