{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}admin.event.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    {{^creationMode}}<form action="/admin/events/{{eventId}}/volunteers/delete" method="post" onsubmit="return confirm('{{#i18n}}admin.event.organizations.delete.confirm{{/i18n}}');">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <input type="hidden" name="volunteerLogin" value="{{eventVolunteer.volunteerLogin}}"/>
        <input type="submit" class="btn btn-primary mxt-btn-primary" value="{{#i18n}}admin.event.volunteers.delete{{/i18n}}"/>
    </form>{{/creationMode}}
    <form
            {{#creationMode}}action="/admin/events/{{eventId}}/volunteers/create"{{/creationMode}}
            {{^creationMode}}action="/admin/events/{{eventId}}/volunteers"{{/creationMode}}
            method="post" class="row mt-3">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.volunteers.form.login{{/i18n}}
                <a href="/admin/users">{{#i18n}}admin.event.volunteers.form.login.text{{/i18n}}</a> </label>
            {{#creationMode}}
                <input class="form-control" type="text" name="volunteerLogin" required />
            {{/creationMode}}
            {{^creationMode}}
                <input class="form-control" type="text" value="{{eventVolunteer.volunteerLogin}}" disabled="true" />
                <input type="hidden" name="volunteerLogin" value="{{eventVolunteer.volunteerLogin}}"/>
            {{/creationMode}}
        </div>
        <div class="col-12 mb-3 text-center">
            <input type="submit" class="btn btn-outline-primary expand" value="{{#i18n}}admin.event.volunteers.save{{/i18n}}"/>
        </div>
    </form>
</div>

{{> footer}}
