{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">{{#i18n}}admin.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">
            <div class="callout">
                <article>
                    <h2><a href="{{localePrefix}}/admin/ticketing" class="mxt-title--article">{{#i18n}}admin.ticketing.title{{/i18n}}</a></h2>
                    <p>{{#i18n}}admin.ticketing.text{{/i18n}}</p>
                    <a href="{{localePrefix}}/admin/ticketing" class="button hollow align-center">{{#i18n}}admin.link{{/i18n}}</a>
                </article>
            </div>
        </div>
    </div>
</div>

{{> footer}}
