{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}admin.donations.donor.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    <p>{{#i18n}}admin.donations.donor.count{{/i18n}} : <b>{{donations.size}}</b> | <a href="/admin/mixette-donation/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>
    <table class="table-striped table table-bordered">
      <thead>
        <tr>
            <th>{{#i18n}}admin.donations.login{{/i18n}}</th>
            <th>{{#i18n}}admin.donations.name{{/i18n}}</th>
            <th>{{#i18n}}admin.donations.donor.number{{/i18n}}</th>
            <th>{{#i18n}}admin.donations.amount{{/i18n}}</th>
            <th>{{#i18n}}common.actions{{/i18n}}</th>
        </tr>
      </thead>
      <tbody>
        {{#donations}}
        <tr>
            <td>{{login}}</td>
            <td>{{name}}</td>
            <td>{{number}}</td>
            <td>{{amount}}</td>
            <td>
                <a href="/admin/mixette-donation/donor?email={{email}}">{{#i18n}}common.actions.view{{/i18n}}</a>
            </td>
        </tr>
        {{/donations}}
      </tbody>
    </table>
</div>

{{> footer}}
