{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}admin.ticket.title{{/i18n}}</h1>
    <p class="text-center mxt-text--page-title">{{#i18n}}admin.ticket.text{{/i18n}}</p>
</div>

<div class="container mxt-wrapper--page-content">
    <p>{{#i18n}}admin.ticket.count{{/i18n}} : <b>{{tickets.size}}</b>
        | <a href="/admin/ticket/create">{{#i18n}}common.actions.create{{/i18n}}</a></p>
    <table class="table-striped table table-bordered">
      <thead>
        <tr>
          <th>{{#i18n}}admin.ticket.table.firstname{{/i18n}}</th>
          <th>{{#i18n}}admin.ticket.table.lastname{{/i18n}}</th>
          <th>{{#i18n}}admin.ticket.table.email{{/i18n}}</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#tickets}}
        <tr>
          <td>{{firstname}}</td>
          <td>{{lastname}}</td>
          <td><a href="mailto:{{email}}">{{email}}</a></td>
          <td>
              <a href="/admin/ticket/edit/{{number}}">{{#i18n}}common.actions.update{{/i18n}}</a> <br />
          </td>
        </tr>
        {{/tickets}}
      </tbody>
    </table>
</div>

{{> footer}}
