{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}admin.event.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    {{^creationMode}}<form action="/admin/events/{{eventId}}/sponsors/delete" method="post" onsubmit="return confirm('{{#i18n}}admin.event.sponsors.delete.confirm{{/i18n}}');">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <input type="hidden" name="sponsorId" value="{{eventSponsoring.sponsorId}}"/>
        <input type="hidden" name="level" value="{{eventSponsoring.level}}"/>
        <input type="submit" class="btn btn-primary mxt-btn-primary" value="{{#i18n}}common.actions.delete{{/i18n}}"/>
    </form>{{/creationMode}}
    <form
            {{#creationMode}}action="/admin/events/{{eventId}}/sponsors/create"{{/creationMode}}
            {{^creationMode}}action="/admin/events/{{eventId}}/sponsors"{{/creationMode}}
            method="post" class="row mt-3">
        <input type="hidden" name="eventId" value="{{eventId}}"/>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.sponsors.form.level{{/i18n}}</label>
            {{#creationMode}}
                <select class="form-control" name="level" required>
                    {{#levels}}
                        <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                    {{/levels}}
                </select>
            {{/creationMode}}
            {{^creationMode}}
                <input class="form-control" type="text" value="{{eventSponsoring.level}}" disabled="true"/>
                <input type="hidden" name="level" value="{{eventSponsoring.level}}"/>
            {{/creationMode}}
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.sponsors.form.sponsorId{{/i18n}} <a href="/admin/users">{{#i18n}}admin.event.sponsors.form.sponsorId.text{{/i18n}}</a> </label>
            {{#creationMode}}
                <input class="form-control" type="text" name="sponsorId" value="{{eventSponsoring.sponsorId}}" required />
            {{/creationMode}}
            {{^creationMode}}
                <input class="form-control" type="text" value="{{eventSponsoring.sponsorId}}" disabled="true" />
                <input type="hidden" name="sponsorId" value="{{eventSponsoring.sponsorId}}"/>
            {{/creationMode}}
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">{{#i18n}}admin.event.sponsors.form.subscriptiondate{{/i18n}}&nbsp;</label>
            <input class="form-control" type="text" name="subscriptionDate" value="{{eventSponsoring.subscriptionDate}}"/>
        </div>
        <div class="col-12 mb-3 text-center">
            <input type="submit" class="btn btn-outline-primary expand" value="{{#i18n}}common.actions.save{{/i18n}}"/>
        </div>
    </form>
</div>

{{> footer}}
