{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">
            <h1 class="text-center">{{#i18n}}admin.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-12">
            <div class="callout">
                <article>
                    <h2><a href="{{localePrefix}}/admin/events" class="mxt-title--article">{{#i18n}}admin.events.title{{/i18n}}</a></h2>
                    <p>{{#i18n}}admin.events.text{{/i18n}}</p>
                    <a href="{{localePrefix}}/admin/events" class="button hollow align-center">{{#i18n}}admin.link{{/i18n}}</a>
                </article>
                <article>
                    <h2><a href="{{localePrefix}}/admin/users" class="mxt-title--article">{{#i18n}}admin.users.title{{/i18n}}</a></h2>
                    <p>{{#i18n}}admin.users.text{{/i18n}}</p>
                    <a href="{{localePrefix}}/admin/users" class="button hollow align-center">{{#i18n}}admin.link{{/i18n}}</a>
                </article>
                <article>
                    <h2><a href="{{localePrefix}}/admin/talks" class="mxt-title--article">{{#i18n}}admin.talks.title{{/i18n}}</a></h2>
                    <p>{{#i18n}}admin.talks.text{{/i18n}}</p>
                    <a href="{{localePrefix}}/admin/talks" class="button hollow align-center">{{#i18n}}admin.link{{/i18n}}</a>
                </article>
                <article>
                    <h2><a href="{{localePrefix}}/admin/ticketing" class="mxt-title--article">{{#i18n}}admin.ticketing.title{{/i18n}}</a></h2>
                    <p>{{#i18n}}admin.ticketing.text{{/i18n}}</p>
                    <a href="{{localePrefix}}/admin/ticketing" class="button hollow align-center">{{#i18n}}admin.link{{/i18n}}</a>
                </article>
                <article>
                    <h2><a href="{{localePrefix}}/admin/blog" class="mxt-title--article">{{#i18n}}admin.blog.title{{/i18n}}</a></h2>
                    <p>{{#i18n}}admin.blog.text{{/i18n}}</p>
                    <a href="{{localePrefix}}/admin/blog" class="button hollow align-center">{{#i18n}}admin.link{{/i18n}}</a>
                </article>
            </div>
        </div>
    </div>
</div>

{{> footer}}
