{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}mailing.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    <div class="row">
        <p>{{#i18n}}mailing.confirmation{{/i18n}}</p>

        <textarea class="form-control" name="content" rows="20" required>
            {{#emails}}{{emails}}{{/emails}}
        </textarea>
    </div>
</div>

{{> footer}}
