{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">{{#i18n}}admin.talk.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="callout">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div class="large-12 columns">
                    {{#talk.id}}<form action="/admin/talks/delete" method="post" onsubmit="return confirm('{{#i18n}}admin.talk.delete.confirm{{/i18n}}');">
                        <input type="hidden" name="id" value="{{talk.id}}"/>
                        <input type="submit" class="button expand" value="{{#i18n}}admin.talk.delete{{/i18n}}"/>
                    </form>{{/talk.id}}
                    <form action="/admin/talks" method="post">
                        {{#talk.id}}<input type="hidden" name="id" value="{{talk.id}}"/>{{/talk.id}}
                        <input type="hidden" name="event" value="{{talk.event}}"/>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.title{{/i18n}}
                                    <input type="text" name="title" value="{{talk.title}}" required/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.summary{{/i18n}}
                                    <textarea name="summary" rows="5" required>{{talk.summary}}</textarea>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.description{{/i18n}}
                                    <textarea name="description" rows="10">{{#talk.description}}{{talk.description}}{{/talk.description}}</textarea>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.language{{/i18n}}
                                    <select name="language" required>
                                        {{#languages}}
                                        <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                                        {{/languages}}
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.speakers{{/i18n}}
                                    <input type="text" name="speakers" value="{{speakers}}" required/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.video{{/i18n}}
                                    <input type="text" name="video" value="{{#talk.video}}{{talk.video}}{{/talk.video}}"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.room{{/i18n}}
                                    <select name="room">
                                        {{#rooms}}
                                        <option value="{{first}}"{{#third}} selected{{/third}}>{{second}}</option>
                                        {{/rooms}}
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.format{{/i18n}}
                                    <select name="format" required>
                                        {{#formats}}
                                        <option value="{{first}}"{{#second}} selected{{/second}}>{{first}}</option>
                                        {{/formats}}
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.addedAt{{/i18n}}
                                    <input type="text" name="addedAt" value="{{talk.addedAt}}" required/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.start{{/i18n}}
                                    <input type="text" name="start" value="{{#talk.start}}{{talk.start}}{{/talk.start}}" required/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>
                                    {{#i18n}}admin.talk.form.end{{/i18n}}
                                    <input type="text" name="end" value="{{#talk.end}}{{talk.end}}{{/talk.end}}" required/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 large-centered columns">
                                <input type="submit" class="button expand" value="{{#i18n}}admin.talk.save{{/i18n}}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
