{{> header}}

<div class="mxt-wrapper--space"></div>

<div class="row">
    <div class="column large-8 large-offset-2">

        <h1 class="text-center">{{#i18n}}archives.title{{/i18n}}</h1>
        <div class="callout text-center">
            <h2><a href="{{localePrefix}}/2016/sessions/">MiXiT 2016</a></h2>
            <hr />
            <h2><a href="{{localePrefix}}/2015/sessions/">MiXiT 2015</a></h2>
            <hr />
            <h2><a href="{{localePrefix}}/2014/sessions/">MiXiT 2014</a></h2>
            <hr />
            <h2><a href="{{localePrefix}}/2013/sessions/">MiXiT 2013</a></h2>
            <hr />
            <h2><a href="{{localePrefix}}/2012/sessions/">MiXiT 2012</a></h2>
        </div>
    </div>
</div>

{{> footer}}
