{{> header}}

<div class="row align-middle">
  <div class="columns large-8 large-centered">

    <h2>{{article.title}}</h2>

     <p>
         {{article.headline}}
         <br/>
         {{article.htmlContent}}
     </p>

      <p>{{article.author.firstname}}, {{#i18n}}articles.on{{/i18n}} {{article.addedAt}}.</p>

  </div>
</div>

{{> footer}}
