{{> header}}

<div class="mxt-wrapper--space"></div>

<div class="row">
    <div class="column large-8 large-offset-2">
    <h1 class="text-center">{{article.title}}</h1>
    <hr />
    <p class="text-center"><strong>{{#i18n}}articles.by{{/i18n}} {{article.author.firstname}}, {{#i18n}}articles.on{{/i18n}} {{article.addedAt}}</strong></p>
    <div class="callout">
        <p class="lead">{{article.htmlHeadline}}</p>
        <p>{{article.htmlContent}}</p>
    </div>

  </div>
</div>

{{> footer}}
