{{> header}}

<div class="row align-middle">
  <div class="columns large-8 large-centered">
    <h2>{{#i18n}}articles.title{{/i18n}}</h2>
    {{#articles}}
      <div class="callout">
        <h4><a href="{{localePrefix}}/blog/{{id}}">{{title}}</a></h4><span></span>
        <p>
          {{htmlHeadline}}
          <div class="clearfix"><a href="{{localePrefix}}/blog/{{id}}">{{#i18n}}articles.readmore{{/i18n}}</a><span class="float-right">{{author.firstname}}, {{#i18n}}articles.on{{/i18n}} {{addedAt}}.</span></div>
        </p>
      </div>
    {{/articles}}
  </div>
</div>

{{> footer}}
