{{> header}}

<div class="mxt-wrapper--page-title">
    <h1 class="text-center">{{#i18n}}blog.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    {{#posts}}
        <article class="mb-4">
            <h2><a href="{{localePrefix}}/blog/{{slug}}" class="mxt-title--article">{{title}}</a></h2>
            <p class="subheader">{{#i18n}}blog.by{{/i18n}} <strong>{{author.firstname}}</strong>, {{#i18n}}blog.on{{/i18n}} <strong>{{addedAt}}</strong></p>
            <p>{{#markdown}}{{headline}}{{/markdown}}</p>
            <a href="{{localePrefix}}/blog/{{slug}}" class="btn btn-outline-primary">{{#i18n}}blog.readmore{{/i18n}}</a>
        </article>
    {{/posts}}
</div>

{{> footer}}
