{{> header}}

<div class="container-xxl">
    <h1>
        {{#i18n}}blog.title{{/i18n}}
        {{> year-selector}}

        <button class="btn btn-secondary dropdown-toggle mxt-dropdown-header" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{year}}
        </button>
        <ul class="dropdown-menu mxt-dropdown-header" aria-labelledby="dropdownMenuButton1">
            <li><a href="{{localePrefix}}/blog/2023" class="dropdown-item">2023</a></li>
            <li><a href="{{localePrefix}}/blog/2022" class="dropdown-item">2022</a></li>
            <li><a href="{{localePrefix}}/blog/2021" class="dropdown-item">2021</a></li>
            <li><a href="{{localePrefix}}/blog/2019" class="dropdown-item">2019</a></li>
            <li><a href="{{localePrefix}}/blog/2018" class="dropdown-item">2018</a></li>
            <li><a href="{{localePrefix}}/blog/2017" class="dropdown-item">2017</a></li>
            <li><a href="{{localePrefix}}/blog/2016" class="dropdown-item">2016</a></li>
            <li><a href="{{localePrefix}}/blog/2015" class="dropdown-item">2015</a></li>
            <li><a href="{{localePrefix}}/blog/2014" class="dropdown-item">2014</a></li>
            <li><a href="{{localePrefix}}/blog/2013" class="dropdown-item">2013</a></li>
            <li><a href="{{localePrefix}}/blog/2012" class="dropdown-item">2012</a></li>
        </ul>
    </h1>
</div>
    {{^posts}}
        <div class="container-xxl">
            <div class="text-center">{{#i18n}}blog.none{{/i18n}}</div>
        </div>
    {{/posts}}
    {{#posts}}
        <div class="container-xxl">
        <article class="mb-4">
            <h2><a href="{{localePrefix}}/blog/{{slug}}" class="mxt-title--article">{{title}}</a></h2>
            <p class="subheader">{{#i18n}}blog.by{{/i18n}} <strong>{{author.firstname}}</strong>, {{#i18n}}blog.on{{/i18n}} <strong>{{addedAt}}</strong></p>
            <p>{{#markdown}}{{headline}}{{/markdown}}</p>
            <a href="{{localePrefix}}/blog/{{slug}}" class="btn btn-outline-primary">{{#i18n}}blog.readmore{{/i18n}}</a>
        </article>
        </div>
        <div>&nbsp;</div>
    {{/posts}}

{{> footer-sponsor}}
