{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}code-of-conduct.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    <p class="lead">{{#i18n}}code-of-conduct.p1{{/i18n}}</p>
    <p>{{#i18n}}code-of-conduct.p2{{/i18n}}</p>

    <h2 class="mt-5 mb-3 text-center">{{#i18n}}code-of-conduct.quick.title{{/i18n}}</h2>
    <p>{{#i18n}}code-of-conduct.quick.description{{/i18n}}</p>

    <h2 class="mt-5 mb-3 text-center">{{#i18n}}code-of-conduct.lessquick.title{{/i18n}}</h2>
    <p>{{#i18n}}code-of-conduct.lessquick.p1{{/i18n}}</p>
    <p>{{#i18n}}code-of-conduct.lessquick.p2{{/i18n}}</p>
    <p>{{#i18n}}code-of-conduct.lessquick.p3{{/i18n}}</p>
    <p>{{#i18n}}code-of-conduct.lessquick.p4{{/i18n}}</p>
    <p>{{#i18n}}code-of-conduct.lessquick.p5{{/i18n}}</p>
    <p>{{#i18n}}code-of-conduct.lessquick.p6{{/i18n}}</p>
    <p>{{#i18n}}code-of-conduct.lessquick.p7{{/i18n}}</p>

    <p>{{#i18n}}code-of-conduct.credits{{/i18n}}</p>
</div>
{{> footer}}
