{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">{{#i18n}}come..title{{/i18n}}</h1>
            <p class="text-center">
                CPE Lyon - Domaine Scientifique de la Doua - 69100 Villeurbanne
            </p>
            <ul class="menu simple mxt-menu--nav text-center">
                <li><a href="#bike" class="mxt-menu__item--nav">
                    <img src="/images/svg/transport/transport_bike.svg" class="mxt-icon--social" alt="Come by bike"></a>
                </li>
                <li><a href="#public" class="mxt-menu__item--nav">
                    <img src="/images/svg/transport/transport_bus.svg" class="mxt-icon--social"
                         alt="Come by public transportation"></a></li>
                <li><a href="#train" class="mxt-menu__item--nav">
                    <img src="/images/svg/transport/transport_railway.svg" class="mxt-icon--social"
                         alt="Come by car"></a></li>
                <li><a href="#car" class="mxt-menu__item--nav">
                    <img src="/images/svg/transport/transport_flight.svg" class="mxt-icon--social" alt="Come by flight"></a>
                </li>
                <li><a href="#flight" class="mxt-menu__item--nav">
                    <img src="/images/svg/transport/transport_car.svg" class="mxt-icon--social"
                         alt="Come by flight"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">

            <div class="callout">
                <p class="text-center lead">{{#i18n}}come..map.label{{/i18n}}</p>

                <h2 class="text-center mxt-subheader--space">{{#i18n}}come..orientation.title{{/i18n}}</h2>

                <div>
                    <a target="_blank" href="http://www.cpe.fr/">CPE Lyon</a> : Rue Victor Grignard 69100 Villeurbanne
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76"
                       target="_blank">{{#i18n}}come..map.link{{/i18n}}</a><br/>
                </div>

                <h2 class="text-center mxt-subheader--space">
                    <a name="bike"><img src="/images/svg/transport/primary/transport_bike.svg" class="mxt-icon--transport" alt="Come by bike"></a>
                    {{#i18n}}come..bike.title{{/i18n}}
                </h2>
                <p>{{#i18n}}come..bike.detail{{/i18n}}</p>

                <h2 class="text-center mxt-subheader--space">
                    <a name="public"><img src="/images/svg/transport/primary/transport_bus.svg" class="mxt-icon--transport" alt="Come by public transportation"></a>
                    {{#i18n}}come..public.title{{/i18n}}
                </h2>
                <p>{{#i18n}}come..public.detail{{/i18n}}</p>

                <h2 class="text-center mxt-subheader--space">
                    <a name="train"><img src="/images/svg/transport/primary/transport_railway.svg" class="mxt-icon--transport" alt="Come by train"></a>
                    {{#i18n}}come..train.title{{/i18n}}
                </h2>
                <p>{{#i18n}}come..train.detail{{/i18n}}</p>

                <h2 class="text-center mxt-subheader--space">
                    <a name="plane"><img src="/images/svg/transport/primary/transport_flight.svg" class="mxt-icon--transport" alt="Come by flight"></a>
                    {{#i18n}}come..plane.title{{/i18n}}
                </h2>
                <p>{{#i18n}}come..plane.detail{{/i18n}}</p>

                <h2 class="text-center mxt-subheader--space">
                    <a name="car"><img src="/images/svg/transport/primary/transport_car.svg" class="mxt-icon--transport" alt="Come by car"></a>
                    {{#i18n}}come..car.title{{/i18n}}
                </h2>
                <p>{{#i18n}}come..car.detail{{/i18n}}</p>
            </div>
        </div>
    </div>
</div>
</div>
{{> footer}}
