{{> header}}

<div class="container-xxl">
    <h1 class="pt-3">{{#i18n}}faq.title{{/i18n}}</h1>
    
    <h2 class="text-center">{{#i18n}}faq.title.ticket{{/i18n}}</h2>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.buy.title{{/i18n}}</h3>
            <div>{{#i18n}}faq.buy.detail{{/i18n}}</div>
        </div>
    </div>
    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.lottery.title{{/i18n}}</h3>
            <div>{{#i18n}}faq.lottery.detail{{/i18n}}</div>
        </div>
    </div>
    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.bill.title{{/i18n}}</h3>
            <div>{{#i18n}}faq.bill.detail{{/i18n}}</div>
        </div>
    </div>

    <h2 class="text-center ">{{#i18n}}faq.title.prog{{/i18n}}</h2>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.cfp.prog{{/i18n}}</h3>
            <div>{{#i18n}}faq.cfp.detail{{/i18n}}</div>
        </div>
    </div>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.prog.title{{/i18n}}</h3>
            <div>{{#i18n}}faq.prog.detail{{/i18n}}</div>
        </div>
    </div>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.video.title{{/i18n}}</h3>
            <div>{{#i18n}}faq.video.detail{{/i18n}}</div>
        </div>
    </div>

    <h2 class="text-center ">{{#i18n}}faq.title.info{{/i18n}}</h2>
    
    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.newsletter.title{{/i18n}}</h3>
            <div>{{#i18n}}faq.newsletter.detail{{/i18n}}</div>
        </div>
    </div>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.social.title{{/i18n}}</h3>
            <div>{{#i18n}}faq.social.detail{{/i18n}}</div>
        </div>
    </div>

    <h2 class="text-center ">{{#i18n}}faq.title.training{{/i18n}}</h2>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.training.title{{/i18n}}</h3>
            <p>{{#i18n}}faq.training.detail{{/i18n}}</p>
        </div>
    </div>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.opca.title{{/i18n}}</h3>
            <p>{{#i18n}}faq.opca.detail{{/i18n}}</p>
        </div>
    </div>

    <div class="mxt-wrapper--callout">
        <div class="row align-middle">
            <h3 class="subheader">{{#i18n}}faq.cpf.title{{/i18n}}</h3>
            <p>{{#i18n}}faq.cpf.detail{{/i18n}}</p>
        </div>
    </div>
</div>
{{> footer}}
