{{> header}}

<div class="container-xxl">
    <h1>{{#i18n}}faq.title{{/i18n}}</h1>

    {{#sections}}
        <article class="pt-2 pb-2">
            <h2 class="pt-5">
                {{#en}}{{title.descriptionEn}}{{/en}}
                {{#fr}}{{title.descriptionFr}}{{/fr}}
            </h2>
            {{#questions}}
                <div class="row">
                    <h3 class="subheader">{{#en}}{{title.descriptionEn}}{{/en}}{{#fr}}{{title.descriptionFr}}{{/fr}}</h3>
                    <p>{{#en}}{{#markdown}}{{answer.descriptionEn}}{{/markdown}}{{/en}}{{#fr}}{{#markdown}}{{answer.descriptionFr}}{{/markdown}}{{/fr}}</p>
                </div>
            {{/questions}}
        </article>
    {{/sections}}

</div>
{{> footer-sponsor}}
