<footer class="mxt-wrapper--footer">
  <div class="row align-middle">
    <div class="column small-12 medium-7">
      <ul class="menu mxt-menu--nav">
        <li><a href="#" class="mxt-menu__item--nav">Code de conduite</a></li>
        <li><a href="#" class="mxt-menu__item--nav">Mentions légales</a></li>
        <li><a href="#" class="mxt-menu__item--nav">Accessibilité</a></li>
        <li><a href="#" class="mxt-menu__item--nav">Crédits</a></li>
      </ul>
    </div>
    <div class="column hide-for-small-only">
      <object type="image/svg+xml" data="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart--footer"><img src="/images/png/mxt-icon--heart.png"></object>
    </div>
    <div class="column">
      <ul class="menu simple mxt-menu--nav text-right">
        <li><a href="#" target="_blank" class="mxt-menu__item--nav">
          <object type="image/svg+xml" data="/images/svg/mxt-icon--social1.svg" class="mxt-icon--social"><img src="/images/png/mxt-icon--social1.png"></object>
        </a></li>
        <li><a href="#" target="_blank" class="mxt-menu__item--nav">
          <object type="image/svg+xml" data="/images/svg/mxt-icon--social2.svg" class="mxt-icon--social"><img src="/images/png/mxt-icon--social2.png"></object>
        </a></li>
      </ul>
    </div>
  </div>
</footer>

    <script src="/js/app.js"></script>
  </body>
</html>