</div>
<footer class="mxt-wrapper--footer">
  <div class="row align-middle">
    <div class="column small-12 medium-7">
      <ul class="menu mxt-menu--nav">
        <li><a href="{{#i18n}}footer.menu.code.url{{/i18n}}" class="mxt-menu__item--nav" target="_blank">{{#i18n}}footer.menu.code{{/i18n}}</a></li>
        <!--<li><a href="#" class="mxt-menu__item--nav">{{#i18n}}footer.menu.legal{{/i18n}}</a></li>
        <li><a href="#" class="mxt-menu__item--nav">{{#i18n}}footer.menu.accessibility{{/i18n}}</a></li>
        <li><a href="#" class="mxt-menu__item--nav">{{#i18n}}footer.menu.credits{{/i18n}}</a></li>-->
      </ul>
    </div>
    <div class="column hide-for-small-only">
        <img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart--footer">
    </div>
    <div class="column">
      <ul class="menu simple mxt-menu--nav text-right">
        <li><a href="https://www.facebook.com/mixitconf/" target="_blank" class="mxt-menu__item--nav">
            <img src="/images/svg/mxt-icon--social1.svg" class="mxt-icon--social" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/mixitconf" target="_blank" class="mxt-menu__item--nav">
            <img src="/images/svg/mxt-icon--social2.svg" class="mxt-icon--social" alt="Twitter"></a></li>
      </ul>
    </div>
  </div>
</footer>

    <script src="/js/app.js"></script>
  </body>
</html>