<html class="mdl-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Mix-IT, it's 2 intense days of conferences to discover new ideas, games to learn, development or creative workshops">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mix-IT</title>
    <base href="/">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mix-IT">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mix-IT">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#0277bd">
    <meta name="google-site-verification" content="qDFxcAv1zhCLUhj0mMn9Nk_tEk0DCH02Dn6QHZP9Is8">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#0277bd">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="styles/vendors.min.css">
    <link rel="stylesheet" href="styles/cesar.min.css">
</head>
<body style="" class="">

<!--[if lte IE 9]>
<div class="cesar-container">
    <p>&nbsp;</p>
    <h1 class="browserupgrade center">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h1>
    <p>You can use IE>10, Firefox, Chrome, Safari...</p>
</div>
<![endif]-->

<div class="mdl-layout__container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header is-upgraded" data-upgraded=",MaterialLayout">