<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiXiT</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" type="image/png" href="favicon.ico">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-title">
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
          </span>
          <object type="image/svg+xml" data="/images/svg/mxt-icon--logo.svg" class="mxt-icon--logo"><img src="/images/png/mxt-icon--logo.png"></object>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="menu mxt-menu--nav">
            <li><a href="{{localePrefix}}/" class="mxt-menu__item--nav">{{#i18n}}header.menu.home{{/i18n}}</a></li>
            <li><a href="{{localePrefix}}/blog/" class="mxt-menu__item--nav">{{#i18n}}header.menu.blog{{/i18n}}</a></li>
            <!--<li><a href="#" class="mxt-menu__item--nav">{{#i18n}}header.menu.speakers{{/i18n}}</a></li>
            <li><a href="#" class="mxt-menu__item--nav">{{#i18n}}header.menu.talks{{/i18n}}</a></li>
            <li><a href="#" class="mxt-menu__item--nav">{{#i18n}}header.menu.planning{{/i18n}}</a></li>
            <li><a href="#" class="mxt-menu__item--nav">{{#i18n}}header.menu.ticketing{{/i18n}}</a></li>
            <li><a href="#" class="mxt-menu__item--nav">{{#i18n}}header.menu.where{{/i18n}}</a></li>-->
            <li><a href="{{localePrefix}}/sponsors/" class="mxt-menu__item--nav">{{#i18n}}header.menu.sponsors{{/i18n}}</a></li>
            <li>{{#en}}<a class="mxt-menu__item--nav" href="/">FR</a>{{/en}}{{#fr}}<a href="/en/" class="mxt-menu__item--nav">EN</a>{{/fr}}</li>
          </ul>
        </div>
      </div>
    </div>