<!doctype html>
<html class="no-js" lang="{{#en}}en{{/en}}{{#fr}}fr{{/fr}}">
<head>
    <meta charset="utf-8"/>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="MiXiT">
    <link rel="icon" sizes="192x192" href="/images/png/mxt-favicon_chrome.png">
    <link rel="alternate" hreflang="{{#en}}fr{{/en}}{{#fr}}en{{/fr}}" href="{{switchLangUrl}}"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Dev-Mind">
    <link rel="apple-touch-icon" href="images/png/mxt-favicon_apple.png">
    <meta name="theme-color" content="#2c233d">

    <meta property="og:title" content="MiXiT{{#title}} - {{#i18n}}{{title}}{{/i18n}}{{/title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{uri}}"/>
    <meta property="og:image" content="https://mixitconf.org/images/png/fbpreview.png"/>
    <title>{{#title}}{{#i18n}}{{title}}{{/i18n}} - {{/title}}MiXiT</title>
    <link rel="stylesheet" href="/css/mixit.css">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link type="application/atom+xml" rel="alternate" href="{{localePrefix}}/blog/feed"/>
</head>
<body class="mxt-wrapper--body">
