{{> header}}

<div class="mxt-wrapper--header">
    <div class="row">
        <div class="columns small-12 hide-for-small-only">
            <div class="text-right"><img src="/images/svg/mxt-icon--edition.svg" class="mxt-icon--edition"></div>
            <h1 class="hide">{{#i18n}}home.wrapper.title{{/i18n}}</h1>
            <span class="mxt-text--bigger">{{#i18n}}home.wrapper.text{{/i18n}}<img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart"></span>
            <br>
            <h2 style="padding-bottom: 2em">
                <small>{{#i18n}}home.wrapper.dates{{/i18n}}</small>
            </h2>
        </div>
        <div class="columns small-12 show-for-small-only">
            <h1 class="mxt-text--mobile-bigger">
            <span>{{#i18n}}home.wrapper.text{{/i18n}}<img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart"></span>
            </h1>
            <br>
            <h2 style="padding-bottom: 4em">
                <small>{{#i18n}}home.wrapper.dates{{/i18n}}</small>
            </h2>
        </div>
    </div>
</div>

<div class="row align-spaced">
    <div class="column column-block text-center">
        <h2 class="align-center">{{#i18n}}home.intro.title{{/i18n}}</h2>
        <p>{{#i18n}}home.intro.description{{/i18n}}</p>
    </div>
</div>

<div class="mxt-wrapper--white" style="padding-bottom: 3em">
    <div class="row align-spaced">
        <div class="column column-block text-center">
            <h2 class="text-center">
                <small>{{#i18n}}home.intro.participate{{/i18n}}</small>
            </h2>
            <p>{{#i18n}}home.intro.participate.description{{/i18n}}</p>

            <p>{{#i18n}}home.intro.participate.description2{{/i18n}}</p>
            <p><a href="https://yurplan.com" target="_blank" class="button mxt-anchor--uppercase">
                {{#i18n}}header.menu.ticketing{{/i18n}}</a></p>
        </div>
    </div>

    <h2 class="text-center">
        <small>{{#i18n}}home.intro.speaker.intro{{/i18n}}</small>
    </h2>

    <div class="row align-middle">

        <div class="medium-6 columns">
            <p>{{#i18n}}home.outline.description2{{/i18n}}</p>

            <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.intro.day1{{/i18n}}<br>
                <small>17:00 - 20:00</small>
            </h3>
            <b>James Auger, Guillaume Pitron, Eva Illouz</b>
            <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.intro.day2{{/i18n}}<br>
                <small>17:00 - 20:00</small>
            </h3>
            <b>Antonio Casili, Isabelle Collet, Carol Adam</b>

            <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.intro.day3{{/i18n}}<br>
                <small>17:00 - 21:00</small>
            </h3>
            <b>Gaël Duval, Arvi Takiri, Esther, Pamela Fox</b>
        </div>
        <div class="columns mxt-icon--wrapper column-block small-12 medium-6">
            <img src="/images/svg/planning/2021_hour.svg" class="mxt-icon--cat"  style="padding: 0.5em" alt="{{#i18n}}home.topics.makers.title{{/i18n}}">
        </div>
    </div>

</div>


<div class="row">
    <div class="column">
        <h2 class="text-center">
            <small>{{#i18n}}home.intro.previous{{/i18n}}</small>
        </h2>


    </div>
</div>

<div class="row align-spaced ">
    <div class="columns mxt-icon--wrapper column-block small-12 medium-6 large-4">
        <h2 class="hide">{{#i18n}}home.topics.title{{/i18n}}</h2>

        <a href="{{localePrefix}}/2019/makers">
            <div class="row align-middle">
                <div class="columns medium-push-9">
                    <img src="/images/svg/mxt-icon--makers.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.makers.title{{/i18n}}">
                </div>
                <div class="columns small-9 medium-pull-3">
                    <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.makers.title{{/i18n}}<br>
                        <small>{{#i18n}}home.topics.makers.description{{/i18n}}</small>
                    </h3>
                </div>
            </div>
        </a>

        <a href="{{localePrefix}}/2019/aliens">
            <div class="row align-middle">
                <div class="columns medium-push-9">
                    <img src="/images/svg/mxt-icon--aliens.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.aliens.title{{/i18n}}">
                </div>
                <div class="columns small-9 medium-pull-3">
                    <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.aliens.title{{/i18n}}<br>
                        <small>{{#i18n}}home.topics.aliens.description{{/i18n}}</small>
                    </h3>
                </div>
            </div>
        </a>
        <a href="{{localePrefix}}/2019/tech">
            <div class="row align-middle">
                <div class="columns medium-push-9">
                    <img src="/images/svg/mxt-icon--tech.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.tech.title{{/i18n}}">
                </div>
                <div class="columns small-9 medium-pull-3">
                    <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.tech.title{{/i18n}}<br>
                        <small>{{#i18n}}home.topics.tech.description{{/i18n}}</small>
                    </h3>
                </div>
            </div>
        </a>
        <a href="{{localePrefix}}/2019/design">
            <div class="row align-middle">
                <div class="columns medium-push-9">
                    <img src="/images/svg/mxt-icon--design.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.design.title{{/i18n}}">
                </div>
                <div class="columns small-9 medium-pull-3">
                    <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.design.title{{/i18n}}<br>
                        <small>{{#i18n}}home.topics.design.description{{/i18n}}</small>
                    </h3>
                </div>
            </div>
        </a>
        <a href="{{localePrefix}}/2019/ethics">
            <div class="row align-middle">
                <div class="columns medium-push-9">
                    <img src="/images/svg/mxt-icon--ethic.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.ethics.title{{/i18n}}">
                </div>
                <div class="columns small-9 medium-pull-3">
                    <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.ethics.title{{/i18n}}<br>
                        <small>{{#i18n}}home.topics.ethics.description{{/i18n}}</small>
                    </h3>
                </div>
            </div>
        </a>
        <a href="{{localePrefix}}/2019/lifestyle">
            <div class="row align-middle">
                <div class="columns medium-push-9">
                    <img src="/images/svg/mxt-icon--lifestyle.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.lifestyle.title{{/i18n}}">
                </div>
                <div class="columns small-9 medium-pull-3">
                    <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.lifestyle.title{{/i18n}}<br>
                        <small>{{#i18n}}home.topics.lifestyle.description{{/i18n}}</small>
                    </h3>
                </div>
            </div>
        </a>
        <a href="{{localePrefix}}/2019/team">
            <div class="row align-middle">
                <div class="columns medium-push-9">
                    <img src="/images/svg/mxt-icon--team.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.team.title{{/i18n}}">
                </div>
                <div class="columns small-9 medium-pull-3">
                    <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.team.title{{/i18n}}<br>
                        <small>{{#i18n}}home.topics.team.description{{/i18n}}</small>
                    </h3>
                </div>

            </div>
        </a>
    </div>
    <div class="medium-5 columns">
        <h2>{{#i18n}}home.outline.title{{/i18n}}</h2>
        <br/>
        <p class="lead">{{#i18n}}home.outline.description1{{/i18n}}</p>
        <p>{{#i18n}}home.outline.description2{{/i18n}}</p>

        <div class="mxt-wrapper--intrinsic">
            <iframe src="https://player.vimeo.com/video/346825478" class="mxt-wrapper--video-player vimeo"
                    allowfullscreen></iframe>
        </div>
    </div>

</div>


<div class="mxt-wrapper--white">
    <div class="row mxt-wrapper--row" style="display: none">
        <div class="column column-block">
            <h2 class="text-center">
                <small>{{#i18n}}home.speakers.current.title{{/i18n}}</small>
            </h2>
            <br>
            <div class="row small-up-2 medium-up-3 large-up-6 mxt-wrapper--row">
                {{#stars-current}}
                    {{> home-speaker }}
                {{/stars-current}}
            </div>
        </div>
    </div>
    <div class="row mxt-wrapper--row">
        <div class="column column-block">
            <h2 class="text-center">
                <small>{{#i18n}}home.speakers.title{{/i18n}}</small>
            </h2>
            <br>
            <div class="row small-up-2 medium-up-3 large-up-6 mxt-wrapper--row">
                {{#stars-old}}
                    {{> home-speaker }}
                {{/stars-old}}
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="column">
        <hr/>
    </div>
</div>

<div class="row small-up-2 medium-up-4 align-center align-middle">
    {{#sponsors-main}}
        <div class="columns text-center">
            {{> sponsor-detail }}
        </div>
    {{/sponsors-main}}
</div>
<hr/>
<div class="row small-up-3 medium-up-6 align-center align-middle">
    {{#sponsors-others}}
        <div class="columns text-center">
            {{> sponsor-detail }}
        </div>
    {{/sponsors-others}}
</div>

<div class="row">
    <div class="column">
        <hr/>
        <h2 class="subheader text-center">{{#i18n}}home.sponsors.title{{/i18n}}</h2>
        <p class="text-center"><a class="mxt-anchor--uppercase" href="{{#i18n}}home.sponsors.pdf.url{{/i18n}}">{{#i18n}}home.sponsors.pdf{{/i18n}}</a> / <a
                class="mxt-anchor--uppercase" href="mailto:contact@mix-it.fr" target="_top">{{#i18n}}home.sponsors.contact{{/i18n}}</a></p>
    </div>
</div>

{{> footer}}
