{{> header}}

<div class="mxt-wrapper--header">
  <div class="row">
    <div class="columns small-12">
      <h1 class="hide">{{#i18n}}home.wrapper.title{{/i18n}}</h1>
      <span class="mxt-text--bigger">{{#i18n}}home.wrapper.text{{/i18n}}<img src="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart"></span>
      <h2><small>{{#i18n}}home.wrapper.dates{{/i18n}}</small></h2><br>
      <!--<p><a href="https://mix-it.cfp.io" target="_blank" class="button hollow mxt-anchor--uppercase">{{#i18n}}home.wrapper.submit{{/i18n}}</a></p>-->
      <div class="text-right"><img src="/images/svg/mxt-icon--edition.svg" class="mxt-icon--edition"></div>
    </div>
  </div>
</div>

<div class="row align-spaced ">
  <div class="columns mxt-icon--wrapper column-block small-12 medium-6 large-4">

    <h2 class="hide">{{#i18n}}home.topics.title{{/i18n}}</h2>

    <!--<a href="{{localePrefix}}/2017/makers">-->
      <div class="row align-middle">
        <div class="columns medium-push-9">
            <img src="/images/svg/mxt-icon--makers.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.makers.title{{/i18n}}">
        </div>
        <div class="columns small-9 medium-pull-3">
          <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.makers.title{{/i18n}}<br><small>{{#i18n}}home.topics.makers.description{{/i18n}}</small></h3>
        </div>
      </div>
    <!--</a>-->

    <div class="row align-middle">
      <div class="columns medium-push-9">
          <img src="/images/svg/mxt-icon--aliens.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.aliens.title{{/i18n}}">
      </div>
        <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.aliens.title{{/i18n}}<br><small>{{#i18n}}home.topics.aliens.description{{/i18n}}</small></h3>
      </div>
    </div>

    <div class="row align-middle">
      <div class="columns medium-push-9">
          <img src="/images/svg/mxt-icon--tech.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.tech.title{{/i18n}}">
      </div>
      <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.tech.title{{/i18n}}<br><small>{{#i18n}}home.topics.tech.description{{/i18n}}</small></h3>
      </div>
    </div>

    <div class="row align-middle">
     <div class="columns medium-push-9">
         <img src="/images/svg/mxt-icon--design.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.design.title{{/i18n}}">
      </div>
      <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.design.title{{/i18n}}<br><small>{{#i18n}}home.topics.design.description{{/i18n}}</small></h3>
      </div>
    </div>

    <div class="row align-middle">
      <div class="columns medium-push-9">
        <img src="/images/svg/mxt-icon--hacktivism.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.hacktivism.title{{/i18n}}">
      </div>
      <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.hacktivism.title{{/i18n}}<br><small>{{#i18n}}home.topics.hacktivism.description{{/i18n}}</small></h3>
      </div>
    </div>

    <div class="row align-middle">
      <div class="columns medium-push-9">
         <img src="/images/svg/mxt-icon--learn.svg" class="mxt-icon--cat" alt="{{#i18n}}home.topics.learn.title{{/i18n}}">
      </div>
      <div class="columns small-9 medium-pull-3">
          <h3 class="subheader mxt-subheader--categories">{{#i18n}}home.topics.learn.title{{/i18n}}<br><small>{{#i18n}}home.topics.learn.description{{/i18n}}</small></h3>
      </div>
    </div>
  </div>

  <div class="medium-5 columns">
    <h2>{{#i18n}}home.outline.title{{/i18n}}</h2>
    <br />
    <p class="lead">{{#i18n}}home.outline.description1{{/i18n}}</p>
    <p>{{#i18n}}home.outline.description2{{/i18n}}</p>
  </div>

</div>

<div class="mxt-wrapper--white">
    <div class="row">
        <div class="column column-block">
            <strong>
                <div class="mxt-wrapper--intrinsic">
                    <iframe src="https://player.vimeo.com/video/215910469" class="mxt-wrapper--video-player"
                            allowfullscreen></iframe>
                </div>
            </strong>
        </div>
    </div>
</div>

<div class="mxt-wrapper--white">
  <div class="row">
    <div class="column column-block">

      <h2 class="text-center"><small>{{#i18n}}home.speakers.title{{/i18n}}</small></h2>
      <br>
      <div class="row small-up-1 medium-up-2 large-up-5">

        <div class="column column-block">
          <a href="https://www.joelonsoftware.com/" target="_blank">
            <div class="mxt-img--container">
              <picture>
                <source srcset="/images/speakers/spolsky.webp" type=" image/webp" alt="speaker-spolsky" class="mxt-img--speakers">
                <source srcset="/images/speakers/spolsky.jpg" alt="speaker-spolsky" class="mxt-img--speakers">
                <img src="/images/speakers/spolsky.jpg" alt="speaker-spolsky" class="mxt-img--speakers">
              </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Joel Spolsky</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.spolsky{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/tastapod" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/north.webp" type=" image/webp" alt="speaker-north" class="mxt-img--speakers">
              <source srcset="/images/speakers/north.jpg" alt="speaker-north" class="mxt-img--speakers">
              <img src="/images/speakers/north.jpg" alt="speaker-north" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Dan North</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.north{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/pamelafox" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/fox.webp" type=" image/webp" alt="speaker-fox" class="mxt-img--speakers">
              <source srcset="/images/speakers/fox.jpg" alt="speaker-fox" class="mxt-img--speakers">
              <img src="/images/speakers/fox.jpg" alt="speaker-fox" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Pamela Fox</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.fox{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/matti_sg" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/schneider.webp" type=" image/webp" alt="speaker-schneider" class="mxt-img--speakers">
              <source srcset="/images/speakers/schneider.jpg" alt="speaker-schneider" class="mxt-img--speakers">
              <img src="/images/speakers/schneider.jpg" alt="speaker-schneider" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Matti Schneider</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.schneider{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/bodil" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/stokke.webp" type=" image/webp" alt="speaker-stokke" class="mxt-img--speakers">
              <source srcset="/images/speakers/stokke.jpg" alt="speaker-stokke" class="mxt-img--speakers">
              <img src="/images/speakers/stokke.jpg" alt="speaker-stokke" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Bodil Stokke</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.stokke{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/mojavelinux" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/allen.webp" type=" image/webp" alt="speaker-allen" class="mxt-img--speakers">
              <source srcset="/images/speakers/allen.jpg" alt="speaker-allen" class="mxt-img--speakers">
              <img src="/images/speakers/allen.jpg" alt="speaker-allen" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Dan Allen</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.allen{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/waitbutwhy" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/urban.webp" type=" image/webp" alt="speaker-urban" class="mxt-img--speakers">
              <source srcset="/images/speakers/urban.jpg" alt="speaker-urban" class="mxt-img--speakers">
              <img src="/images/speakers/urban.jpg" alt="speaker-urban" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Tim Urban</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.urban{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/kytrinyx" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/owen.webp" type=" image/webp" alt="speaker-owen" class="mxt-img--speakers">
              <source srcset="/images/speakers/owen.jpg" alt="speaker-owen" class="mxt-img--speakers">
              <img src="/images/speakers/owen.jpg" alt="speaker-owen" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Katrina Owen</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.owen{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/ppezziardi" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/piezzardi.webp" type=" image/webp" alt="speaker-piezzardi" class="mxt-img--speakers">
              <source srcset="/images/speakers/piezzardi.jpg" alt="speaker-piezzardi" class="mxt-img--speakers">
              <img src="/images/speakers/piezzardi.jpg" alt="speaker-piezzardi" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Pierre Piezzardi</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.piezzardi{{/i18n}}</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/nitot" target="_blank">
            <div class="mxt-img--container">
            <picture>
              <source srcset="/images/speakers/nitot.webp" type=" image/webp" alt="speaker-nitot" class="mxt-img--speakers">
              <source srcset="/images/speakers/nitot.jpg" alt="speaker-nitot" class="mxt-img--speakers">
              <img src="/images/speakers/nitot.jpg" alt="speaker-nitot" class="mxt-img--speakers">
            </picture>
              <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
            </div>
          </a>
          <span class="lead">Tristan Nitot</span><br />
          <p class="mxt-text--speakers">{{#i18n}}home.speakers.nitot{{/i18n}}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="column">

    <h2 class="text-center"><small>{{#i18n}}home.perks.title{{/i18n}}</small></h2>
    <br>
    <div class="row medium-unstack align-spaced">
      <div class="columns medium-3">
        <p><strong>{{#i18n}}home.perks.cityhall.title{{/i18n}}</strong></p>
        <p>{{#i18n}}home.perks.cityhall.description{{/i18n}}</p>
      </div>
      <div class="columns medium-3">
        <p><strong>{{#i18n}}home.perks.pancakes.title{{/i18n}}</strong></p>
        <p>{{#i18n}}home.perks.pancakes.description{{/i18n}}</p>
      </div>
      <div class="columns medium-3">
        <p><strong>{{#i18n}}home.perks.lunch.title{{/i18n}}</strong></p>
        <p>{{#i18n}}home.perks.lunch.description{{/i18n}}</p>
      </div>
      <div class="columns medium-3">
        <p><strong>{{#i18n}}home.perks.orga.title{{/i18n}}</strong></p>
        <p>{{#i18n}}home.perks.orga.description{{/i18n}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <hr />
  </div>
</div>

<div class="row small-up-2 medium-up-4 align-center align-middle">
    {{#sponsors-gold}}
        <div class="columns text-center">
            {{> home-sponsor }}
        </div>
    {{/sponsors-gold}}
</div>
<hr/>
<div class="row small-up-3 medium-up-6 align-center align-middle">
    {{#sponsors-lanyard}}
        <div class="columns text-center">
            {{> home-sponsor }}
        </div>
    {{/sponsors-lanyard}}
    {{#sponsors-party}}
        <div class="columns text-center">
            {{> home-sponsor }}
        </div>
    {{/sponsors-party}}
    {{#sponsors-silver}}
        <div class="columns columns-block text-center">
            {{> home-sponsor }}
        </div>
    {{/sponsors-silver}}
    {{#sponsors-hosting}}
        <div class="columns text-center">
            {{> home-sponsor }}
        </div>
    {{/sponsors-hosting}}
    {{#sponsors-video}}
        <div class="columns text-center">
            {{> home-sponsor }}
        </div>
    {{/sponsors-video}}
</div>

<div class="row">
  <div class="column">
    <hr />
    <h2 class="subheader text-center">{{#i18n}}home.sponsors.title{{/i18n}}</h2>
    <p class="text-center"><a class="mxt-anchor--uppercase" href="{{#i18n}}home.sponsors.pdf.url{{/i18n}}">{{#i18n}}home.sponsors.pdf{{/i18n}}</a> / <a class="mxt-anchor--uppercase" href="mailto:contact@mix-it.fr" target="_top">{{#i18n}}home.sponsors.contact{{/i18n}}</a></p>
  </div>
</div>

{{> footer}}