<div class="col-md-2 col-4">
    <a href="/user/{{login}}">
        <div class="mxt-img--container">
            <img src="{{baseUri}}/images/speakers/{{key}}.jpg" alt="{{name}}" class="mxt-img--speakers">
        </div>
    </a>
    <span class="lead">{{name}}</span><br/>
    <p class="mxt-text--speakers">{{#i18n}}home.speakers.{{key}}{{/i18n}}</p>
</div>