{{> header}}

<div class="mxt-wrapper--header">
  <div class="row">
    <div class="columns small-12">
      <h1 class="hide">La conférence Lyonnaise avec des crêpes et du coeur</h1>
      <span class="mxt-text--bigger">La conférence <span class="mxt-text--cyan">Lyonnaise</span> <br>avec des crêpes et du <span class="mxt-text--orange">coeur</span><object type="image/svg+xml" data="/images/svg/mxt-icon--heart.svg" class="mxt-icon--heart"><img src="/images/png/mxt-icon--heart.png"></object></span>
      <h2><small>20 &amp; 21 avril 2017</small></h2><br>
      <p><a href="#" class="button hollow mxt-anchor--uppercase">proposer un sujet</a></p>
      <div class="text-right"><object type="image/svg+xml" data="/images/svg/mxt-icon--edition.svg" class="mxt-icon--edition"><img src="/images/png/mxt-icon--edition.png"></object></div>
    </div>
  </div>
</div>

<div class="row align-spaced ">
  <div class="columns mxt-icon--wrapper column-block small-12 medium-6 large-4">

    <h2 class="hide">Catégories</h2>

    <div class="row align-middle">
      <div class="columns medium-push-9">
        <object type="image/svg+xml" data="/images/svg/mxt-icon--cat1.svg" class="mxt-icon--cat"><img src="/images/png/mxt-icon--cat1.png"></object>
      </div>
      <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">Makers<br><small>Bricolage connecté</small></h3>
      </div>
    </div>

    <div class="row align-middle">
      <div class="columns medium-push-9">
        <object type="image/svg+xml" data="/images/svg/mxt-icon--cat2.svg" class="mxt-icon--cat"><img src="/images/png/mxt-icon--cat2.png"></object>
      </div>
        <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">Aliens<br><small>Hors des sentiers</small></h3>
      </div>
    </div>

    <div class="row align-middle">
      <div class="columns medium-push-9">
        <object type="image/svg+xml" data="/images/svg/mxt-icon--cat3.svg" class="mxt-icon--cat"><img src="/images/png/mxt-icon--cat3.png"></object>
      </div>
      <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">Catch Up<br><small>Techno à la mode</small></h3>
      </div>
    </div>

    <div class="row align-middle">
     <div class="columns medium-push-9">
        <object type="image/svg+xml" data="/images/svg/mxt-icon--cat4.svg" class="mxt-icon--cat"><img src="/images/png/mxt-icon--cat4.png"></object>
      </div>
      <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">Basiques<br><small>Les fondamentaux</small></h3>
      </div>
    </div>

    <div class="row align-middle">
      <div class="columns medium-push-9">
        <object type="image/svg+xml" data="/images/svg/mxt-icon--cat5.svg" class="mxt-icon--cat"><img src="/images/png/mxt-icon--cat5.png"></object>
      </div>
      <div class="columns small-9 medium-pull-3">
        <h3 class="subheader mxt-subheader--categories">Hacktivism<br><small>IT engagée</small></h3>
      </div>
    </div>

  </div>

  <div class="medium-5 columns">
    <h2><em>Des sujets variés</em>,<br>
    Des speakers de choix,<br>
    <strong>Des valeurs.</strong></h2>
    <p>MiXiT, c’est deux jours de découverte et de rencontres conviviales, dédiés à la mixité des sujets, des technologies mais aussi des participants. Bref, une conférence technique, mais pas que…</p><p>Pour cette 7e édition,  nous avons choisi d’orienter les conférences autours de thèmes généraux qui nous touchent.</p>
  </div>

</div>

<div class="mxt-wrapper--white">
  <div class="row">
    <div class="column column-block">

      <h2 class="text-center"><small>Speakers</small></h2>
      <br>
      <div class="row small-up-1 medium-up-2 large-up-5">

        <div class="column column-block">
            <a href="https://www.joelonsoftware.com/" target="_blank"><img src="/images/speakers/spolsky.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
            <span class="lead">Joel Spolsky</span>
            <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
            <a href="https://twitter.com/tastapod" target="_blank"><img src="/images/speakers/north.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
            <span class="lead">Dan North</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/pamelafox" target="_blank"><img src="/images/speakers/fox.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">Pamela Fox</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/matti_sg" target="_blank"><img src="/images/speakers/schneider.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">Matti Schneider</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://github.com/bodil" target="_blank"><img src="/images/speakers/stokke.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">JBodil Stokke</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/mojavelinux" target="_blank"><img src="/images/speakers/allen.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">Dan Allen</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/waitbutwhy" target="_blank"><img src="/images/speakers/urban.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">Tim Urban</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/kytrinyx" target="_blank"><img src="/images/speakers/owen.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">Katrina Owen</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/ppezziardi" target="_blank"><img src="/images/speakers/piezzardi.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">Pierre Piezzardi</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
        <div class="column column-block">
          <a href="https://twitter.com/nitot" target="_blank"><img src="/images/speakers/nitot.jpg" alt="speaker-spolsky" class="mxt-img--speakers"></a>
          <span class="lead">Tristan Nitot</span>
          <p class="mxt-text--cyan">Fondateur de Stackoverflow</p>
        </div>
      </div>
      <hr>
      <h2 class="subheader text-center">Speakers 2017 à venir</h2>
      <p class="text-center"><a class="mxt-anchor--uppercase" href="participer">Proposer un sujet</a></p>

    </div>
  </div>
</div>

<div class="row">
  <div class="column">

    <h2 class="text-center"><small>L'esprit MiXiT</small></h2>
    <br>
    <div class="row medium-unstack align-spaced">
      <div class="columns medium-3">
        <p class="lead">Une soirée à l'Hôtel de ville</p>
        <p>Nous aurons encore une fois la chance de bénéficier du cadre prestigieux de l’hôtel de ville pour notre soirée participants.</p>
      </div>
      <div class="columns medium-3">
        <p><strong>Des crêpes maison</strong></p>
        <p>Comme tous les ans, Raph sera là pour vous régaler de ses crêpes. À consommer sans modération !</p>
        <p><strong>Un lunch bio</strong></p>
        <p>Une fois encore, la Communauté du Goût préparera les déjeuners bio offerts aux participants.</p>
      </div>
      <div class="columns medium-3">
        <p class="lead">Une orga à vos petits soins</p>
        <p>Nous sommes une petite équipe conviviale et nous mettons un point d’honneur à ce que nos invités se sentent à l’aise.</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="column text-center">

    <ul class="menu simple">
      <li><a href="#"><img src="/images/sponsor/logo-afup.png" alt="logo-afup" class="mxt-img--sponsors"></a></li>
      <li><a href="#"><img src="/images/sponsor/logo-afup.png" alt="logo-afup" class="mxt-img--sponsors"></a></li>
      <li><a href="#"><img src="/images/sponsor/logo-afup.png" alt="logo-afup" class="mxt-img--sponsors"></a></li>
    </ul>
    <ul class="menu simple">
      <li><a href="#"><img src="/images/sponsor/logo-afup.png" alt="logo-afup" class="mxt-img--sponsors"></a></li>
      <li><a href="#"><img src="/images/sponsor/logo-afup.png" alt="logo-afup" class="mxt-img--sponsors"></a></li>
    </ul>

    <h2 class="subheader text-center">Devenir un sponsor</h2>
    <p class="text-center"><a class="mxt-anchor--uppercase" href="#">Télécharger le PDF</a> / <a class="mxt-anchor--uppercase" href="#">Nous contacter</a></p>

  </div>
</div>

{{> footer}}