<div class="column column-block">
    <a href="https://www.joelonsoftware.com/" target="_blank">
        <div class="mxt-img--container">
            <picture>
                <source srcset="/images/speakers/spolsky.webp" type=" image/webp" alt="speaker-spolsky" class="mxt-img--speakers">
                <source srcset="/images/speakers/spolsky.jpg" alt="speaker-spolsky" class="mxt-img--speakers">
                <img src="/images/speakers/spolsky.jpg" alt="speaker-spolsky" class="mxt-img--speakers">
            </picture>
            <div class="mxt-img--overlay"><img src="/images/svg/mxt-icon--network.svg" class="mxt-icon--network" alt="network"></div>
        </div>
    </a>
    <span class="lead">Joel Spolsky</span><br/>
    <p class="mxt-text--speakers">{{#i18n}}home.speakers.spolsky{{/i18n}}</p>
</div>

link
imagename
name
description