<div class="col-md-2 col-6">
    <a href="/user/{{login}}">
        <div class="mxt-img--container">
            <img src="{{#photoUrl}}{{photoUrl}}{{/photoUrl}}{{^photoUrl}}{{baseUri}}/images/speakers/{{key}}.jpg{{/photoUrl}}" alt="{{name}}" class="mxt-img--speakers">
        </div>
    </a>
    <div class="lead text-center" style="overflow: hidden; text-overflow: ellipsis;">{{name}}</div><br/>
    <p class="mxt-text--speakers text-center">{{#i18n}}home.speakers.{{key}}{{/i18n}}</p>
</div>