<a href="/sponsors#{{#urlEncode}}{{login}}{{/urlEncode}}">
    <picture>
        {{#logoWebpUrl}}<source srcset="/images/{{logoWebpUrl}}" type=" image/webp" alt="{{company}}" class="mxt-img--sponsors-home">{{/logoWebpUrl}}
        <source srcset="/images/{{logoUrl}}" type="{{logoType}}" alt="{{company}}" class="mxt-img--sponsors-home">
        <img src="/images/{{logoUrl}}"  alt="{{company}}" class="mxt-img--sponsors-home">
    </picture>
</a>
