{{> header}}

<div class="container-xxl">
    <h1>
        {{#images}}
            {{#sections}}
                {{#i18n}}{{i18nLabel}}{{/i18n}}
            {{/sections}}
        {{/images}}
    </h1>
    {{^singleImage}}
        <div class="mxt-btn-container mb-4">
            <a href="{{localePrefix}}/{{year}}/medias" class="mxt-btn-light">{{#i18n}}images.back{{/i18n}}</a>
        </div>
    {{/singleImage}}
    <div class="mxt-image--player-container">
        {{#images.sections}}
            {{#pictures}}
                {{#singleImage}}
                    <div>
                        <div class="mxt-btn-container mb-4">
                            {{#previousImage}}
                                <a href="{{localePrefix}}/{{year}}/medias/images/{{sectionId}}?url={{previousImage}}"
                                class="mxt-btn-light">&lt;</a>
                            {{/previousImage}}
                            <a href="{{localePrefix}}/{{year}}/medias/images/{{sectionId}}"
                               class="mxt-btn-light me-2 ms-2">{{#i18n}}images.back{{/i18n}}</a>
                            {{#nextImage}}
                                <a href="{{localePrefix}}/{{year}}/medias/images/{{sectionId}}?url={{nextImage}}"
                                class="mxt-btn-light">&gt;</a>
                            {{/nextImage}}
                        </div>
                        <div class="mxt-video--player-video">
                            <img class="mxt-img--speakers card-image mxt-img--lazyload"
                                 data-src="{{rootUrl}}/{{year}}/{{sectionId}}/{{name}}"
                                 src="{{rootUrl}}/{{year}}/{{sectionId}}/{{name}}">
                        </div>
                    </div>
                {{/singleImage}}
            {{/pictures}}
        {{/images.sections}}
    </div>
    <div class="mxt-video--player-container">
        {{#images.sections}}
            {{#pictures}}
                {{^singleImage}}
                    <div>
                        <div class="mxt-video--player-header mb-2">
                        </div>
                        <div class="mxt-video--player-image">
                            <a href="{{localePrefix}}/{{year}}/medias/images/{{sectionId}}?url={{name}}">
                                <img class="mxt-img--speakers mxt-img--lazyload"
                                 data-src="{{rootUrl}}/{{year}}/{{sectionId}}/{{name}}">
                            </a>
                        </div>
                    </div>
                {{/singleImage}}
            {{/pictures}}
        {{/images.sections}}
    </div>
</div>

{{#connected}}
    <input type="hidden" id="email" value="{{email}}"/>
{{/connected}}

{{> footer-sponsor}}
