{{> header}}

<div class="container-xxl">
    <h1 class="text-center pt-5">
        {{#isLogin}}{{#i18n}}login.title{{/i18n}}{{/isLogin}}
        {{^isLogin}}{{#i18n}}newsletter.title{{/i18n}}{{/isLogin}}
    </h1>
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">
            <form {{#isLogin}}action="/signup"{{/isLogin}}
                  {{^isLogin}}action="/newsletter-signup"{{/isLogin}}
                  method="post">
                <div class="row">
                    <div class="col">
                        {{#i18n}}user.form.description{{/i18n}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col" style="text-align: left">
                        <label for="email" class="form-label">{{#i18n}}user.form.email{{/i18n}}</label>
                        <input type="email" id="email" class="form-control" value="{{email}}" disabled/>
                        <input type="hidden" name="email" value="{{email}}"/>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="text-align: left">
                        <label for="firstname" class="form-label">{{#i18n}}user.form.firstname{{/i18n}}</label>
                        <input type="text" id="firstname" name="firstname" class="form-control" required/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col" style="text-align: left">
                        <label for="lastname">{{#i18n}}user.form.lastname{{/i18n}}</label>
                        <input type="text" id="lastname" class="form-control" name="lastname" required/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="large-12 large-centered columns">
                        <button type="submit" class="btn btn-primary mxt-btn-primary">
                            {{#isLogin}}{{#i18n}}login.action.signup{{/i18n}}{{/isLogin}}
                            {{^isLogin}}{{#i18n}}newsletter.action.signup{{/i18n}}{{/isLogin}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-3"><small>{{#i18n}}user.form.rgpd{{/i18n}}</small></div>
    </div>
</div>
{{> footer}}
