{{> header}}

<div class="mxt-wrapper--header">
    <h1 class="text-center pt-5">{{#i18n}}login.title{{/i18n}}</h1>
</div>

<div class="container mxt-wrapper--page-content">
    <div>{{#i18n}}login.action.signin.description{{/i18n}}</div>
</div>
<div class="container mxt-wrapper--page-content">
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">

            <form action="/login" method="post">
                <input type="text" class="form-control" name="email" placeholder="contact@mixitconf.org"
                       onchange="document.getElementById('email_token').value = this.value" required/>
                <button type="submit" class="mt-3 btn btn-primary mxt-btn-primary" style="margin-right: 8em">{{#i18n}}login.action.signin{{/i18n}}</button>
                <span>&nbsp;</span>
            </form>
            <form action="/send-token" method="post">
                <input type="hidden" class="form-control" name="email" id="email_token" required/>
                <button type="submit" class="mt-3 btn btn-primary mxt-btn-primary"
                    style="position: absolute;top:70px">{{#i18n}}login.action.token{{/i18n}}</button>
            </form>
        </div>
    </div>
</div>
{{> footer}}
