{{> header}}

<script src="/js/login.js"></script>

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">
            <h1 class="text-center">{{#i18n}}login.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">

    <div class="large-3 large-centered columns">
      <div class="callout">
        <div class="row">
          <p>{{#i18n}}login.confirmation{{/i18n}}</p>
          <div class="large-12 columns">
            <form action="/signin" method="post">
              <div class="row">
                <div class="large-12 columns">
                  <input type="hidden" name="email" value="{{email}}" />
                  {{email}}
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <input type="password" name="token" placeholder="Token" />
                </div>
              </div>
              <div class="row">
                <div class="large-12 large-centered columns">
                  <input type="submit" class="button expand" value="Log In"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

{{> footer}}
