{{> header}}

<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}lottery.title{{/i18n}}</h1>
</div>
<div class="container-xxl">
    <div class="lead">
        {{#i18n}}lottery.text{{/i18n}}
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 pt-3">
            <form action="/lottery" method="post">
                <input type="text" class="form-control" name="firstname"
                       placeholder="{{#i18n}}lottery.firstname{{/i18n}}" required>
                <input type="text" class="form-control mt-2" name="lastname"
                       placeholder="{{#i18n}}lottery.lastname{{/i18n}}" required>
                <input type="email" class="form-control mt-2" name="email"
                       placeholder="{{#i18n}}lottery.email{{/i18n}}" required>
                <label for="interests" class="form-label pt-2">
                    {{#i18n}}lottery.topics{{/i18n}}
                </label>
                <div class="row">
                    <div class="col-11">
                        <input class="form-control" list="datalistOptions" id="interest" onclick="this.value=''"
                               placeholder="{{#i18n}}lottery.placeholder{{/i18n}}">
                        <datalist id="datalistOptions">
                            <option value=" .net">
                            <option value="Aliens">
                            <option value="Data">
                            <option value="Design">
                            <option value="IA">
                            <option value="JVM">
                            <option value="Mobile">
                            <option value="Ops">
                            <option value="Php">
                            <option value="Security">
                            <option value="Team / orga">
                            <option value="Web">
                        </datalist>
                    </div>
                    <div class="col-1">
                        <script>
                            function addOption(event) {
                                event.stopPropagation();
                                var ul = document.getElementById('interests');
                                var option = document.createElement('li');
                                const interest = document.getElementById('interest').value.trim();
                                if (interest) {
                                    option.innerHTML = interest;
                                    option.onclick = function () {
                                        ul.removeChild(option);
                                        const selected = [...ul.getElementsByTagName('li')];
                                        document.getElementById('final-interests').value =
                                                selected.map(e => e.innerHTML).join(',');
                                    };
                                    if (![...ul.getElementsByTagName('li')].find(e => e.innerHTML === interest)) {
                                        ul.appendChild(option);
                                    }
                                    document.getElementById('final-interests').value =
                                            [...ul.getElementsByTagName('li')].map(e => e.innerHTML).join(',');
                                }
                                document.getElementById('interest').value = '';
                            }
                        </script>
                        <button type="button"
                                class="mxt-btn-light"
                                onclick="addOption(event)">+
                        </button>
                    </div>
                    <div id="interests-list" class="col-12 mt-2">
                        <input name="interests" id="final-interests" type="hidden"/>
                        <ul id="interests" class="mxt-interests"></ul>
                    </div>
                </div>
                <div class="mxt-btn-container">
                    <button class="mxt-btn-primary  mt-3">{{#i18n}}lottery.submit{{/i18n}}</button>
                </div>
            </form>
        </div>
    </div>
    <p class="pt-3">{{#i18n}}lottery.description.hack{{/i18n}}</p>

    <h2 class="pt-2">{{#i18n}}lottery.description.why{{/i18n}}</h2>
    <p>{{#i18n}}lottery.description.intro{{/i18n}}</p>
    <p>{{#i18n}}lottery.description.how{{/i18n}}</p>
    <p>{{#i18n}}lottery.description.plus{{/i18n}}</p>

    <div class="row">
        <div class="col-4 p-0 m-0">
            <a href="https://farm5.staticflickr.com/4165/34230277200_f6f40b6662_z_d.jpg">
                <img class="mxt-img--event-home"
                     src="https://farm5.staticflickr.com/4165/34230277200_f6f40b6662_z_d.jpg"
                     alt="Closing keynote"/></a>
        </div>
        <div class="col-4 p-0 m-0">
            <a href="https://farm5.staticflickr.com/4174/34574860086_0f032da82c_z_d.jpg"><img
                    class="mxt-img--event-home"
                    src="https://farm5.staticflickr.com/4174/34574860086_0f032da82c_z_d.jpg"
                    alt="CPE Lyon"/></a></div>
        <div class="col-4 p-0 m-0">
            <a href="https://farm5.staticflickr.com/4172/34485934691_037ebdd5d9_z_d.jpg"><img
                    class="mxt-img--event-home"
                    src="https://farm5.staticflickr.com/4172/34485934691_037ebdd5d9_z_d.jpg"
                    alt="CPE Lyon"/></a></div>
    </div>
</div>
{{> footer-sponsor}}
