{{> header}}

<div class="container-xxl">
   <h1 class="text-center">{{#i18n}}lottery.title{{/i18n}}</h1>
    <div class="row">
        <div class="column large-12">
            <div class="callout">
                {{#i18n}}{{message}}{{/i18n}}

                <p><a href="{{localePrefix}}/lottery">{{#i18n}}lottery.error.back{{/i18n}}</a></p>
            </div>
        </div>
    </div>

</div>

{{> footer-sponsor}}
