{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">
            <h1 class="text-center">{{#i18n}}lottery.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="container mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-12">
            <div class="callout">
                {{#i18n}}lottery.success.1{{/i18n}} {{firstname}} {{lastname}}{{#i18n}}lottery.success.2{{/i18n}} <b>{{email}}</b>{{#i18n}}lottery.success.3{{/i18n}}
            </div>
            <div class="callout pt-4">
                {{#i18n}}lottery.check{{/i18n}}
            </div>
        </div>
    </div>

</div>

{{> footer}}
