{{> header}}

<div class="container-xxl">
    <h1 class="text-center">{{#i18n}}lottery.title{{/i18n}}</h1>
    <div class="row">
        <div class="column large-12">
            <div class="callout">
                {{#i18n}}lottery.soon.text{{/i18n}}
            </div>

        </div>
    </div>

</div>

{{> footer-sponsor}}
