{{> header}}

<div class="container-xxl">
    {{> talks-header}}
    <div class="mxt-video--player-container pt-5">
        {{#talks}}
            {{>talk-video-viewer}}
        {{/talks}}
    </div>
</div>

{{> footer-sponsor}}
