{{> header}}

<div class="container-xxl">
    {{> talks-header}}
    <div class="mxt-video--player-container pt-5">
        {{#images}}
            {{#images.sections}}
                <div>
                    <div class="mxt-video--player-header mb-2">
                    </div>
                    <div class="mxt-video--player-video">
                        {{#pictures}}
                            <a href="{{localePrefix}}/{{event}}/medias/images/{{sectionId}}"
                               title="{{#i18n}}images.readmore{{/i18n}}">
                                <img class="mxt-img--speakers mxt-img--lazyload"
                                     data-src="{{rootUrl}}{{year}}/{{sectionId}}/{{name}}">
                            </a>
                        {{/pictures}}
                    </div>
                    <div class="mxt-image--player-title text-center">
                        <a href="{{localePrefix}}/{{event}}/medias/images/{{sectionId}}"
                           class="mxt-media--link"
                           title="{{#i18n}}images.readmore{{/i18n}}">
                            {{#i18n}}{{i18nLabel}}{{/i18n}}
                        </a>
                    </div>
                </div>
            {{/images.sections}}
        {{/images}}
        {{^images}}
            {{#i18n}}medias.html.soul.nophoto{{/i18n}}
        {{/images}}
    </div>
</div>

{{> footer-sponsor}}
