{{> header-http }}
{{> empty-menu }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    function addNode(className, value) {
        const node = document.createElement("div");
        node.className = className;
        node.innerHTML = value;
        return node;
    }

    let eventSource = new EventSource("/mixette/dashboard/sse");
    eventSource.onmessage = (e) => {
        const data = JSON.parse(e.data);
        data.donations.forEach(donation => {
            const field = document.getElementById("counter-" + donation.login);
            if (field) {
                field.innerText = donation.quantity;

                //<div class="col-2">#</div>
                // <div class="col-4">Prénom</div>
                // <div class="col-4">Nom</div>
                // val login: String,
                //         val firstname: String,
                //         val lastname: String,
                //         val quantity: Int
                // <div class="col-2">Cadeau</div>
            }
        });
        const ranking = document.getElementById("ranking");
        if (ranking) {
            ranking.replaceChildren();
            data.ranking.forEach((elt, index) => {
                ranking.append(addNode("col-2 pt-4 fs-3 text-center", index + 1));
                ranking.append(addNode("col-4 pt-4", elt.firstname));
                ranking.append(addNode("col-4 pt-4", elt.lastname));
                ranking.append(addNode("col-2 pt-4 fs-3 text-center", elt.quantity));
            });
        }
    }
</script>
<div class="row pt-4">
    <div class="col-5" style="padding-left: 1.5em">
        <div class="row mxt-navbar" style="color: white;">
            <div class="col-12">
                <div class="mt-5 mb-5 d-flex" style="font-weight: bolder; font-size: 5rem; align-items: center">
                    <img src="/images/svg/mxt-icon--logo-mixette-inversed.svg" style="max-height: 7rem">
                    IXETTE
                </div>
            </div>
            <div><h2>Les meilleurs donateurs</h2></div>
        </div>
        <div class="row">
            <div class="row pt-3 fs-5 fw-bold">
                <div class="col-2 text-center">#</div>
                <div class="col-4">Prénom</div>
                <div class="col-4">Nom</div>
                <div class="col-2 text-center">Nombre</div>
            </div>
            <div class="row fw-bold fs-5" id="ranking" style="line-height: 1.5em"></div>
        </div>
    </div>
    <div class="col-7">
        <div class="lead text-center pt-5">
            <p class="fw-bold">Financer l'association de votre choix en faisant un don de Mixette au desk MiXiT à l'accueil.</p>
            <p>Vous pouvez récupérer
            des Mixettes dans différents endroits de la conférence en plus des 2 mixettes remises avec votre badge. Les 10 plus
                gros donateurs seront récompensés.</p>
        </div>
        <div>
            <div class="row p-5">
                {{#organizations}}
                    <div class="col-2">
                        <a href="/user/{{login}}">
                            {{#photoUrl}}<img src="{{photoUrl}}" alt="{{company}}"
                                              class="mxt-img--speakers"
                                              style="max-width: 100%; border-radius: 50%">{{/photoUrl}}
                        </a>
                    </div>
                    <div class="col-10">
                        <h2>{{company}}</h2>
                        <div class="lead">
                            {{description}}
                        </div>
                    </div>
                    <div class="col-12 text-center pb-5">
                        <div class="d-flex"
                             style="font-size: 2rem; font-weight:bold;align-items: center; justify-content: center">
                            <div id="counter-{{login}}">0</div>
                            <img src="/images/svg/mxt-icon--logo-mixette.svg" style="max-height: 2rem">
                            </span>
                        </div>
                    </div>
                {{/organizations}}
            </div>
        </div>
    </div>
    <!--<div class="row-fluid mxt-wrapper--page-content">-->
    <!--    <div class="row">-->
        <!--        {{#organizations}}-->
    <!--            <div class="col-4">-->
    <!--                <div class="row">-->
    <!--                    <div class="col-2">-->
    <!--                        <a href="/user/{{login}}">-->
        <!--                            {{#photoUrl}}<img src="{{photoUrl}}" alt="{{company}}" class="mxt-img--sponsors"-->
            <!--                                              style="max-width: 100%">{{/photoUrl}}-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="col-10">-->
    <!--                        <h2>{{company}}</h2>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <br>-->
    <!--                <br>-->
    <!--                {{description}}-->
    <!--            </div>-->
        <!--        {{/organizations}}-->
    <!--    </div>-->
    <!--    <div class="row">-->


    <!--        <figure class="highcharts-figure">-->
    <!--            <div id="container"></div>-->
    <!--        </figure>-->

    <!--        <script>-->

    <!--            Highcharts.chart('container', {-->
    <!--                chart: {type: 'column'},-->
    <!--                title: {text: '{{#i18n}}mixette.dashboard.chart.title{{/i18n}}'},-->
    <!--                subtitle: {text: '{{#i18n}}mixette.dashboard.chart.subtitle{{/i18n}} {{loadAt}}'},-->
    <!--                xAxis: {type: 'category'},-->
    <!--                yAxis: {-->
    <!--                    title: {text: '{{#i18n}}mixette.dashboard.chart.axis{{/i18n}}'}-->
    <!--                },-->
    <!--                legend: {enabled: false},-->
    <!--                plotOptions: {-->
    <!--                    series: {-->
    <!--                        borderWidth: 0,-->
    <!--                        dataLabels: {enabled: true, format: '{point.y:.1f} €'}-->
    <!--                    }-->
    <!--                },-->
    <!--                tooltip: {enabled: false},-->
    <!--                series: [-->
    <!--                    {-->
    <!--                        name: "Mixette",-->
    <!--                        colorByPoint: true,-->
    <!--                        data: [-->
        <!--                            {{#donations}}-->
    <!--                                {name: '{{name}}', y: {{amount}} },-->
        <!--                            {{/donations}}-->
    <!--                        ]-->
    <!--                    }-->
    <!--                ]-->
    <!--            });-->
    <!--        </script>-->
    <!--    </div>-->
    <!--</div>-->
    {{> empty-footer}}
