{{> header}}
<div class="container-xxl">
    {{> talks-header}}
 
    <div class="row">
        <div class="col-6 p-2">
            <img src="/images/jpg/mixitonair1.jpg" class="mxt-img--event-home">
        </div>
        <div class="col-6 p-2">
            <img src="/images/jpg/mixitonair2.jpg" class="mxt-img--event-home">
        </div>
    </div>
        {{#isCurrent}}
            <div class="container-xxl pt-4 pb-4">
                <div class="row">
                    <div class="col-md-6">
                        {{#talks.day1}}
                            <div class="fw-bold text-center text-uppercase">{{day}}</div>
                            {{> talks-day-tab-content-agenda }}
                        {{/talks.day1}}
                    </div>
                    <div class="col-md-6">
                        {{#talks.day2}}
                            <div class="fw-bold text-center text-uppercase">{{day}}</div>
                            {{> talks-day-tab-content-agenda }}
                        {{/talks.day2}}
                    </div>
                </div>
            </div>
        {{/isCurrent}}
        {{^isCurrent}}
            <div class="mxt-video--player-container">
            {{#talks}}
                {{>talk-video-viewer}}
            {{/talks}}
            </div>
        {{/isCurrent}}
</div>
{{> footer-sponsor}}
