{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">
            <h1 class="text-center">{{#i18n}}mixteen.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-12">
            <div class="callout">

                <p>{{#i18n}}mixteen.intro{{/i18n}}</p>
                <div>
                    <img src="/images/png/mxt-logo-mixteen.png" />
                </div>
                <h2>{{#i18n}}mixteen.how.title{{/i18n}}</h2>
                <p>{{#i18n}}mixteen.how.text{{/i18n}}</p>
                <h2>{{#i18n}}mixteen.story.title{{/i18n}}</h2>
                <p>{{#i18n}}mixteen.story.text{{/i18n}}</p>

            </div>
        </div>
    </div>
</div>

{{> footer}}
