{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">Planning</h1>
            <p class="text-center">Available very soon</p>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">
            <div class="callout">
                <h2>Jeudi 20 avril</h2>
                <h3>La naissance de La Gonette</h3>
                <p>9h10 - 9h30</p>
                <p>Amphithéâtre Lovelace</p>
                <h3>La naissance de La Gonette</h3>
                <p>9h10 - 9h30</p>
                <p>Amphithéâtre Lovelace</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}
