{{> header}}

<div class="mxt-wrapper--page-title">
    <h1 class="text-center">{{post.title}}</h1>
    <p class="text-center subheader mxt-text--page-title">{{#i18n}}blog.by{{/i18n}} <strong>{{post.author.firstname}}</strong>, {{#i18n}}blog.on{{/i18n}} <strong>{{post.addedAt}}</strong></p><br />
</div>

<div class="container mxt-wrapper--page-content">
    <p>{{#markdown}}{{post.headline}}{{/markdown}}</p>
    {{#post.content}}
    <hr />
    <p>{{#markdown}}{{post.content}}{{/markdown}}</p>
    {{/post.content}}
</div>

{{> footer}}
