<html>
<head >
    <link rel="stylesheet" href="styles/mixit.css">
</head>
<body>
<h1>Mix-IT 2017</h1>
{{#ifEq locale "en"}}<a href="/"><img class="mixit-menu-lang" src="images/lang/fr.svg" /></a>{{/ifEq}}
{{#ifEq locale "fr"}}<a href="/en/"><img class="mixit-menu-lang" src="images/lang/us.svg" /></a>{{/ifEq}}
<ul>
    <li>JSON API: <a href="/api/user/">{{message "user.list"}}</a> or <a href="/api/user/1">{{message "user.findOne"}}</a></li>
    <li>Handlebars templates: <a href="/user/">{{message "user.list"}}</a> or <a href="/user/1">{{message "user.findOne"}}</a></li>
</ul>
</body>
</html>