<html>
<head >
    <link rel="stylesheet" href="styles/mixit.css">
</head>
<body>
<h1>Mix-IT 2017</h1>
{{#en}}<a href="/sample"><img class="mixit-menu-lang" src="images/lang/us.svg" /></a>{{/en}}
{{#fr}}<a href="/en/sample"><img class="mixit-menu-lang" src="images/lang/fr.svg" /></a>{{/fr}}
<ul>
    <li>JSON API: <a href="/api/user/">{{#i18n}}user.list{{/i18n}}</a> or <a href="/api/user/robert">{{#i18n}}user.findOne{{/i18n}}</a></li>
    <li>Handlebars templates: <a href="/user/">{{#i18n}}user.list{{/i18n}}</a> or <a href="/user/robert">{{#i18n}}user.findOne{{/i18n}}</a></li>
</ul>
</body>
</html>