{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">
            <h1 class="text-center">{{#i18n}}schedule.title{{/i18n}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column small-12">
            <div class="callout">
                <h2 class="text-center"><a href="/pdf/planning2017.pdf" target="_blank" class="button hollow secondary">{{#i18n}}schedule.download{{/i18n}}</a></h2>
                <img src="/images/png/planning2017_1.png" class="" alt="planning2017" />
                <hr />
                <img src="/images/png/planning2017_2.png" class="" alt="planning2017" />
                <hr />
                <img src="/images/png/planning2017_3.png" class="" alt="planning2017" />
                <hr />
                <img src="/images/png/planning2017_4.png" class="" alt="planning2017" />
                <h2 class="text-center"><a href="/pdf/planning2017.pdf" target="_blank" class="button hollow secondary">{{#i18n}}schedule.download{{/i18n}}</a></h2>
            </div>
        </div>
    </div>
</div>

{{> footer}}
