{{> header}}
<div class="container-xxl">
    <h1>{{#i18n}}search.title{{/i18n}}</h1>
    <form action="{{localePrefix}}/search" method="post">
        <div class="row">
            <div class="col-10">
                <input type="search" class="form-control" name="search" placeholder="{{#i18n}}search.title{{/i18n}}"
                    value="{{#criteria}}{{criteria}}{{/criteria}}">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary"><img src="/images/svg/mxt-search.svg" style="max-width: 1.5em" title="{{#i18n}}header.menu.search{{/i18n}}"></button>
            </div>
        </div>
    </form>

    {{#hasQuestions}}
        <h2 class="mt-5">{{#i18n}}search.faq{{/i18n}}</h2>
        <p>{{#i18n}}search.nb{{/i18n}}<b>{{countQuestions}}</b></p>
        {{#faq}}
            <article class="mb-4">
                <h2 class="pt-5">
                    {{#en}}{{title.descriptionEn}}{{/en}}
                    {{#fr}}{{title.descriptionFr}}{{/fr}}
                </h2>
                {{#questions}}
                    <div class="row">
                        <h3 class="subheader">{{#en}}{{title.descriptionEn}}{{/en}}{{#fr}}{{title.descriptionFr}}{{/fr}}</h3>
                        <p>{{#en}}{{#markdown}}{{answer.descriptionEn}}{{/markdown}}{{/en}}{{#fr}}{{#markdown}}{{answer.descriptionFr}}{{/markdown}}{{/fr}}</p>
                    </div>
                {{/questions}}
            </article>
        {{/faq}}
    {{/hasQuestions}}

    {{#hasTalks}}
        <h2 class="mt-5">{{#i18n}}search.talks{{/i18n}}</h2>
        <p>{{#i18n}}search.nb{{/i18n}}<b>{{countTalks}}</b></p>
        {{#talks}}
            <article class="mb-4">
                <h2><a href="{{localePrefix}}/{{event}}/{{slug}}" class="mxt-title--article">
                    <b>{{event}}</b> -{{title}}
                    {{#isEn}}<span class="mxt-text--cat mxt-text--cat-en">EN</span>{{/isEn}}
                </a></h2>
                <ul class="mxt-wrapper-list-inline mxt-menu--accordion">
                    {{#video}}<li><strong>&#x25ba; {{#i18n}}talks.title.video{{/i18n}}</strong></li>{{/video}}
                    <li class="mxt-text--cat-format">#{{format}}</li>
                </ul>
                <p>{{#markdown}}{{summary}}{{/markdown}}</p>
                <a href="{{localePrefix}}/{{event}}/{{slug}}" class="btn btn-outline-primary align-center">{{#i18n}}talks.readmore{{/i18n}}</a>
            </article>
        {{/talks}}
    {{/hasTalks}}

    {{#hasArticles}}
        <h2 class="mt-5">{{#i18n}}search.posts{{/i18n}}</h2>
        <p>{{#i18n}}search.nb{{/i18n}}<b>{{countArticles}}</b></p>
        {{#articles}}
            <article class="mb-4">
                <h2><a href="{{localePrefix}}/blog/{{slug}}" class="mxt-title--article">{{title}}</a></h2>
                <p class="subheader">{{#i18n}}blog.on{{/i18n}} <strong>{{addedAt}}</strong></p>
                <p>{{#markdown}}{{headline}}{{/markdown}}</p>
                <a href="{{localePrefix}}/blog/{{slug}}" class="btn btn-outline-primary align-center">{{#i18n}}blog.readmore{{/i18n}}</a>
            </article>
        {{/articles}}
    {{/hasArticles}}

    {{#hasUsers}}
        <h2 class="mt-5">{{#i18n}}search.users{{/i18n}}</h2>
        <p>{{#i18n}}search.nb{{/i18n}}<b>{{countUsers}}</b></p>
        {{#users}}
            <article class="mb-4">
                <h2><a href="{{localePrefix}}/user/{{login}}" class="mxt-title--article">{{firstname}} {{lastname}}</a></h2>
                <p>{{#markdown}}{{description}}{{/markdown}}</p>
                <a href="{{localePrefix}}/user/{{login}}" class="btn btn-outline-primary align-center">{{#i18n}}user.readmore{{/i18n}}</a>
            </article>
        {{/users}}
    {{/hasUsers}}
</div>
{{> footer}}
