{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">{{session.title}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">
            <article class="callout">
                <div class="lead">{{session.summary}}</div>
                <ul class="menu vertical simple mxt-menu--sessions">
                    {{#session.speakers}}
                        <li><a href="{{localePrefix}}/speaker/{{login}}">{{firstname}} {{lastname}}</a></li>
                    {{/session.speakers}}
                </ul>
                <hr />             
                <p>{{session.description}}</p>
                <p class="subheader"><strong>
                    {{session.event}} / #{{session.format}}
                    {{#session.video}}
                        | &#x25ba;&nbsp;{{#i18n}}session.video.watch{{/i18n}} <a href="{{session.video}}">{{#i18n}}session.video.thevideo{{/i18n}}</a>
                    {{/session.video}}
                </strong></p>
            </article>
    </div>
</div>

{{> footer}}
