{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">{{#i18n}}sessions.title{{/i18n}}</h1>
        </div>
    </div>
</div>


<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">

            <div class="callout">

                <h2>{{#i18n}}sessions.tba{{/i18n}}</h2>

                <div>
                    {{#i18n}}sessions.archives{{/i18n}}
                    <a href="{{localePrefix}}/2016/">2016</a> /
                    <a href="{{localePrefix}}/2015/">2015</a> /
                    <a href="{{localePrefix}}/2014/">2014</a> /
                    <a href="{{localePrefix}}/2013/">2013</a> /
                    <a href="{{localePrefix}}/2012/">2012</a>
                </div>
            </div>
        </div>
    </div>

</div>

{{> footer}}
