{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">
            <div class="menu-centered">
                <ul class="dropdown menu mxt-menu--talks" data-dropdown-menu>
                    <li>{{#i18n}}sessions.title{{/i18n}}</li>
                    <li><a href="#">{{year}}</a>
                        <ul class="menu">
                            <li><a href="{{localePrefix}}/2016/">2016</a></li>
                            <li><a href="{{localePrefix}}/2015/">2015</a></li>
                            <li><a href="{{localePrefix}}/2014/">2014</a></li>
                            <li><a href="{{localePrefix}}/2013/">2013</a></li>
                            <li><a href="{{localePrefix}}/2012/">2012</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">    

            <div class="callout">
                {{#sessions}}
                    <article>
                        <h2><a href="{{localePrefix}}/talk/{{slug}}" class="mxt-title--article">{{title}}</a></h2>
                        <ul class="menu simple">
                            {{#speakers}}
                                <li><a href="{{localePrefix}}/speaker/{{login}}">{{firstname}} {{lastname}}</a></li>
                            {{/speakers}}
                        </ul>
                        <br />
                        <span><strong>#{{format}}</strong></span>
                        <p>{{summary}}</p>
                        <p class="subheader">
                            <strong>{{#video}}
                                <p>&#x25ba;&nbsp;{{#i18n}}session.video.watch{{/i18n}} <a href="{{video}}">{{#i18n}}session.video.thevideo{{/i18n}}</a></p>
                            {{/video}}</strong>
                        </p>
                        <a href="{{localePrefix}}/talk/{{slug}}" class="button third hollow">{{#i18n}}sessions.readmore{{/i18n}}</a>
                    </article>
                    <hr />
                {{/sessions}}
            </div>
        </div>
    </div>
</div>
{{> footer}}
