{{> header}}

<div class="mxt-wrapper--space"></div>

<div class="row">
    <div class="column large-8 large-offset-2">

        <h1 class="text-center">{{#i18n}}session.title{{/i18n}}</h1>
        <hr />
        <div class="callout">
            <article>
                <h2>{{session.title}}</h2>
                <p class="subheader">
                    {{session.event}} / #{{session.format}}
                    {{#session.video}}
                        / &#x25ba;&nbsp;Watch <a href="{{session.video}}">the video</a>
                    {{/session.video}}
                </p>
                <p>{{session.description}}</p>
                <p class="subheader">
                    {{#session.speakers}}
                        <a href="{{localePrefix}}/speaker/{{login}}">{{firstname}} {{lastname}}</a> /
                    {{/session.speakers}}
                </p>
            </article>

        </div>
    </div>
</div>

{{> footer}}
