{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">

            <h1 class="text-center">{{#i18n}}speaker.welcome{{/i18n}}</h1>

        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-12">
            <div class="callout">
                <h2>{{#i18n}}speaker.session{{/i18n}}</h2>
                <p>{{#i18n}}speaker.session.description{{/i18n}}</p>

                <hr>
                <h2>{{#i18n}}speaker.event{{/i18n}}</h2>
                <p>{{#i18n}}speaker.event.description1{{/i18n}}</p>
                <p>{{#i18n}}speaker.event.description2{{/i18n}}</p>
                <p>{{#i18n}}speaker.event.description3{{/i18n}}</p>
                <p>{{#i18n}}speaker.event.description4{{/i18n}}</p>
                <div>
                    <a target="_blank" href="http://www.cpe.fr/">CPE Lyon</a> : Rue Victor Grignard 69100 Villeurbanne
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>
                <p>{{#i18n}}speaker.event.description5{{/i18n}}</p>
                <p>{{#i18n}}speaker.event.description6{{/i18n}}</p>
                <p>{{#i18n}}speaker.event.description7{{/i18n}}</p>

                <hr>
                <h2>{{#i18n}}speaker.hotel{{/i18n}}</h2>
                <p>{{#i18n}}speaker.hotel.description1{{/i18n}}</p>
                <p>{{#i18n}}speaker.hotel.description2{{/i18n}}</p>

                <h3>Hôtel Saint Pierre des Terreaux</h3>
                <div>
                    <a target="_blank" href="http://www.hotelstpierredesterreaux.com/">Website</a> : 8 Rue Paul Chenavard, 69001 Lyon
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.2401102937233!2d4.830015201493597!3d45.76637802900316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eafefe6f80bf%3A0x19285e9ddc91a0a3!2sHotel+Saint+Pierre+Des+Terreaux!5e0!3m2!1sfr!2sfr!4v1521532524411"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/Hotel+Saint+Pierre+Des+Terreaux/@45.766378,4.8300152,17z/data=!4m8!1m2!2m1!1shotel+des+terreaux+lyon!3m4!1s0x47f4eafefe6f80bf:0x19285e9ddc91a0a3!8m2!3d45.7664221!4d4.8327515"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <h3>Hôtel de Paris</h3>
                <div>
                    <a target="_blank" href="http://hoteldeparis-lyon.com/">Website</a> : 16 Rue de la Platière, 69001 Lyon
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.259621236318!2d4.830019315567596!3d45.7659869791057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eaffa951c781%3A0x48ee1fb5df118106!2sH%C3%B4tel+de+Paris!5e0!3m2!1sen!2sfr!4v1521532650751"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/H%C3%B4tel+de+Paris/@45.765987,4.8300193,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4eaffa951c781:0x48ee1fb5df118106!8m2!3d45.765987!4d4.832208"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <h3>Hôtel Le Boulevardier</h3>
                <div>
                    <a target="_blank" href="http://www.leboulevardier.fr/">Website</a> : 16 Rue de la Platière, 69001 Lyon
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.307668361974!2d4.831462751493582!3d45.7650239790031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eaff41d88f41%3A0x83a92d50ec99e90e!2sLe+Boulevardier!5e0!3m2!1sen!2sfr!4v1521581974858"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/Le+Boulevardier/@45.765024,4.8314628,17z/data=!3m1!4b1!4m7!3m6!1s0x47f4eaff41d88f41:0x83a92d50ec99e90e!5m1!1s2018-04-15!8m2!3d45.765024!4d4.8336568"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <hr>
                <h2>{{#i18n}}speaker.diner{{/i18n}}</h2>
                <p>{{#i18n}}speaker.diner.description{{/i18n}}</p>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.4420464450805!2d4.830552851493518!3d45.76233057900319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea55b0a6fba9%3A0xbd086ab4a8f2ea38!2sLe+Bouchon+Colette!5e0!3m2!1sen!2sfr!4v1521532783891"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/Le+Bouchon+Colette/@45.7623306,4.8305529,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea55b0a6fba9:0xbd086ab4a8f2ea38!8m2!3d45.7623306!4d4.8327469"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <hr>
                <h2>{{#i18n}}speaker.party{{/i18n}}</h2>
                <p>{{#i18n}}speaker.party.description1{{/i18n}}</p>

                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.17378307865!2d4.833515051493624!3d45.767707379003056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea473ab70d0b%3A0x712d7fa96d045491!2sCity+Hall+Lyon!5e0!3m2!1sen!2sfr!4v1521533457251"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/City+Hall+Lyon/@45.7677074,4.8335151,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea473ab70d0b:0x712d7fa96d045491!8m2!3d45.7677074!4d4.8357091"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <p>{{#i18n}}speaker.party.description2{{/i18n}}</p>

                <hr>

                <h2>{{#i18n}}speaker.slide{{/i18n}}</h2>
                <p>{{#i18n}}speaker.slide.description1{{/i18n}}</p>

                <ul>
                    <li><a href="/images/svg/mxt-icon--logo.svg">logo SVG</a></li>
                    <li><a href="/images/svg/mxt-icon--logo-19.svg">logo mixit19 inverse SVG</a></li>
                    <li><a href="/images/png/mxt-icon--logo.png">logo PNG</a></li>
                    <li><a href="/images/png/mxt-logo-19.png">logo mixit18 inverse PNG</a></li>
                </ul>

                <p>{{#i18n}}speaker.slide.description2{{/i18n}}</p>
                <p>{{#i18n}}speaker.slide.description3{{/i18n}}</p>
                <p>{{#i18n}}speaker.slide.description4{{/i18n}}</p>

            </div>

        </div>
    </div>
</div>
</div>
{{> footer}}
