{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">

            <h1 class="text-center">{{#i18n}}speaker.welcome{{/i18n}}</h1>

        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-12">
            <div class="callout">
                <h2>Your session</h2>
                <p>The whole planning is available on the page <a href="/schedule">schedule</a>. You can update your abstract online when you are login on the website. If you
                    prefer that we update your abstract for you send your modifications by email to <a href="mailto:contact@mix-it.fr">contact@mix-it.fr</a></p>

                <hr>
                <h2>Conference</h2>
                <p>
                    We (the organizers) will be in venue (a french school named CPE), where the event takes place, on Wednesday 18th afternoon until 6:00 pm (the day prior the conference). If you want to have a look at the rooms and the venue, feel free to join us.
                </p>
                <p>
                    The organisation team will be helped by a few volunteer students and they will probably not recognize you even though you are the conference stars. As they will handle the check-in, you will need to <b>give them your name</b> and tell them you are a speaker to get your badge. <b>You do not need a printed ticket</b>.
                </p>
                <p>
                    The conference will start at 8:45am with a few words from us. Then <b>each speaker will have 30 seconds (timeboxed) to introduce her/his talk/workshop</b> (Speaker name, session name, room and schedule, key ideas) in English or French (there's no introduction for random talks to keep the surprise).
                    The first keynote will then start around 8:55 am.
                </p>
                <p>
                    The conference take place at CPE Lyon - Domaine Scientifique de la Doua - 69100 Villeurbanne
                </p>
                <div>
                    <a target="_blank" href="http://www.cpe.fr/">CPE Lyon</a> : Rue Victor Grignard 69100 Villeurbanne
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>
                <p>To have more informations on how to come, you can have all the informations on <a href="/come">this page</a></p>

                <p>For lunch we will serve local meals made from local, almost organic, products according to the slow food vision, made with love by the awesome communauté du goût. This meal will be served around noon.</p>

                <p>A vegetarian meal is planned. If you have any food allergies, we're sorry we can't assure you about your specific allergens at the moment. But do not hesitate to ask us what are your options between the proposed food.</p>

                <hr>
                <h2>
                    Your hotel
                </h2>
                <p>
                    For those who asked for a hotel room, these requests are being processed. The hotels we use to book for our speakers are located on the metro A, station Hotel de Ville - Louis Pradel.
                    If you want to move to your hotel you can watch the <a href="http://plan-interactif.tcl.fr/">website</a> of the local transportation company (TCL).
                </p>
                <p>You are dispatched in 3 hotels</p>

                <h3>Hôtel Saint Pierre des Terreaux</h3>
                <div>
                    <a target="_blank" href="http://www.hotelstpierredesterreaux.com/">Website</a> : 8 Rue Paul Chenavard, 69001 Lyon
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.2401102937233!2d4.830015201493597!3d45.76637802900316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eafefe6f80bf%3A0x19285e9ddc91a0a3!2sHotel+Saint+Pierre+Des+Terreaux!5e0!3m2!1sfr!2sfr!4v1521532524411"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/Hotel+Saint+Pierre+Des+Terreaux/@45.766378,4.8300152,17z/data=!4m8!1m2!2m1!1shotel+des+terreaux+lyon!3m4!1s0x47f4eafefe6f80bf:0x19285e9ddc91a0a3!8m2!3d45.7664221!4d4.8327515"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <h3>Hôtel de Paris</h3>
                <div>
                    <a target="_blank" href="hoteldeparis-lyon.com">Website</a> : 16 Rue de la Platière, 69001 Lyon
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.259621236318!2d4.830019315567596!3d45.7659869791057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eaffa951c781%3A0x48ee1fb5df118106!2sH%C3%B4tel+de+Paris!5e0!3m2!1sen!2sfr!4v1521532650751"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/H%C3%B4tel+de+Paris/@45.765987,4.8300193,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4eaffa951c781:0x48ee1fb5df118106!8m2!3d45.765987!4d4.832208"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <h3>Hôtel ???</h3>
                <div>
                    <a target="_blank" href="http://www.cpe.fr/">CPE Lyon</a> : Rue Victor Grignard 69100 Villeurbanne
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <hr>
                <h2>Speakers dinner</h2>
                <p>We booked the speakers dinner the night before the conference (18th of April, 8:00 pm). The restaurant, <a href="http://www.bouchon-colette.com/">Bouchon Colette</a>, is located at 62 rue Mercière, 69002 Lyon. (Metro A, Cordeliers). We will meet at the hotel or the venue to move together to this restaurant. You can also go by yourself.
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.4420464450805!2d4.830552851493518!3d45.76233057900319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea55b0a6fba9%3A0xbd086ab4a8f2ea38!2sLe+Bouchon+Colette!5e0!3m2!1sen!2sfr!4v1521532783891"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/Le+Bouchon+Colette/@45.7623306,4.8305529,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea55b0a6fba9:0xbd086ab4a8f2ea38!8m2!3d45.7623306!4d4.8327469"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <hr>
                <h2>Mid-conference party</h2>
                <p>
                    A mid-conference (19th evening) cocktail is planned in the Lyon City Hall, located 1 place de la Comédie (Metro A, Hotel-de-Ville Louis Pradel). It's on invitation only (no unknown people, because of security concerns).
                    If you didn't tell us in the form that you have a travelling companion, please send us an email.
                </p>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.17378307865!2d4.833515051493624!3d45.767707379003056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea473ab70d0b%3A0x712d7fa96d045491!2sCity+Hall+Lyon!5e0!3m2!1sen!2sfr!4v1521533457251"
                            width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
                    <a href="https://www.google.fr/maps/place/City+Hall+Lyon/@45.7677074,4.8335151,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea473ab70d0b:0x712d7fa96d045491!8m2!3d45.7677074!4d4.8357091"
                       target="_blank">{{#i18n}}come.map.link{{/i18n}}</a><br/>
                </div>

                <p>For those who stay Friday night and want to socialize again, we will propose a place to meet.</p>

                <hr>

                <h2>Your talk</h2>
                There is no template for the slides. But if you want to include the MiXiT logo you can
                <ul>
                    <li><a href="/images/svg/mxt-icon--logo.svg">logo SVG</a></li>
                    <li><a href="/images/svg/mxt-icon--logo18.svg">logo mixit18 inverse SVG</a></li>
                    <li><a href="/images/png/mxt-icon--logo.png">logo PNG</a></li>
                    <li><a href="/images/png/mxt-icon--logo18.png">logo mixit18 inverse PNG</a></li>
                </ul>

                <p>
                    It could be difficult to see the bottom of the slides from the back of some conference rooms. Consequently,
                    we recommend to use a big font and to place the text to the top half of your slides.</p>
                <p>Please do not have more than one slide to introduce your company.</p>
                <p>If your talk is in English, please make sure to speak slowly for the French audience :). Talks are 50 mn long, questions included, we will warn you 5 minutes before the session ends. Workshops are 1 hour 50 mn long, in smaller rooms. If the attendees need to bring their computers with specific software or prepare in some way (download, ...), please say so on your talk abstract and warn us.</p>


            </div>

        </div>
    </div>
</div>
</div>
{{> footer}}
