{{> header}}
<div class="container-xxl">
    {{> talks-header}}
    <div class="mxt-about--people pt-5">
        {{#speakers}}
            <div>
                <div class="firstname"><a href="/user/{{login}}">{{firstname}}</a></div>
                <div class="lastname"><a href="/user/{{login}}">{{lastname}}</a></div>
                <div class="mxt-img-avatar__wrapper">
                    <a href="/user/{{login}}">
                        {{#photoUrl}}
                            <img src="{{photoUrl}}"
                                 class="mxt-img-avatar__speaker"
                                 aria-label="{{firstname}} {{lastname}}
                                 photo"/>
                        {{/photoUrl}}
                        {{^photoUrl}}
                            {{#emailHash}}
                                <img src="https://www.gravatar.com/avatar/{{emailHash}}?size=400"
                                     class="mxt-img-avatar__speaker"
                                     aria-label="{{firstname}} {{lastname}}
                             photo"/>
                            {{/emailHash}}
                        {{/photoUrl}}
                    </a>
                </div>
            </div>
        {{/speakers}}
    </div>
</div>
{{> footer-sponsor}}
