{{> header}}
{{> header-common }}

<div class="mxt-wrapper--header-page-title">
    <h1 class="pt-3 pb-3">
            {{#i18n}}sponsors.title{{#topic}}.{{topic}}{{/topic}}{{/i18n}}
            <button class="btn btn-secondary dropdown-toggle mxt-dropdown-header" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{year}}
            </button>
            <ul class="dropdown-menu mxt-dropdown-header" aria-labelledby="dropdownMenuButton1">
                <li><a href="{{localePrefix}}/sponsors/2023" class="dropdown-item">2023</a></li>
                <li><a href="{{localePrefix}}/sponsors/2022" class="dropdown-item">2022</a></li>
                <li><a href="{{localePrefix}}/sponsors/2021" class="dropdown-item">2021</a></li>
                <li><a href="{{localePrefix}}/sponsors/2019" class="dropdown-item">2019</a></li>
                <li><a href="{{localePrefix}}/sponsors/2018" class="dropdown-item">2018</a></li>
                <li><a href="{{localePrefix}}/sponsors/2017" class="dropdown-item">2017</a></li>
                <li><a href="{{localePrefix}}/sponsors/2016" class="dropdown-item">2016</a></li>
                <li><a href="{{localePrefix}}/sponsors/2015" class="dropdown-item">2015</a></li>
                <li><a href="{{localePrefix}}/sponsors/2014" class="dropdown-item">2014</a></li>
                <li><a href="{{localePrefix}}/sponsors/2013" class="dropdown-item">2013</a></li>
                <li><a href="{{localePrefix}}/sponsors/2012" class="dropdown-item">2012</a></li>
            </ul>
        </h1>
</div>
{{#isCurrent}}
    <div class="container mxt-wrapper--page-content">
        <h2 class="subheader text-center">{{#i18n}}home.sponsors.title{{/i18n}}</h2>
        <p class="text-center"><a class="mxt-anchor--uppercase" href="{{#i18n}}home.sponsors.pdf.url{{/i18n}}">{{#i18n}}home.sponsors.pdf{{/i18n}}</a> / <a
                class="mxt-anchor--uppercase" href="mailto:contact@mixitconf.org" target="_top">{{#i18n}}home.sponsors.contact{{/i18n}}</a></p>
    </div>
    <div>&nbsp;</div>
{{/isCurrent}}
    {{#has-sponsors-lanyard}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center mt-3 mb-4">{{#i18n}}sponsors.lanyard{{/i18n}}</h2>
            {{#sponsors-lanyard}}
                {{> sponsor }}
            {{/sponsors-lanyard}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-lanyard}}
    {{#has-sponsors-party}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center mt-3 mb-4">{{#i18n}}sponsors.party{{/i18n}}</h2>
            {{#sponsors-party}}
                {{> sponsor }}
            {{/sponsors-party}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-party}}
    {{#has-sponsors-gold}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center  mt-3 mb-4">{{#i18n}}sponsors.gold{{/i18n}}</h2>
            {{#sponsors-gold}}
                {{> sponsor }}
            {{/sponsors-gold}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-gold}}
    {{#has-sponsors-accessibility}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center  mt-3 mb-4">{{#i18n}}sponsors.accessibility{{/i18n}}</h2>
            {{#sponsors-accessibility}}
                {{> sponsor }}
            {{/sponsors-accessibility}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-accessibility}}
    {{#has-sponsors-ecology}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center mt-3 mb-4">{{#i18n}}sponsors.ecology{{/i18n}}</h2>
            {{#sponsors-ecology}}
                {{> sponsor }}
            {{/sponsors-ecology}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-ecology}}
    {{#has-sponsors-mixteen}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center mt-3 mb-4">{{#i18n}}sponsors.mixteen{{/i18n}}</h2>
            {{#sponsors-mixteen}}
                {{> sponsor }}
            {{/sponsors-mixteen}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-mixteen}}
    {{#has-sponsors-silver}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center mt-3 mb-4">{{#i18n}}sponsors.silver{{/i18n}}</h2>
            {{#sponsors-silver}}
                {{> sponsor }}
            {{/sponsors-silver}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-silver}}
    {{#has-sponsors-hosting}}
        <div class="container mxt-wrapper--page-content pb-4">
            <h2 class="text-center mt-3 mb-4">{{#i18n}}sponsors.hosting{{/i18n}}</h2>
            {{#sponsors-hosting}}
                {{> sponsor }}
            {{/sponsors-hosting}}
        </div>
        <div>&nbsp;</div>
    {{/has-sponsors-hosting}}
    {{#has-sponsors-video}}
        <div class="container mxt-wrapper--page-content pb-4">
                <h2 class="text-center mt-3 mb-4">{{#i18n}}sponsors.videos{{/i18n}}</h2>
                {{#sponsors-video}}
                    {{> sponsor }}
                {{/sponsors-video}}
        </div>
    {{/has-sponsors-video}}
</div>

{{> footer}}
