{{> header}}

<div class="container-xxl">
    <h1>{{#i18n}}sponsors.title{{/i18n}}</h1>
    {{> year-selector}}
{{#isCurrent}}
    <h2 class="mxt-section-small">{{#i18n}}sponsors.becoming{{/i18n}}</h2>
    <p>
        {{#i18n}}sponsors.description{{/i18n}}
        <strong><a href="href="{{#i18n}}sponsors.pdf.url{{/i18n}}">PDF</a></strong>.
    </p>
    <p>{{#i18n}}sponsors.reservations{{/i18n}}</p>
    <table>
        <tr>
            <td>Badge + stand</td>
            <td class="mxt-sponsor--slots">
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="flex-fill"></div>
            </td>
        </tr>
        <tr>
            <td>Badge + stand</td>
            <td class="mxt-sponsor--slots">
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
            </td>
        </tr>
        <tr>
            <td>Partner</td>
            <td class="mxt-sponsor--slots">
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
            </td>
        </tr>
        <tr>
            <td>Party</td>
            <td class="mxt-sponsor--slots">
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
            </td>
        </tr>
        <tr>
            <td>MiXiT on air basic</td>
            <td class="mxt-sponsor--slots">
                <div class="mxt-sponsor--booked-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
            </td>
        </tr>
        <tr>
            <td>MiXiT on air premium</td>
            <td class="mxt-sponsor--slots">
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
                <div class="mxt-sponsor--free-slot"></div>
            </td>
        </tr>
    </table>
    <div class="mxt-sponsor--slots">
        <div class="mxt-sponsor--booked-slot"></div>
        <div class="ms-1 me-2"><small>{{#i18n}}sponsors.pack.booked{{/i18n}}</small></div>
        <div class="mxt-sponsor--free-slot"></div>
        <div class="ms-1"><small>{{#i18n}}sponsors.pack.available{{/i18n}}</small></div>
    </div>

    <p class="pt-2">
        {{#i18n}}sponsors.contact{{/i18n}}
        <a
                class="mxt-anchor--uppercase"
                href="mailto:sponsoring@mixitconf.org"
                target="_top">
            <strong>{{#i18n}}sponsors.contact.action{{/i18n}}</strong></a>
    </p>
{{/isCurrent}}
</div>
{{#has-sponsors-lanyard}}
    <div class="container-xxl mxt-section">
        <h2>Pack {{#i18n}}sponsors.lanyard{{/i18n}}</h2>
        {{#sponsors-lanyard}}
            {{> sponsor }}
        {{/sponsors-lanyard}}
    </div>
{{/has-sponsors-lanyard}}

{{#has-sponsors-party}}
    <div class="container-xxl mxt-section">
        <h2>Pack {{#i18n}}sponsors.party{{/i18n}}</h2>
        {{#sponsors-party}}
            {{> sponsor }}
        {{/sponsors-party}}
    </div>
    <div>&nbsp;</div>
{{/has-sponsors-party}}
{{#has-sponsors-gold}}
    <div class="container-xxl mxt-section">
        <h2 >Pack {{#i18n}}sponsors.gold{{/i18n}}</h2>
        {{#sponsors-gold}}
            {{> sponsor }}
        {{/sponsors-gold}}
    </div>
    <div>&nbsp;</div>
{{/has-sponsors-gold}}
{{#has-sponsors-accessibility}}
    <div class="container-xxl mxt-section">
        <h2 >Pack {{#i18n}}sponsors.accessibility{{/i18n}}</h2>
        {{#sponsors-accessibility}}
            {{> sponsor }}
        {{/sponsors-accessibility}}
    </div>
    <div>&nbsp;</div>
{{/has-sponsors-accessibility}}
{{#has-sponsors-ecology}}
    <div class="container-xxl mxt-section">
        <h2>Pack {{#i18n}}sponsors.ecology{{/i18n}}</h2>
        {{#sponsors-ecology}}
            {{> sponsor }}
        {{/sponsors-ecology}}
    </div>
    <div>&nbsp;</div>
{{/has-sponsors-ecology}}
{{#has-sponsors-mixteen}}
    <div class="container-xxl mxt-section">
        <h2>Pack {{#i18n}}sponsors.mixteen{{/i18n}}</h2>
        {{#sponsors-mixteen}}
            {{> sponsor }}
        {{/sponsors-mixteen}}
    </div>
    <div>&nbsp;</div>
{{/has-sponsors-mixteen}}
{{#has-sponsors-silver}}
    <div class="container-xxl mxt-section">
        <h2>Pack {{#i18n}}sponsors.silver{{/i18n}}</h2>
        {{#sponsors-silver}}
            {{> sponsor }}
        {{/sponsors-silver}}
    </div>
    <div>&nbsp;</div>
{{/has-sponsors-silver}}
{{#has-sponsors-hosting}}
    <div class="container-xxl mxt-section">
        <h2>Pack {{#i18n}}sponsors.hosting{{/i18n}}</h2>
        {{#sponsors-hosting}}
            {{> sponsor }}
        {{/sponsors-hosting}}
    </div>
    <div>&nbsp;</div>
{{/has-sponsors-hosting}}
{{#has-sponsors-video}}
    <div class="container-xxl mxt-section">
        <h2>Pack {{#i18n}}sponsors.videos{{/i18n}}</h2>
        {{#sponsors-video}}
            {{> sponsor }}
        {{/sponsors-video}}
    </div>
{{/has-sponsors-video}}

{{> footer}}
