<div class="mb-5" id="{{sponsor.login}}">
</div>
<div class="mxt-sponsor--grid">
    <div class="image">
        {{#sponsor.isAbsoluteLogo}}
            <img src="{{sponsor.photoUrl}}"
                 id="{{#urlEncode}}{{sponsor.login}}{{/urlEncode}}"
                 alt="{{sponsor.company}}"
                 class="mxt-img--sponsors">
        {{/sponsor.isAbsoluteLogo}}
        {{^sponsor.isAbsoluteLogo}}
            <img src="{{sponsor.photoUrl}}"
                 data-src="{{sponsor.photoUrl}}"
                 class="mxt-img--sponsors mxt-img--lazyload"
                 id="{{#urlEncode}}{{sponsor.login}}{{/urlEncode}}"
                 alt="{{sponsor.company}}"
            >
        {{/sponsor.isAbsoluteLogo}}
    </div>
    <div>
        {{#markdown}}{{#sponsor.description}}{{sponsor.description}}{{/sponsor.description}}{{/markdown}}
        <ul class="mxt-wrapper-list-inline">
            {{#sponsor.links}}
                <li><a href="{{url}}" target="_blank">{{name}}</a></li>
            {{/sponsor.links}}
        </ul>
    </div>
</div>
