{{> header}}

<div class="row align-middle">
  <div class="columns large-8 large-centered">

    <div class="text-center">
      <img src="/images/{{sponsor.logoUrl}}" class="mxt-img--sponsor" />
    </div>

     <p>
        {{#sponsor.links}}
                <a href="{{url}}">{{name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {{/sponsor.links}}
    </p>

     <p>{{description}}</p>

  </div>
</div>

{{> footer}}
