<div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
        {{#sponsors}}
            <div class="text-center row justify-content-md-center">
                {{#sponsors-gold}}
                    <div class="col-3 text-center col-md-2">
                        {{> sponsor-detail }}
                    </div>
                {{/sponsors-gold}}
                {{#sponsors-others}}
                    <div class="col-2 col-md-1 text-center">
                        {{> sponsor-detail }}
                    </div>
                {{/sponsors-others}}
            </div>
        {{/sponsors}}
    </div>
</div>