{{> header}}

<div class="container-xxl">
    {{> talks-header}}
    {{^talks.entrySet}}
        <p class="lead pt-5">{{#i18n}}talks.content{{/i18n}}</p>

        <div class="mxt-tracks row">
            <div class="col-12 col-md-6 col-lg-4 row pt-2">
                <div class="col-4 col-md-3 col-lg-3 text-center">
                    <img src="/images/svg/mxt-icon--tech.svg" class="mxt-icon--cat__home"
                         alt="{{#i18n}}topics.tech.title{{/i18n}}">
                </div>
                <div class="col-8 col-md-9 col-lg-9">
                    <h3 style="margin-bottom: -0.2rem;">{{#i18n}}topics.tech.title{{/i18n}}</h3>
                    <small>{{#i18n}}topics.tech.description{{/i18n}}</small>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 row pt-2">
                <div class="col-4 col-md-3 col-lg-3 text-center">
                    <img src="/images/svg/mxt-icon--design.svg" class="mxt-icon--cat__home"
                         alt="{{#i18n}}topics.design.title{{/i18n}}">
                </div>
                <div class="col-8 col-md-9 col-lg-9">
                    <h3 style="margin-bottom: -0.2rem;">{{#i18n}}topics.design.title{{/i18n}}</h3>
                    <small>{{#i18n}}topics.design.description{{/i18n}}</small>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 row pt-2">
                <div class="col-4 col-md-3 col-lg-3 text-center">
                    <img src="/images/svg/mxt-icon--aliens.svg" class="mxt-icon--cat__home"
                         alt="{{#i18n}}topics.aliens.title{{/i18n}}">
                </div>
                <div class="col-8 col-md-9 col-lg-9">
                    <h3 style="margin-bottom: -0.2rem;">{{#i18n}}topics.aliens.title{{/i18n}}</h3>
                    <small>{{#i18n}}topics.aliens.description{{/i18n}}</small>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 row pt-2">
                <div class="col-4 col-md-3 col-lg-3 text-center">
                    <img src="/images/svg/mxt-icon--team.svg" class="mxt-icon--cat__home"
                         alt="{{#i18n}}topics.team.title{{/i18n}}">
                </div>
                <div class="col-8 col-md-9 col-lg-9">
                    <h3 style="margin-bottom: -0.2rem;">{{#i18n}}topics.team.title{{/i18n}}</h3>
                    <small>{{#i18n}}topics.team.description{{/i18n}}</small>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 row pt-2">
                <div class="col-4 col-md-3 col-lg-3 text-center">
                    <img src="/images/svg/mxt-icon--ethics.svg" class="mxt-icon--cat__home"
                         alt="{{#i18n}}topics.ethics.title{{/i18n}}">
                </div>
                <div class="col-8 col-md-9 col-lg-9">
                    <h3 style="margin-bottom: -0.2rem;">{{#i18n}}topics.ethics.title{{/i18n}}</h3>
                    <small>{{#i18n}}topics.ethics.description{{/i18n}}</small>
                </div>
            </div>
        </div>
{{/talks.entrySet}}
{{#hasTalk}}
        <div class="container-xxl mb-2">
            <nav class="navbar mxt-navbar--talks">
            {{#schedulingFileUrl}}
                <div class="nav-item">
                    <a href="{{schedulingFileUrl}}"
                       target="_blank" alt="{{#i18n}}talks.schedule{{/i18n}}"
                       class="nav-link mxt-navbar--nav-link">
                        <img src="/images/svg/mxt-icon-file-pdf-dark.svg"
                             class="mxt-icon--navbar me-2"
                             alt="{{#i18n}}talks.schedule.download{{/i18n}}">
                        {{#i18n}}talks.schedule.download{{/i18n}}</a>
                </div>
            {{/schedulingFileUrl}}
            <div class="nav-item ms-2">
                <a href="{{year}}/medias{{#topic}}/{{topic}}{{/topic}}"
                   alt="{{#i18n}}talks.medias{{/i18n}}"
                   class="nav-link mxt-navbar--nav-link">
                    <img src="/images/svg/mxt-icon-video-dark.svg"
                         class="mxt-icon--navbar me-2"
                         alt="{{#i18n}}medias.title{{/i18n}}"/>
                    {{#i18n}}medias.title{{/i18n}}
                </a>
            </div>
            {{#connected}}
                {{^filtered}}
                    <div class="nav-item ms-2">
                        <a href="{{localePrefix}}/{{year}}{{#topic}}/{{topic}}{{/topic}}/favorite"
                           alt="{{#i18n}}talks.favorites.filter{{/i18n}}"
                           class="nav-link mxt-navbar--nav-link">
                            <img src="/images/svg/favorites/mxt-favorite-dark.svg"
                                 class="mxt-icon--navbar me-2"
                                 alt="{{#i18n}}talks.favorites.filter{{/i18n}}"/>
                            {{#i18n}}talks.favorites.filter{{/i18n}}
                        </a>
                    </div>
                {{/filtered}}
            {{/connected}}
            </nav>
    </div>
    <div class="container-xxl pt-4 pb-4">
        <!-- Area used when user want to see the agenda view -->
        {{#isCurrent}}
            {{> talks-day-tab-criteria }}
        {{/isCurrent}}
        <ul class="nav nav-tabs mxt-nav-tabs" id="talks" role="tablist">
            {{#talks.day1}}
                {{> talks-day-tab }}
            {{/talks.day1}}
            {{#talks.day2}}
                {{> talks-day-tab }}
            {{/talks.day2}}
            {{#talks.day3}}
                {{> talks-day-tab }}
            {{/talks.day3}}
        </ul>
        <div class="tab-content">
            {{#isCurrent}}
            <div class="text-center lead p-2 mb-2">{{#i18n}}talks.welcome.start{{/i18n}}</div>
            {{/isCurrent}}
            {{#displayAgenda}}
                {{#talks.day1}}
                    {{> talks-day-tab-content-agenda }}
                {{/talks.day1}}
                {{#talks.day2}}
                    {{> talks-day-tab-content-agenda }}
                {{/talks.day2}}
                {{#talks.day3}}
                    {{> talks-day-tab-content-agenda }}
                {{/talks.day3}}
            {{/displayAgenda}}
            {{^displayAgenda}}
                {{#talks.day1}}
                    {{> talks-day-tab-content }}
                {{/talks.day1}}
                {{#talks.day2}}
                    {{> talks-day-tab-content }}
                {{/talks.day2}}
                {{#talks.day3}}
                    {{> talks-day-tab-content }}
                {{/talks.day3}}
            {{/displayAgenda}}
        </div>
{{/hasTalk}}
</div>

{{#connected}}
    <input type="hidden" id="email" value="{{email}}"/>
{{/connected}}

{{> footer-sponsor}}
