<html>
<head>
    <link rel="stylesheet" href="/css/mixit.css">
    <style>
        @media print {
            @page {
                margin-top: 1.6cm;
                margin-bottom: 1.1cm;
                margin-left: 0.8cm;
                margin-right: 0.8cm;
            }

            body {
                font-family: "Lato Light", Arial;
                background-color: white;
            }

            footer {
                page-break-after: always;
            }
        }

        .summary {
            width: 100%;
        }

        .summary div {
            display: block;
            max-height: 3em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    {{#talks}}
        <div class="mxt-accordion-talk-line row">
            <div class="text-center">
                <img src="/images/svg/mxt-icon--inversed.svg" alt="MiXiT logo" style="max-width:13em">
            </div>
            <h1 class="mt-2" style="color: #2c233d"><strong>{{title}}</strong></h1>
            <div>
                {{#topic}}
                    <div class="mxt-text--cat mxt-text--cat-{{topic}}">
                        <img src="/images/svg/mxt-icon--{{topic}}.svg" class="mxt-icon--cat mxt-icon--cat__talks"
                             alt="{{#i18n}}home.topics.{{topic}}.title{{/i18n}}"/>
                        <span>{{#i18n}}home.topics.{{topic}}.title{{/i18n}}</span>
                    </div>
                {{/topic}}
                <div class="d-inline">
                        {{#date}}{{date}}{{/date}}</small></div>
                / <strong>{{#start}}{{start}} - {{end}}{{/start}}</strong>
                / {{#isEn}}<span class="mxt-text--cat mxt-text--cat-en">EN</span> / {{/isEn}}
                <span class="mxt-text--cat-format">#{{#i18n}}talk.format.{{format}}{{/i18n}}</span>
                / <span class="mxt-text--cat-room">
                {{#i18n}}{{room}}{{/i18n}}</span>
            </div>
            <div class="row">
                <div>
                    <ul class="mxt-wrapper-list-inline m-0">
                        {{#speakers}}
                            <li>
                    <span class="mxt-text--cat mxt-text--cat-speaker"
                          style="background-color: #e6e6e6; padding-right: 0.3em;color: #2c233d">{{firstname}}
                        &nbsp;{{lastname}}</span>
                            </li>
                        {{/speakers}}
                    </ul>
                </div>

            </div>
            <div class="row summary">{{#markdown}}{{summary}}{{/markdown}}</div>
            <div class="mt-2">
                <table style="padding-left: 1em; background-color: white" class="table table-bordered mt-3 mb-5">
                    <tbody>
                    <tr>
                        <td width="25%" class="text-center" style="background-color: #ccc">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>I learnt something</strong><br>
                            J'ai appris quelque chose<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Too fast</strong><br>
                            Trop rapide<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center" style="background-color: #ccc">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Very interesting</strong><br>
                            Très interessant<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Could be more explored</strong><br>
                            Pas assez creusé<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" class="text-center">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Too slow</strong><br>
                            Trop lent<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center" style="background-color: #ccc">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>I loved live coding</strong><br>
                            J'ai aimé le live coding<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Unclear</strong><br>
                            Pas clair<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center" style="background-color: #ccc">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Fun</strong><br>
                            Fun<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" class="text-center" style="background-color: #ccc">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Lacks demo</strong><br>
                            Ca manque de démo<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Too complicated</strong><br>
                            Trop compliqué<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center" style="background-color: #ccc">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Very good talk</strong><br>
                            Très bon talk<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                        <td width="25%" class="text-center">
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                            <strong>Understood nothing</strong><br>
                            Je n'ai rien compris<br>
                            &nbsp;<br>&nbsp;<br>&nbsp;<br>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer></footer>
    {{/talks}}
</div>
</body>
</html>
