{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1 class="text-center">{{talk.title}}</h1>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-8 large-offset-2">
            <article class="callout">
                <div class="lead">{{talk.summary}}</div>
                <ul class="menu simple">
                    {{#talk.speakers}}
                        <li><a href="{{localePrefix}}/speaker/{{login}}">{{firstname}} {{lastname}}</a></li>
                    {{/talk.speakers}}
                </ul>
                <hr />             
                <p>{{talk.description}}</p>
                <p class="subheader"><strong>
                    {{talk.event}} / #{{talk.format}}
                    {{#talk.video}}
                        | &#x25ba;&nbsp;{{#i18n}}talk.video.watch{{/i18n}} <a href="{{talk.video}}">{{#i18n}}talk.video.thevideo{{/i18n}}</a>
                    {{/talk.video}}
                </strong></p>
            </article>
    </div>
</div>

{{> footer}}
