{{> header}}

<div class="mxt-wrapper--talks">
    <div class="row">
        <div class="columns large-8 large-offset-2 menu-centered text-center">
            <ul class="dropdown menu simple mxt-menu--talks" data-dropdown-menu>
                <li class="mxt-menu--talks-title"><h1>{{#i18n}}talks.title{{/i18n}}</h1></li>
                <li><a href="#" class="mxt-menu--talks-date">{{year}}</a>
                    <ul class="menu">
                        <li><a href="{{localePrefix}}/2017">2017</a></li>
                        <li><a href="{{localePrefix}}/2016">2016</a></li>
                        <li><a href="{{localePrefix}}/2015">2015</a></li>
                        <li><a href="{{localePrefix}}/2014">2014</a></li>
                        <li><a href="{{localePrefix}}/2013">2013</a></li>
                        <li><a href="{{localePrefix}}/2012">2012</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row">
        {{#talks}}
            <div class="callout">
                <div class="small-12 medium-6 medium-push-3 columns ">
                    <p><a href="{{localePrefix}}/{{event}}/{{slug}}" class="mxt-title--article">{{title}}</a></p>
                    <div>{{summary}}</div>
                    <p class="subheader">
                        <strong>{{#video}}
                            <p>&#x25ba;&nbsp;{{#i18n}}talk.video.watch{{/i18n}} <a href="{{video}}">{{#i18n}}talk.video.thevideo{{/i18n}}</a></p>
                        {{/video}}</strong>
                    </p>
                    <a href="{{localePrefix}}/{{event}}/{{slug}}" class="button hollow">{{#i18n}}talks.readmore{{/i18n}}</a>
                </div>
                <div class="small-12 medium-3 medium-pull-6 columns mxt-text--talkspeaker">
                    <ul class="menu vertical">
                        {{#speakers}}
                            <li class="menu-text">
                                {{#emailHash}}<div class="mxt-img-avatar__wrapper"><img src="https://www.gravatar.com/avatar/{{emailHash}}?s=100?d=%2Fimages%2Fsvg%2Fmxt-icon--d-avatar.svg" class="mxt-img-avatar__speaker"></div>{{/emailHash}}
                                <span>{{firstname}}&nbsp;{{lastname}}</span>
                            </li>
                        {{/speakers}}
                    </ul>
                    <div class="hide-for-small-only">
                        <hr />
                        <p>#{{format}}</p>
                    </div>
                </div>
                <div class="small-12 medium-3 columns mxt-text--talktime">
                    <span><strong>{{#date}}{{date}}{{/date}}, {{#start}}{{start}}{{/start}}</strong></span>
                    <p>{{#i18n}}{{room}}{{/i18n}}</p>
                    <div class="hide-for-small-only"><p>—</p></div>
                    {{#topic}}<a href="{{localePrefix}}/{{event}}/{{topic}}"><img src="/images/svg/mxt-icon--{{topic}}.svg" class="mxt-icon--cat mxt-icon--cat__talks" alt="{{#i18n}}home.topics.{{topic}}.title{{/i18n}}"></a>
                    <p class="mxt-text--cat mxt-text--cat5">{{#i18n}}home.topics.{{topic}}.title{{/i18n}}</p>{{/topic}}
                </div>
            </div>       
        {{/talks}}
    </div>
</div>
{{> footer}}
