{{> header}}

<div class="mxt-wrapper--talks">
    <div class="row">
        <div class="columns large-8 large-offset-2 menu-centered text-center">
            <ul class="dropdown menu simple mxt-menu--talks" data-dropdown-menu>
                <li class="mxt-menu--talks-title"><h1>{{#i18n}}talks.title{{#topic}}.{{topic}}{{/topic}}{{/i18n}}</h1></li>
                <li><a href="#" class="mxt-menu--talks-date"><h1>{{year}}</h1></a>
                    <ul class="menu">
                        <li><a href="{{localePrefix}}/2018{{#topic}}/{{topic}}{{/topic}}">2018</a></li>
                        <li><a href="{{localePrefix}}/2017{{#topic}}/{{topic}}{{/topic}}">2017</a></li>
                        <li><a href="{{localePrefix}}/2016{{#topic}}/{{topic}}{{/topic}}">2016</a></li>
                        <li><a href="{{localePrefix}}/2015{{#topic}}/{{topic}}{{/topic}}">2015</a></li>
                        <li><a href="{{localePrefix}}/2014{{#topic}}/{{topic}}{{/topic}}">2014</a></li>
                        <li><a href="{{localePrefix}}/2013{{#topic}}/{{topic}}{{/topic}}">2013</a></li>
                        <li><a href="{{localePrefix}}/2012{{#topic}}/{{topic}}{{/topic}}">2012</a></li>
                    </ul>
                </li>
            </ul>
            {{#connected}}
                {{#filtered}}<p>{{#i18n}}talks.favorites.filter.active{{/i18n}}</p>{{/filtered}}
                {{^filtered}}<p><a href="{{localePrefix}}/{{year}}{{#topic}}/{{topic}}{{/topic}}/favorite">{{#i18n}}talks.favorites.filter{{/i18n}}</a></p>{{/filtered}}
            {{/connected}}
            {{^current}}<p>{{#i18n}}talks.medias.see{{/i18n}} <a href="{{localePrefix}}/{{year}}/medias{{#topic}}/{{topic}}{{/topic}}">{{#i18n}}talks.medias{{/i18n}}</a></p>{{/current}}
        </div>
    </div>
</div>


<div class="mxt-wrapper--page-content">
    <div class="row">
        {{#talks.entrySet}}
            <div class="columns small-12 medium-12 {{#has2Columns}}large-6{{/has2Columns}}{{^has2Columns}}large-12{{/has2Columns}} callout">
                <!--{{#key}}<h2>{{key}}</h2><br/>{{/key}}-->
                <ul class="accordion" data-accordion>
                    {{#value}}
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">
                                {{#topic}}
                                    <div class="mxt-text--cat mxt-text--cat-{{topic}}">
                                        <img src="/images/svg/mxt-icon--{{topic}}.svg" class="mxt-icon--cat mxt-icon--cat__talks"
                                             alt="{{#i18n}}home.topics.{{topic}}.title{{/i18n}}"/>
                                        <span>{{#i18n}}home.topics.{{topic}}.title{{/i18n}}</span>
                                    </div>{{/topic}}
                                <h3 class="mxt-text--talktitle">
                                    {{#connected}}
                                        <button class="mxt-img--favorite">
                                            {{#favorite}}
                                                <img src="/images/svg/favorites/mxt-favorite.svg" id="favorite-{{id}}" class="mxt-icon--cat__talks" onclick="ctrl.favoriteToggle(event)"/>
                                            {{/favorite}}
                                            {{^favorite}}
                                                <img src="/images/svg/favorites/mxt-favorite-non.svg" id="favorite-{{id}}" class="mxt-icon--cat__talks" onclick="ctrl.favoriteToggle(event)"/>
                                            {{/favorite}}
                                        </button>
                                    {{/connected}}
                                    {{title}}
                                    {{#isEn}}<span class="mxt-text--cat mxt-text--cat-en">EN</span>{{/isEn}}
                                </h3>
                                <ul class="menu simple mxt-menu--accordion">
                                    <!--<li>{{#start}}{{start}}{{/start}} - {{#end}}{{end}}{{/end}}</li>-->
                                    {{#video}}
                                        <li><strong>&#x25ba; {{#i18n}}talks.title.video{{/i18n}}</strong></li>{{/video}}

                                        <li class="mxt-text--cat-format">#{{format}}</li>
                                </ul>
                            </a>
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <div class="row">
                                    <div class="small-7 medium-9 large-8 columns">
                                        <p class="mxt-text--cat-room">{{#i18n}}{{room}}{{/i18n}}</p>
                                        <div>{{#markdown}}{{summary}}{{/markdown}}</div>
                                    </div>
                                    <div class="small-5 medium-3 large-4 columns text-center">
                                        <ul class="menu vertical">
                                            {{#speakers}}
                                                <li class="menu-text">
                                                    <div class="mxt-img-avatar__wrapper"><img
                                                            data-src="{{^emailHash}}{{#photoUrl}}{{photoUrl}}{{/photoUrl}}{{/emailHash}}{{#emailHash}}https://www.gravatar.com/avatar/{{emailHash}}?s=100&d={{baseUri}}%2Fimages%2Fpng%2Fmxt-icon--default-avatar.png{{/emailHash}}"
                                                            class="mxt-img-avatar__speaker mxt-img--lazyload"></div>
                                                    <span>{{firstname}}&nbsp;{{lastname}}</span>
                                                </li>
                                            {{/speakers}}
                                        </ul>
                                        <hr/>
                                        <a href="{{localePrefix}}/{{event}}/{{slug}}" class="button hollow">{{#i18n}}talks.readmore{{/i18n}}</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{/value}}
                </ul>
            </div>
        {{/talks.entrySet}}
        {{^talks.entrySet}}
        <div class="columns small-12 medium-12 large-12 callout">
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        </div>
        {{/talks.entrySet}}
    </div>
    <div class="row">
        <div class="column large-12">
            {{#sponsors}}
                <hr/>
                <div class="align-center align-middle row">
                    {{#sponsors-gold}}
                        <div class="columns text-center large-2 medium-2 small-3">
                            {{> sponsor-detail }}
                        </div>
                    {{/sponsors-gold}}
                    {{#sponsors-others}}
                        <div class="columns text-center large-1 medium-1 small-2">
                            {{> sponsor-detail }}
                        </div>
                    {{/sponsors-others}}
                </div>
            {{/sponsors}}
        </div>
    </div>
</div>

{{#connected}}
    <input type="hidden" id="email" value="{{email}}"/>
{{/connected}}

{{> footer}}

<script async src="/js/talks.js"></script>
<script async src="/js/images.js"></script>
