<div class="tab-pane {{#active}}show active{{/active}}" id="{{id}}"
     aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}"
     role="tabpanel" aria-labelledby="day1-tab" tabindex="0">

    <div>
        {{#talks}}
            <div class="mxt-talks--container p-3 mb-3">
                <a href="{{localePrefix}}/{{event}}{{#slug}}/{{slug}}{{/slug}}" class="mxt-talks--container-link">
                    <div class="flex-fill">
                        <div class="mxt-text--cat-format">
                            {{#connected}}
                                {{#favorite}}
                                    <img src="/images/svg/favorites/mxt-favorite.svg" class="mxt-icon--cat__talks"
                                         id="favorite-{{id}}"/>
                                {{/favorite}}
                                {{^favorite}}
                                    <img src="/images/svg/favorites/mxt-favorite-non.svg"
                                         class="mxt-icon--cat__talks" id="favorite-{{id}}"/>
                                {{/favorite}}
                            {{/connected}}
                            &nbsp;<strong><small>#{{#i18n}}talk.format.{{format}}{{/i18n}}</small></strong>
                        </div>
                        <h3 class="mxt-text--talktitle">
                            {{title}}
                            {{#isEn}}<span class="mxt-text--cat mxt-text--cat-en">EN</span>{{/isEn}}
                        </h3>
                        <ul class="mxt-wrapper-list-inline mb-0 pb-0">
                            {{#speakers}}
                                <li><div class="mxt-text--cat mxt-text--cat-speaker">
                                    {{firstname}}&nbsp;{{lastname}}</div></li>
                            {{/speakers}}
                        </ul>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-right: 1em;justify-content: center;align-items: center">
                        {{#topic}}
                            <div class="mxt-text--cat mxt-text--cat-{{topic}}">
                                <img src="/images/svg/mxt-icon--{{topic}}.svg"
                                     class="mxt-icon--cat mxt-icon--cat__talks"
                                     alt="{{#i18n}}topics.{{topic}}.title{{/i18n}}"/>
                                <span>{{#i18n}}topics.{{topic}}.title{{/i18n}}</span>
                            </div>
                        {{/topic}}
                        <div>
                            <b><small>{{#start}}{{start}} - {{end}}{{/start}}</small></b>
                        </div>
                        <div class="mxt-text--cat-room">
                            {{#i18n}}{{room}}{{/i18n}}
                        </div>
                    </div>
                </a>
            </div>
        {{/talks}}
    </div>
</div>
