<li class="nav-item" role="presentation">
    <button class="mxt-nav-link btn btn-outline-primary {{#active}}active{{/active}} me-2"
            id="{{id}}-tab" data-bs-toggle="tab" data-bs-target="#{{id}}"
            type="button" role="tab" aria-controls="{{id}}"
            aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}">{{day}}</button>
</li>

