<h1 class="">{{#i18n}}talks.title{{#topic}}.{{topic}}{{/topic}}{{/i18n}}</h1>
{{> year-selector}}
<div class="mxt-talk-selector mt-3 mb-3">
    {{#tabs}}
        <div class="flex-fill text-center">
            <a href="{{localePrefix}}/{{year}}{{url}}"
            class="mxt-nav-link mxt-navbar--nav-link {{#active}}selected{{/active}}">{{#i18n}}talks.tab.{{name}}{{/i18n}}</a>
        </div>
    {{/tabs}}
</div>
