<a href="/sponsors/{{year}}/#{{#urlEncode}}{{sponsor.login}}{{/urlEncode}}">
    <picture>
        {{#sponsor.logoWebpUrl}}<source srcset="../{{sponsor.logoWebpUrl}}" type="image/webp" alt="{{sponsor.company}}" class="mxt-img--sponsors-home">{{/sponsor.logoWebpUrl}}
        <source srcset="../{{sponsor.photoUrl}}" type="{{sponsor.logoType}}" alt="{{sponsor.company}}" class="mxt-img--sponsors-home">
        <img src="../{{sponsor.photoUrl}}"  alt="{{sponsor.company}}" class="mxt-img--sponsors-home">
    </picture>
</a>
