<div>
    <div class="mxt-video--player-header">
        {{#topic}}
        <div class="mxt-text--cat mxt-text--cat-{{topic}}">
            <img src="/images/svg/mxt-icon--{{topic}}.svg" class="mxt-icon--cat mxt-icon--cat__talks"
                 alt="{{#i18n}}topics.{{topic}}.title{{/i18n}}"/>
            <span>{{#i18n}}topics.{{topic}}.title{{/i18n}} <b>{{event}}</b></span>
        </div>
        {{/topic}}
        <div class="flex-fill"></div>
        <div class="mxt-text--cat-format ps-2">
            <strong>#{{#i18n}}talk.format.{{format}}{{/i18n}}</strong>
        </div>
    </div>
    <div class="mxt-video--player-video">
        {{#vimeoPlayer}}
            <div class="mxt-wrapper--intrinsic">
                <iframe data-src="{{vimeoPlayer}}"
                        class="mxt-wrapper--video-player mxt-img--lazyload"
                        allowfullscreen></iframe>
            </div>
        {{/vimeoPlayer}}
        {{^vimeoPlayer}}
            {{#video}}
                <a href="{{video}}" target="_blank">
                    <img data-src="/images/svg/mxt-no-player.svg"
                         class="mxt-img--lazyload"
                         style="max-width: 100%"
                         alt="No video player"/>
                </a>
            {{/video}}
            {{#video2}}
                <div class="mxt-wrapper--intrinsic">
                    <iframe
                            src="{{.}}&autoplay=false"
                            class="mxt-wrapper--video-player"
                            allowfullscreen>
                </iframe>
            </div>
            {{/video2}}
        {{/vimeoPlayer}}
    </div>
    <div class="mxt-video--player-title text-center">
        <a class="mxt-media--link" aria-label="{{title}}"
           href="{{localePrefix}}/{{event}}/{{slug}}">{{title}}</a>
    </div>
    <div class="mxt-video--player-speaker text-center">
        {{#speakers}}
            <div>{{firstname}}&nbsp;{{lastname}}</div>
        {{/speakers}}
    </div>
</div>
