{{> header}}

<div class="mxt-wrapper--space"></div>

<div class="row">
    <div class="column large-8 large-offset-2">

        <h1 class="text-center">{{#i18n}}team.title{{/i18n}}</h1>
        <p class="text-center">{{#i18n}}team.story1{{/i18n}}</p>
        <p class="text-center">{{#i18n}}team.story2{{/i18n}}</p>
        <p class="text-center">{{#i18n}}team.story3{{/i18n}}</p>
        <hr/>

        <h2 class="subheader text-center">{{#i18n}}team.teamtitle{{/i18n}}</h2>

        <div class="row mxt-wrapper--team align-middle">
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/a7562607fd2dda9889bd3ecc70d98beb" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Agnès Crépet<br/>
                <a href="http://ninja-squad.fr">Ninja Squad</a> Co-founder
                    - JUG Leader : <a href="http://www.lyonjug.org">Lyon JUG</a> &amp; Duchess France - Mix-IT Co-founder
                <ul class="menu simple">
                    <li><a href="http://ninja-squad.fr">Ninja Squad</a></li>
                    <li><a href="http://www.lyonjug.fr">Lyon JUG</a></li>
                    <li><a href="https://github.com/acrepet">GitHub</a></li>
                    <li><a href="http://www.cast-it.fr">Cast-IT</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/1305aa79d71e887dabb8f698c4c1ff9f" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Cyril Lacôte<br/>
                Développeur chez <a href="http://ninja-squad.fr">Ninja Squad</a> le jour (et CEO, bitch!), ex-organisateur de Mix-IT.
                <ul class="menu simple">
                    <li><a href="http://ninja-squad.fr">Ninja Squad</a></li>
                    <li><a href="https://github.com/clacote">GitHub</a></li>
                    <li><a href="http://clacote.free.fr/agilite.html">Agilité</a></li>
                    <li><a href="http://www.cast-it.fr">Cast-IT</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/77e014c109833d4751e24890f5b4d939" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Cédric Exbrayat<br/>
                Fondateur du JUG, de Mix-it et de <a href="http://ninja-squad.fr">Ninja Squad</a> et bloggeur <a href="http://hypedrivendev.wordpress.com">hype</a>
                <ul class="menu simple">
                    <li><a href="http://ninja-squad.fr">Ninja Squad</a></li>
                    <li><a href="https://github.com/cexbrayat">GitHub</a></li>
                    <li><a href="http://fr.linkedin.com/in/exbrayatcedric">LinkedIn</a></li>
                    <li><a href="http://hypedrivendev.wordpress.com/">Blog</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/4d294402a9548a1ffdfc49fa4d777b10" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Franck Depierre<br/>
                Passionate about learning, enjoy collaboration and love building products.
                <ul class="menu simple">
                    <li><a href="http://blog.lookingforanswers.me">Blog</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/6a02942d09e308952e758bf54a429fbc" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Grégory Alexandre<br/>
                Agiliste depuis plus de 6 ans et officiant, aujourd'hui, en tant qu'accompagnateur Agile chez Coactiv
                <ul class="menu simple">
                    <li><a href="http://www.coactiv.fr">Coactiv</a></li>
                    <li><a href="http://www.clt-services.com">CLT</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/a7ef977589f6718b060eb390250e090c" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Guillaume Ehret<br/>
                Développeur agile passionné par la technique et l'agilité, indépendant depuis 2015
                <ul class="menu simple">
                    <li><a href="http://javamind-fr.blogspot.fr/">Blog</a></li>
                    <li><a href="https://www.dev-mind.fr/">Dev-Mind</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/5865a6e299822c23b4bcc9204d4e22d4" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Mathieu Petitdant<br/>
                Développeur Java/Web et agiliste ... freelance.
                <ul class="menu simple">
                    <li><a href="http://www.devlyon.fr">DevLyon</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/c1f8d95084fb10d92763960a36f04b46" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Nicolas Pelloux-Prayer<br/>
                Mix-IT CoFounder - software craftman
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/03c0a459fd631e867bade2cc95517a4f" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Philippe Charrière<br/>
                Avant-vendeur "technophage", ex-dir tech, ex-dp, ex-cp, ex-archi, dev pour la vie
                <ul class="menu simple">
                    <li><a href="http://k33g.github.com/">GitHub</a></li>
                    <li><a href="https://twitter.com/k33g_org">Twitter</a></li>
                    <li><a href="https://fr.linkedin.com/in/phcharriere">LinkedIn</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/918e67363e4361447d7a01c11da8a767" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Romain Couturier<br/>
                Prenez une équipe, un projet, quelques bonnes pratiques, et saupoudrez d'agilité (sans modération)
                <ul class="menu simple">
                    <li><a href="http://www.terredagile.com/">Terre d'Agile</a></li>
                    <li><a href="http://talondagile.fr/">Talon d'Agile</a></li>
                    <li><a href="http://lyon.clubagilerhonealpes.org">CARA</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/04bf197ddd198f4ff3a50e93ebd37272" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Sébastien Deleuze<br/>
                Membre de l'équipe de développement de Spring Framework et Reactor chez Pivotal, fan de Kotlin et co-worker à La Cordée.
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/2f38a64d06efd5433027cc5b04265fb0" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Jessica Bordeau<br/>
                Interactive Design | Photography | Storytelling ッ Tweet about UX • front-end dev • film/photography.
                <ul class="menu simple">
                    <li><a href="http://www.jessicabordeau.com/">Site</a></li>
                    <li><a href="https://jessicabordeau.myportfolio.com/">Portfolio</a></li>
                </ul>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/bd0f602050b2f95901199d3a3789eb56" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Charles Bouttaz<br/>
                Développeur agile et craftsman, organisateur du Lyon JUG & Software Craftsmanship Lyon
                <ul class="menu simple">
                    <li><a href="https://twitter.com/CharlesBouttaz">Twitter</a></li>
                    <li><a href="http://www.lyonjug.fr">Lyon JUG</a></li>
                    <li><a href="https://www.meetup.com/fr-FR/Software-Craftsmanship-Lyon/">SW Craft Lyon</a></li>
                    <li><a href="https://www.linkedin.com/in/charles-bouttaz-18289a39/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{> footer}}
