{{> header}}

<div class="mxt-wrapper--space"></div>

<div class="row">
    <div class="column large-8 large-offset-2">

        <h1 class="text-center">{{#i18n}}team.title{{/i18n}}</h1>
        <p class="text-center">{{#i18n}}team.story1{{/i18n}}</p>
        <p class="text-center">{{#i18n}}team.story2{{/i18n}}</p>
        <p class="text-center">{{#i18n}}team.story3{{/i18n}}</p>
        <hr/>

        <h2 class="subheader text-center">{{#i18n}}team.teamtitle{{/i18n}}</h2>

        <div class="row mxt-wrapper--team align-middle">
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/a7562607fd2dda9889bd3ecc70d98beb" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Agnes CREPET <br/>
                <a href="http://ninja-squad.fr">Ninja Squad</a> Co-founder
                    - JUG Leader : <a href="http://www.lyonjug.org">Lyon JUG</a> &amp; Duchess France - Mix-IT Co-founder
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/1305aa79d71e887dabb8f698c4c1ff9f" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Cyril LACOTE <br/>
                Développeur chez <a href="http://ninja-squad.fr">Ninja Squad</a> le jour (et CEO, bitch!), ex-organisateur de Mix-IT.
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/77e014c109833d4751e24890f5b4d939" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Cédric EXBRAYAT <br/>
                Fondateur du JUG, de Mix-it et de <a href="http://ninja-squad.fr">Ninja Squad</a> et bloggeur <a href="http://hypedrivendev.wordpress.com">hype</a>
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/4d294402a9548a1ffdfc49fa4d777b10" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Franck DEPIERRE <br/>
                Passionate about learning, enjoy collaboration and love building products.
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/6a02942d09e308952e758bf54a429fbc" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Grégory ALEXANDRE <br/>
                Agiliste depuis plus de 6 ans et officiant, aujourd'hui, en tant qu'accompagnateur Agile chez Coactiv
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/a7ef977589f6718b060eb390250e090c" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Guillaume EHRET <br/>
                Developpeur agile passionné par la technique et l'agilité, indépendant depuis 2015
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/5865a6e299822c23b4bcc9204d4e22d4" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Mathieu PETITDANTDéveloppeur Java/Web et agiliste ... freelance.
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/c1f8d95084fb10d92763960a36f04b46" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Nicolas PELLOUX-PRAYER <br/>
                Mix-IT CoFounder - software craftman
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/03c0a459fd631e867bade2cc95517a4f" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Philippe CHARRIÈRE <br/>
                avant-vendeur "technophage", ex-dir tech, ex-dp, ex-cp, ex-archi, dev pour la vie
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/918e67363e4361447d7a01c11da8a767" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Romain COUTURIER <br/>
                Prenez une équipe, un projet, quelques bonnes pratiques, et saupoudrez d'agilité (sans modération)
            </div>

            <div class="small-12 columns">
                <hr/>
            </div>
            <div class="small-12 medium-4 columns text-center">
                <img src="https://www.gravatar.com/avatar/04bf197ddd198f4ff3a50e93ebd37272" class="mxt-img--team"/>
            </div>
            <div class="small-12 medium-8 columns">
                Sébastien DELEUZE <br/>
                Membre de l'équipe de développement de Spring Framework et Reactor chez Pivotal, fan de Kotlin et co-worker à La Cordée.</p>
            </div>
        </div>

    </div>
</div>

{{> footer}}
