{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-12">
            <h1 class="text-center">{{#i18n}}ticketing.title{{/i18n}} #mixit19</h1>
            <h2 class="text-center"><small>{{#i18n}}home.wrapper.dates{{/i18n}}</small></h2>
        </div>
    </div>
</div>

<p>&nbsp;</p>

<div class="mxt-wrapper--page-content">
    <div class="row">
        <div class="column large-12 callout">
            <div class="lead">
                {{#i18n}}ticketing.text{{/i18n}}
            </div>
            <hr/>
            <div>
                <h2>{{#i18n}}ticketing.description.why{{/i18n}}</h2>
                <p>{{#i18n}}ticketing.description.intro{{/i18n}}</p>
                <p>{{#i18n}}ticketing.description.how{{/i18n}}</p>
            </div>
            <hr/>
            <div>
                <p>{{#i18n}}ticketing.description.hack{{/i18n}}</p>
            </div>


                <div class="login-box">
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            <div class="row">
                                <div class="column large-12 callout">
                                    <div class="large-8 small-12 large-centered columns">
                                        <form action="/ticketing" method="post">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <input type="text" name="firstname" placeholder="{{#i18n}}ticketing.firstname{{/i18n}}" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <input type="text" name="lastname" placeholder="{{#i18n}}ticketing.lastname{{/i18n}}" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <input type="email" name="email" placeholder="{{#i18n}}ticketing.email{{/i18n}}" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="large-12 large-centered columns">
                                                    <input type="submit" class="button expand" value="{{#i18n}}ticketing.submit{{/i18n}}"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div>
                <p>{{#i18n}}ticketing.description.plus{{/i18n}}</p>
            </div>

            <div class="row" class="mxt-img--talk__portfolio">
                <div class="mxt-img--talk"><a href="https://farm5.staticflickr.com/4165/34230277200_f6f40b6662_z_d.jpg"><img
                        src="https://farm5.staticflickr.com/4165/34230277200_f6f40b6662_z_d.jpg" aria-label="Closing keynote" class="mxt-img--grayscale"/></a></div>
                <div class="mxt-img--talk"><a href="https://farm5.staticflickr.com/4174/34574860086_0f032da82c_z_d.jpg"><img
                        src="https://farm5.staticflickr.com/4174/34574860086_0f032da82c_z_d.jpg" aria-label="CPE Lyon" class="mxt-img--grayscale"/></a></div>
                <div class="mxt-img--talk"><a href="https://farm5.staticflickr.com/4172/34485934691_037ebdd5d9_z_d.jpg"><img
                        src="https://farm5.staticflickr.com/4172/34485934691_037ebdd5d9_z_d.jpg" aria-label="CPE Lyon" class="mxt-img--grayscale"/></a></div>
            </div>
        </div>
    </div>

</div>

{{> footer}}
