{{> header}}

{{#users}}
    <ul>
        <li>{{#i18n}}user.hello{{/i18n}} <a href="/user/{{id}}">{{firstname}} {{lastname}}</a> (<a href="/api/user/{{id}}">API</a>)</li>
    </ul>
{{/users}}

{{> footer}}
