{{> header}}

<div class="container-xxl">
    <h1 class="pt-3 pb-3">
        {{#speakerYear}}{{#i18n}}user.speaker{{/i18n}} {{speakerYear}}{{/speakerYear}}
        {{^speakerYear}}{{#i18n}}user.standard{{/i18n}}{{/speakerYear}}
    </h1>
</div>

<div class="container-xxl">
    <h2 class="text-center mxt-title--talk" style="margin-bottom: 0">
        {{user.firstname}} {{user.lastname}}
    </h2>
    <div class="text-center">
        {{#user.photoUrl}}<img src="{{user.photoUrl}}" class="mxt-img-avatar__speaker">{{/user.photoUrl}}
        {{^user.photoUrl}}<img src="https://www.gravatar.com/avatar/{{#user.emailHash}}{{user.emailHash}}{{/user.emailHash}}?s=100&?s=100&d={{baseUri}}%2Fimages%2Fpng%2Fmxt-icon--default-avatar.png" class="mxt-img-avatar__speaker">{{/user.photoUrl}}
        {{#user.company}}<p class="text-center mxt-text-speaker-company">{{user.company}}</p>{{/user.company}}
        {{#connected}}
            {{^canUpdateProfile}}
            {{#admin}}
                <div class="mxt-text--page-title pb-3">
                    <a href="{{localePrefix}}/admin/users/edit/{{user.login}}" class="btn-outline-primary btn" style="margin-bottom: 0">{{#i18n}}common.actions.update{{/i18n}}</a>
                </div>
            {{/admin}}
            {{/canUpdateProfile}}
            {{#canUpdateProfile}}
                <div class="mxt-text--page-title pb-4">
                    <a href="{{localePrefix}}/me/edit" class="btn-outline-primary btn" style="margin-bottom: 0">{{#i18n}}profile.update{{/i18n}}</a>
                </div>
            {{/canUpdateProfile}}
        {{/connected}}
    </div>
    <div class="row">
        <div class="columns small-12 medium-12 large-12 callout">

            {{#markdown}}{{user.description}}{{/markdown}}
            <ul class="mxt-wrapper-list-inline">
                {{#user.links}}
                    <li><a href="{{url}}">{{name}}</a></li>
                {{/user.links}}
            </ul>
        </div>
        {{#viewMyProfile}}
        <div class="columns small-12 medium-12 large-12 callout">
            {{#user.newsletterSubscriber}}
                <b>{{#i18n}}user.form.newsletterSubscriber{{/i18n}}</b><br>
                <small>{{#i18n}}user.form.newsletterSubscriber.desc{{/i18n}}</small>
            {{/user.newsletterSubscriber}}
            {{^user.newsletterSubscriber}}
                <b>{{#i18n}}user.form.not.newsletterSubscriber{{/i18n}}</b><br>
                <small>{{#i18n}}user.form.not.newsletterSubscriber.desc{{/i18n}}
                    <a href="/newsletter-subscribe">{{#i18n}}user.form.not.newsletterSubscriber.link{{/i18n}}</a> </small>
            {{/user.newsletterSubscriber}}
        </div>
        {{/viewMyProfile}}
        {{#connected}}
        {{#canUpdateProfile}}
            <div class="columns small-12 medium-12 large-12 callout mt-3">
                <p>
                    {{#hasFeatureLottery}}
                        {{#lotteryTicket}}
                            <strong><img src="/images/svg/lottery/mxt-icon--ok.svg" class="mxt-icon--profile">&nbsp;{{#i18n}}profile.hasticket{{/i18n}}</strong>
                            {{^hasFeatureLotteryResult}}
                                {{#hasInterests}}
                                    <p>{{#i18n}}profile.hasticket.interest{{/i18n}}</p>
                                    <div id="interests-list" class="col-12 mt-2">
                                        <input name="interests" id="final-interests" type="hidden"/>
                                        <ul id="interests" class="mxt-interests">
                                            {{#interests}}
                                                <li>{{.}}</li>
                                            {{/interests}}
                                        </ul>
                                    </div>
                                {{/hasInterests}}
                                {{^hasInterests}}
                                    {{#i18n}}profile.hasticket.interest.no{{/i18n}}
                                {{/hasInterests}}
                            {{/hasFeatureLotteryResult}}
                        {{/lotteryTicket}}
                        {{^lotteryTicket}}
                            <strong><img src="/images/svg/lottery/mxt-icon--ko.svg" class="mxt-icon--profile">&nbsp;{{#i18n}}profile.hasnoticket{{/i18n}}</strong>
                        {{/lotteryTicket}}
                    {{/hasFeatureLottery}}
                    {{#hasFeatureLotteryResult}}
                        {{#lotteryTicket}}<strong>{{#i18n}}profile.hasticket.result{{/i18n}}</strong>
                            {{#lotteryTicket.rank}}<span class="badge bg-secondary font-bold">{{lotteryTicket.rank}}{{/lotteryTicket.rank}}</span>.
                            <br/>{{#i18n}}profile.hasticket.result2{{/i18n}}.
                        {{/lotteryTicket}}
                    {{/hasFeatureLotteryResult}}
                </p>
                <p>
                    {{#hasFeatureProfileWithMessages}}
                        {{#isSpeaker}}<strong><img src="/images/svg/lottery/mxt-ixon--clap.svg" class="mxt-icon--profile">&nbsp;{{#i18n}}profile.speaker{{/i18n}}</strong>{{/isSpeaker}}
                        {{^isSpeaker}}{{#attendeeTicket}}<strong><img src="/images/svg/lottery/mxt-ixon--clap.svg" class="mxt-icon--profile">&nbsp;{{#i18n}}profile.attendee{{/i18n}}</strong>{{/attendeeTicket}}{{/isSpeaker}}
                    {{/hasFeatureProfileWithMessages}}
                </p>
            </div>
        {{/canUpdateProfile}}
        {{/connected}}
    </div>
    <div class="row">
        <div class="columns small-12 medium-12 large-12 callout">
            <ul class="accordion" data-accordion>
                {{#talks}}
                    <article class="mb-4">
                        <h2><a href="{{localePrefix}}/{{event}}/{{slug}}" class="mxt-title--article">
                            <b>{{event}}</b> -{{title}}
                            {{#isEn}}<span class="mxt-text--cat mxt-text--cat-en">EN</span>{{/isEn}}
                        </a></h2>
                        <ul class="mxt-wrapper-list-inline mxt-menu--accordion">
                            {{#video}}<li><strong>&#x25ba; {{#i18n}}talks.title.video{{/i18n}}</strong></li>{{/video}}
                            <li class="mxt-text--cat-format">#{{format}}</li>
                        </ul>
                        <p>{{#markdown}}{{summary}}{{/markdown}}</p>
                        <a href="{{localePrefix}}/{{event}}/{{slug}}" class="btn btn-outline-primary align-center">{{#i18n}}talks.readmore{{/i18n}}</a>
                    </article>
                {{/talks}}
            </ul>
        </div>
    </div>
</div>
{{#connected}}{{#canUpdateProfile}}
<div class="container-xxl mt-4">
    <div><small>{{#i18n}}user.form.rgpd{{/i18n}}</small></div>
</div>
{{/canUpdateProfile}}
{{/connected}}
{{> footer}}
