{{> header}}


<div class="container-xxl">
    <h2 class="pt-3 pb-3">
        {{#i18n}}user.attendee{{/i18n}}
    </h2>
</div>

<div class="container-xxl">
    <h1 class="text-center mxt-title--talk" style="margin-bottom: 0">
        {{firstname}} {{lastname}}
    </h1>
    <p class="text-center"><strong>{{type}}</strong></p>
</div>

{{> footer}}
