{{> header}}


<div class="container-xxl">
    <h1 class="pt-3 pb-3">{{#i18n}}venue.title{{/i18n}}</h1>
</div>

<div class="container-xxl">
    <h2 class="text-center">{{#i18n}}venue.cpe.title{{/i18n}}</h2>

    <p class="text-center lead">{{#i18n}}venue.cpe.desc{{/i18n}}<a href="https://www.cpe.fr/coordonnees-acces-contact/" target="_blank"> CPE</a>: 3, rue Victor Grignard, 69100 Villeurbanne.</p>

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44532.84179104339!2d4.810176969092425!3d45.76512532471853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE%20Lyon!5e0!3m2!1sfr!2sfr!4v1679595963075!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br/>
        <a href="https://www.google.com/maps/place/CPE+Lyon/@45.7841638,4.8675628,17z" target="_blank">{{#i18n}}venue.map.link{{/i18n}}</a><br/>
    </div>

    <div class="d-flex pt-4 align-items-center">
        <div>
            <img src="/images/svg/transport/primary/transport_railway.svg" class="mxt-icon--social" alt="Come by train">
        </div>
        <div class="flex-fill">
            {{#i18n}}venue.transport.train.detail{{/i18n}}
        </div>
    </div>
     <div class="d-flex pt-4 align-items-center">
        <div>
            <img src="/images/svg/transport/primary/transport_bus.svg" class="mxt-icon--social" alt="Come by public transportation">
        </div>
         <div class="flex-fill">
            {{#i18n}}venue.transport.public.detail{{/i18n}}
        </div>
    </div>
     <div class="d-flex pt-4 align-items-center">
        <div>
            <img src="/images/svg/transport/primary/transport_bike.svg" class="mxt-icon--social" alt="Come by bike">
        </div>
         <div class="flex-fill">
            {{#i18n}}venue.transport.bike.detail{{/i18n}}
        </div>
    </div>
     <div class="d-flex pt-4 align-items-center">
        <div>
            <img src="/images/svg/transport/primary/transport_car.svg" class="mxt-icon--social" alt="Come by car">
        </div>
         <div class="flex-fill">
            {{#i18n}}venue.transport.car.detail{{/i18n}}
        </div>
    </div>
     <div class="d-flex pt-4 align-items-center">
        <div>
            <img src="/images/svg/transport/primary/transport_flight.svg" class="mxt-icon--social" alt="Come by flight">
        </div>
         <div class="flex-fill">
            {{#i18n}}venue.transport.plane.detail{{/i18n}}
        </div>
    </div>
</div>

<div class="container mxt-wrapper--page-content mt-4 mb-5">
        <h2 class="text-center">{{#i18n}}venue.floorplan.title{{/i18n}}</h2>

        <p class="text-center lead">{{#i18n}}venue.floorplan.desc{{/i18n}}</p>

        <img src="/images/facilities/cpe-floorplan-2025-basement.png" alt="CPE basement" style="max-width: 100%">

        <p><strong>{{#i18n}}venue.floorplan.sponsors{{/i18n}}</strong></p>
        <div class="row align-middle">
            <div class="col-6 col-sm-3">A : HACK YOUR JOB</div>
            <div class="col-6 col-sm-3">B : CLEVER CLOUD</div>
            <div class="col-6 col-sm-3">C : ESKER</div>
            <div class="col-6 col-sm-3">D : AGIXIS</div>
            <div class="col-6 col-sm-3">E : YOUNUP</div>
            <div class="col-6 col-sm-3">F : WORLDLINE</div>
            <div class="col-6 col-sm-3">G : OVH</div>
            <div class="col-6 col-sm-3">H : ENERGY POOL</div>
        </div>

        <img src="/images/facilities/cpe-floorplan-2025-groundfloor.png" alt="CPE groundfloor" style="max-width: 100%">
        <p><strong>{{#i18n}}venue.floorplan.sponsors{{/i18n}}</strong></p>
        <div class="row align-middle">
            <div class="col-6 col-sm-3">I : SHODO</div>
            <div class="col-6 col-sm-3">J : GROUPAMA</div>
            <div class="col-6 col-sm-3">Mixette : LE REFUGE</div>
            <div class="col-6 col-sm-3">Mixette : SOUTIENS MIGRANTS</div>
            <div class="col-6 col-sm-3">Mixette : ANCIELA</div>
        </div>

        <img src="/images/facilities/cpe-floorplan-2025-firstfloor.png" alt="CPE first floor" style="max-width: 100%">

        <p>&nbsp;</p>

        <img src="/images/facilities/cpe-floorplan-2025-mezzanine.png" alt="CPE mezzanine" style="max-width: 100%">


    </div>
</div>

{{#sponsors}}
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="text-center row justify-content-md-center">
                {{#sponsors-main}}
                    <div class="col-4 text-center col-md-3 col-lg-2">
                        {{> sponsor-detail }}
                    </div>
                {{/sponsors-main}}
            </div>
            <div class="text-center row justify-content-md-center">
                {{#sponsors-others}}
                    <div class="col-3 col-md-2 col-lg-1 text-center">
                        {{> sponsor-detail }}
                    </div>
                {{/sponsors-others}}
            </div>
        </div>
    </div>
{{/sponsors}}

{{> footer}}
