{{> header}}
<div style="background-color: #2c233d">
    <div style="float: right;color: white;padding-right: 1em"><a href="/2021/logout">{{#i18n}}work-adventure.signout{{/i18n}}</a></div>
    <div style="color: white;text-align: center">
        <a class="button expand"
           href="/2021/work-adventure" target="work-adventure">Work Adventure</a>
        <input type="button"  class="button hollow" disabled value="Live streaming"></input>
    </div>
    <script>
        function updateVisibility(elt, value) {
            var elements = document.getElementsByClassName(elt);
            for (let i = 0; i < elements.length; i++) {
                elements.item(i).style.display = value;
            }
        }
        function hideTranscription() {
            updateVisibility('hiddable', 'none');
            updateVisibility('showable', 'inline');
        }
        function showTranscription() {
            updateVisibility('hiddable', 'inline');
            updateVisibility('showable', 'none');
        }
    </script>
    <div class="mxt-wrapper--page-title">
        <div class="row">
            <div class="columns large-12 menu-centered">
                <div style="color: white; padding-bottom: 1em">
                Suite au problème d'hier nous avons mis de côté Vimeo et nous vous proposons d'utiliser une solution
                locale qui nous est mise à disposition par l'école des Mines de Saint Etienne. Un <b>GRAND GRAND MERCI</b> à eux.
                Pour vous connectez, cliquer sur l'image ci dessous et saisissez votre nom. Les vidéos et le chat sont
                disponible sur cette plateforme
                </div>
                <div>
                    <a href="https://webconf.emse.fr/agn-h8c-0ng-azy" target="_blank"><img src="/images/png/2021-diffusion.png"></a>
                </div>
            </div>
        </div>
    </div>
<!--    <div style="display:flex;align-items: flex-start;flex-wrap:wrap; flex-direction: column">-->
<!--        <div style="color: white">-->

<!--        </div>-->
<!--        <div>-->
<!--            <a href="https://webconf.emse.fr/agn-h8c-0ng-azy"><img src="/images/png/2021-diffusion.png"></a>-->
<!--        </div>-->


<!--        <iframe src="https://webconf.emse.fr/agn-h8c-0ng-azy"></iframe>-->

<!--        <div style="flex:2 1 auto;display: flex;flex-direction: column;margin-left: 0.5em;">-->
<!--            -->
<!--            -->
<!--            <iframe src="https://vimeo.com/event/1000773/embed/1b2dab9eba" allow="autoplay; fullscreen"-->
<!--                    allowfullscreen=""-->
<!--                    style="height: 65vh" frameborder="0">-->
<!--            </iframe>-->
<!--&lt;!&ndash;            <div style="height: 2vh;color: white">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="hiddable" onclick="hideTranscription()" style="cursor:pointer;color:#ff8d4e;display: none">{{#i18n}}vimeo.hide.transcription{{/i18n}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="showable" onclick="showTranscription()" style="cursor:pointer;color:#ff8d4e;">{{#i18n}}vimeo.show.transcription{{/i18n}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <iframe src="http://www.mixit2021.scribovox.fr/" class="hiddable" style="background-color:white;flex:1;height: 13vh;display: none" frameborder="0">&ndash;&gt;-->
<!--&lt;!&ndash;            </iframe>&ndash;&gt;-->
<!--            <div style="color: white"><a href="http://www.mixit2021.scribovox.fr/" target="_blank">Accéder à la transcription scribovox</a></div>-->
<!--        </div>-->
<!--        <iframe src="https://vimeo.com/event/1000773/chat/1b2dab9eba" style="margin-right:0.5em;margin-left: 0.5em;flex:1;height: 80vh" frameborder="0">-->
<!--        </iframe>-->
<!--    </div>-->
<!--    <div style="height: 10vh"></div>-->
</div>
{{> footer-light}}
