{{> header}}
<div style="background-color: #2c233d">
    <div style="color: white;text-align: center">
        <a class="button expand"
           href="/work-adventure-world">Work Adventure</a>
        <input type="button"  class="button hollow" disabled value="Live streaming"></input>
    </div>
    <div style="display:flex;align-items: flex-start;flex-wrap:wrap;">
        <div style="flex:2 1 auto;display: flex;flex-direction: column;margin-left: 0.5em;">
            <iframe src="https://vimeo.com/event/876971/embed/8ac6cb9555" allow="autoplay; fullscreen"
                    allowfullscreen=""
                    style="height: 65vh" frameborder="0">
            </iframe>
            <iframe src="http://www.mixit2021.scribovox.fr/" style="flex:1;height: 14vh" frameborder="0">
            </iframe>
        </div>

        <iframe src="https://vimeo.com/event/876971/chat/8ac6cb9555" style="margin-right:0.5em;margin-left: 0.5em;flex:1;height: 79vh" frameborder="0">
        </iframe>
    </div>
    <div style="height: 10vh"></div>
</div>
{{> footer-light}}
