{{> header}}
<div style="background-color: #2c233d">
    <div style="float: right;color: white;padding-right: 1em">
        <a href="/2021/help">{{#i18n}}work-adventure.help{{/i18n}}</a> /
        <a href="/2021/logout">{{#i18n}}work-adventure.signout{{/i18n}}</a></div>
    <div style="color: white;text-align: center">
        <input type="button" class="button hollow" disabled value="Work Adventure"></input>
        <a class="button expand" target="live"
           href="/2021/live">Live streaming</a>
    </div>
    <script>
        navigator.mediaDevices.getUserMedia({ audio: true, video: true })
    </script>
    <iframe src="https://play.workadventu.re/register/%22{{token}}%22" allow="camera;microphone"
    style="width: 100vw; height: 90vh"></iframe>
</div>
{{> footer-light}}
