{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2 menu-centered text-center">
            <h1>{{#i18n}}work-adventure.title{{/i18n}}</h1>
            <span style="color: white">{{#i18n}}work-adventure.summarize{{/i18n}}</span>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row mxt-wrapper--row">
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.what.title{{/i18n}}</h2>
            <p>{{#i18n}}work-adventure.what.summarize{{/i18n}}</p>
        </div>
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.world.title{{/i18n}}</h2>
            <p>{{#i18n}}work-adventure.world.summarize{{/i18n}}</p>
            <ul>
                <li>{{#i18n}}work-adventure.world.welcomemap{{/i18n}}</li>
                <li>{{#i18n}}work-adventure.world.sponsormap{{/i18n}}</li>
                <li>{{#i18n}}work-adventure.world.chillmap{{/i18n}}</li>
            </ul>
        </div>
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.FAQ.title{{/i18n}}</h2>
            <h3>Comment venir ? </h3>
            <p>L'accès à WorkAdventure est réservé aux participants munis d'un billet. Ceux-ci recevront des indications afin de pouvoir se connecter.</p>
            <h3>L'espace est-il modéré ? </h3>
            <p>L'espace est modéré. Si vous avez besoin d'un modérateur, [Explication]</p>
            <h3>Et si je veux me promener mais sans qu'on me parle ni qu'on puisse me voir ? </h3>
            <p>Vous pouvez couper votre micro et / ou votre caméra. Rendez-vous sur WorkAdventure pour lire le tutorial.</p>
            <h3>Tout semble buggué, je ne peux plus me déplacer, comment faire ? </h3>
            <p>Tentez de recharger la page.</p>
        </div>
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.program.title{{/i18n}}</h2>
                <p>{{#i18n}}work-adventure.program.summarize{{/i18n}}</p>
            <h3>{{#i18n}}work-adventure.program.day1.title{{/i18n}}</h3>
                <p>{{#i18n}}work-adventure.program.allTheDay{{/i18n}}</p>
                <ul>
                    <li>Map Sponsor : retrouvez les espaces pour chaque sponsor</li>
                    <li>Stand Duchess - Map Chill & Chat : Permanence de 16 à 21h dans l'espace dédié</li>
                </ul>
                <p>{{#i18n}}work-adventure.program.schedule{{/i18n}}</p>
                <ul>
                    <li>16h15 et 20h15 - Stand MiXiT - Map Chill & Chat : Spécial Quizz MiXiT par Gregory Alexandre</li>
                    <li>Stand AFUP - Map Chill & Chat : présentation du programme de mentorat de l’AFUP, par Cédric Mourizard</li>
                </ul>
            <h3>{{#i18n}}work-adventure.program.day2.title{{/i18n}}</h3>
                <p>{{#i18n}}work-adventure.program.allTheDay{{/i18n}}</p>
                    <ul>
                        <li>Village Sponsor : retrouvez les espaces pour chaque sponsor</li>
                        <li>Stand Duchess - Map Chill & Chat : Permanence de 16 à 21h dans l'espace dédié</li>
                    </ul>
                    <p>{{#i18n}}work-adventure.program.schedule{{/i18n}}</p>
                    <ul>
                        <li>16h15 et 20h15 - Stand MiXiT - Map Chill & Chat : Spécial Quizz MiXiT par Gregory Alexandre</li>
                        <li>Stand AFUP - Map Chill & Chat : présentation de la Veille de l’AFUP, la newsletter de veille dédiée à PHP, par Adrien Gallou</li>
                    </ul>
            <h3>{{#i18n}}work-adventure.program.day3.title{{/i18n}}</h3>
               <p>{{#i18n}}work-adventure.program.allTheDay{{/i18n}}</p>
                   <ul>
                       <li>Village Sponsor : retrouvez les espaces pour chaque sponsor</li>
                       <li>Stand Duchess - Map Chill & Chat : Permanence de 16 à 21h dans l'espace dédié</li>
                   </ul>
                   <p>{{#i18n}}work-adventure.program.schedule{{/i18n}}</p>
                   <ul>
                        <li>16h15 et 21h15 - Stand MiXiT - Map Chill & Chat : Spécial Quizz MiXiT par Gregory Alexandre</li>
                        <li>Stand AFUP - Map Chill & Chat : présentation du fonctionnement du baromètre des salaires en PHP de l’AFUP/ Journal du Net, par Adrien Gallou.</li>
                    </ul>
        </div>
                <div class="columns small-12 medium-12 large-12 callout">
                    <h2 class="align-center">Comment me repérer</h2>
                    <p>Voici quelques éléments de décor qui vous permettront d'y voir plus clair :</p>
                    <ul>
                        <li>Pour aller sur la map Sponsor</li>
                        <li>Pour aller sur la map Chill & Chat</li>
                        <li>Pour aller sur la map de Bienvenue</li>
                        <li>Pour ouvrir un lien d'information</li>
                </div>
                <div class="columns small-12 medium-12 large-12 callout">
                    <h2 class="align-center">Les associations présentes</h2>
                    <p>Retrouvez-les sur la map "Chat & Chill"</p>
                    <ul>
                        <li>Afup</li>
                        <li>Drupal</li>
                        <li>Mixteen</li>
                        <li>Duchess</li>
                </div>
                <div class="columns small-12 medium-12 large-12 callout">
                    <h2 class="align-center">Les sponsors</h2>
                    <p>Retrouvez-les sur la map "Sponsor"</p>

                    <ul>
                        <li>Braincube</li>
                        <li>RedFroggy</li>
                        <li>Feelinjob</li>
                        <li>Woonoz</li>
                        <li>ISR</li>
                        <li>Talan</li>
                        <li>HIIT</li>
                        <li>Enedis</li>
                        <li>Sopra Steria</li>
                        <li>Shodo</li>
                        <li>Molea Software</li>
                        <li>CGI</li>
                        <li>Neo9</li>
                        <li>Esker</li>
                        <li>Conserto</li>
                </div>
    </div>
</div>

{{> footer}}
