{{> header}}
<div style="background-color: #2c233d">
    <div style="color: white;text-align: center">
        <input type="button"  class="button hollow" disabled value="Work Adventure"></input>
        <a  class="button expand"
            href="/vimeo-2021" >Live streaming</a>
    </div>
<iframe src="https://play.workadventu.re/_/global/mixitconf.github.io/workadventure/map.json?token={{token}}"
        style="width: 100vw; height: 90vh"></iframe>
</div>
{{> footer-light}}
