{{> header}}

<div class="mxt-wrapper--page-title">
    <div class="row">
        <div class="columns large-8 large-offset-2 menu-centered text-center">
            <h1>{{#i18n}}work-adventure.title{{/i18n}}</h1>
            <span style="color: white">{{#i18n}}work-adventure.summarize{{/i18n}}</span>
        </div>
    </div>
</div>

<div class="mxt-wrapper--page-content">
    <div class="row mxt-wrapper--row">
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.what.title{{/i18n}}</h2>
            <p>{{#i18n}}work-adventure.what.summarize{{/i18n}}</p>
        </div>
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.world.title{{/i18n}}</h2>
            <p>{{#i18n}}work-adventure.world.summarize{{/i18n}}</p>
            <ul>
                <li>{{#i18n}}work-adventure.world.welcomemap{{/i18n}}</li>
                <li>{{#i18n}}work-adventure.world.sponsormap{{/i18n}}</li>
                <li>{{#i18n}}work-adventure.world.chillmap{{/i18n}}</li>
            </ul>
        </div>
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.FAQ.title{{/i18n}}</h2>
            <h3>Comment venir ? </h3>
            <p>L'accès à WorkAdventure est réservé aux participants munis d'un billet. Ceux-ci recevront des indications afin de pouvoir se connecter.</p>
            <h3>L'espace est-il modéré ? </h3>
            <p>L'espace est modéré. Si vous avez besoin d'un modérateur, [Explication]</p>
            <h3>Et si je veux me promener mais sans qu'on me parle ni qu'on puisse me voir ? </h3>
            <p>Vous pouvez couper votre micro et / ou votre caméra. Rendez-vous sur WorkAdventure pour lire le tutorial.</p>
        </div>
        <div class="columns small-12 medium-12 large-12 callout">
            <h2 class="align-center">{{#i18n}}work-adventure.program.title{{/i18n}}</h2>
                <p>{{#i18n}}work-adventure.program.summarize{{/i18n}}</p>
            <h3>{{#i18n}}work-adventure.program.day1.title{{/i18n}}</h3>
                <p>{{#i18n}}work-adventure.program.allTheDay{{/i18n}}</p>
                <ul>
                    <li>Village Sponsor : retrouvez les espaces pour chaque sponsor</li>
                </ul>
                <p>{{#i18n}}work-adventure.program.schedule{{/i18n}}</p>
                <ul>
                    <li>16h, carte Chat & Chill : Mini-conf "Le programme de mentorat" - AFUP </li>
                    <li>17h, carte Chat & Chill : Mini-conf "Le programme de mentorat" - AFUP </li>
                </ul>
            <h3>{{#i18n}}work-adventure.program.day2.title{{/i18n}}</h3>
                <p>{{#i18n}}work-adventure.program.allTheDay{{/i18n}}</p>
                    <ul>
                        <li>Village Sponsor : retrouvez les espaces pour chaque sponsor</li>
                    </ul>
                    <p>{{#i18n}}work-adventure.program.schedule{{/i18n}}</p>
                    <ul>
                        <li>16h, carte Chat & Chill : Mini-conf "Le programme de mentorat" - AFUP </li>
                        <li>17h, carte Chat & Chill : Mini-conf "Le programme de mentorat" - AFUP </li>
                    </ul>
            <h3>{{#i18n}}work-adventure.program.day3.title{{/i18n}}</h3>
               <p>{{#i18n}}work-adventure.program.allTheDay{{/i18n}}</p>
                   <ul>
                       <li>Village Sponsor : retrouvez les espaces pour chaque sponsor</li>
                   </ul>
                   <p>{{#i18n}}work-adventure.program.schedule{{/i18n}}</p>
                   <ul>
                       <li>Village Sponsor : retrouvez les espaces pour chaque sponsor</li>
                       <li>16h, carte Chat & Chill : Mini-conf "Le programme de mentorat" - AFUP</li>
                       <li>17h, carte Chat & Chill : Mini-conf "Le programme de mentorat" - AFUP</li>
                   </ul>
        </div>
                <div class="columns small-12 medium-12 large-12 callout">
                    <h2 class="align-center">Comment me repérer</h2>
                    <p>Voici quelques éléments de décor qui vous permettront d'y voir plus clair :</p>
                </div>
    </div>
</div>

{{> footer}}
